In [1]:
!ls data/finance_sales

2003_bronx.xls        2007_statenisland.xls 2012_queens.xls
2003_brooklyn.xls     2008_bronx.xls        2012_statenisland.xls
2003_manhattan.xls    2008_brooklyn.xls     2013_bronx.xls
2003_queens.xls       2008_manhattan.xls    2013_brooklyn.xls
2003_statenisland.xls 2008_queens.xls       2013_manhattan.xls
2004_bronx.xls        2008_statenisland.xls 2013_queens.xls
2004_brooklyn.xls     2009_bronx.xls        2013_statenisland.xls
2004_manhattan.xls    2009_brooklyn.xls     2014_bronx.xls
2004_queens.xls       2009_manhattan.xls    2014_brooklyn.xls
2004_statenisland.xls 2009_queens.xls       2014_manhattan.xls
2005_bronx.xls        2009_statenisland.xls 2014_queens.xls
2005_brooklyn.xls     2010_bronx.xls        2014_statenisland.xls
2005_manhattan.xls    2010_brooklyn.xls     2015_bronx.xls
2005_queens.xls       2010_manhattan.xls    2015_brooklyn.xls
2005_statenisland.xls 2010_queens.xls       2015_manhattan.xls
2006_bronx.xls        2010_statenisland.xls 2015_queens.xls
2006_brooklyn.xls     2011_bronx.xls        2015_statenisland.xls
2006_manhattan.xls    2011_brooklyn.xls     2016_bronx.xls
2006_queens.xls       2011_manhattan.xls    2016_brooklyn.xls
2006_statenisland.xls 2011_queens.xls       2016_manhattan.xls
2007_bronx.xls        2011_statenisland.xls 2016_queens.xls
2007_brooklyn.xls     2012_bronx.xls        2016_statenisland.xls
2007_manhattan.xls    2012_brooklyn.xls     data_dictionary.pdf
2007_queens.xls       2012_manhattan.xls

In [2]:
import pandas as pd
import numpy as np
from merge_pluto_finance import *

In [3]:
boros = ['brooklyn', 'manhattan']
pluto = read_in_pluto(boros)

In [4]:
years = [2014, 2015]
finance = read_in_finance(boros, years)

Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_manhattan

In [5]:
finance.columns

Index(['sale_price', 'sale_date', 'tax_class_at_time_of_sale', 'year_built',
       'residential_units', 'commercial_units', 'total_units'],
      dtype='object')

In [6]:
finance.isnull().sum()

sale_price                   0
sale_date                    0
tax_class_at_time_of_sale    0
year_built                   0
residential_units            0
commercial_units             0
total_units                  0
dtype: int64

In [7]:
finance.head()

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units
10874,0,2014-03-21,4,1920,0,90,90
10763,1598000,2014-04-30,2,1920,1,0,1
10764,3309312,2014-05-23,2,1920,1,0,1
10765,1210000,2014-06-09,2,1920,1,0,1
10766,1333907,2014-05-21,2,1920,1,0,1

In [ ]:
#Categorical Variables:
    #tax_class_at_time_of_sale [1,2,3,4]