In [1]:
# https://pypi.python.org/pypi/geopy/1.11.0
import timeit
from geopy.distance import vincenty
import pandas as pd
import numpy as np
import math

In [2]:
tree = pd.read_csv('tree_clean.csv')
tree.head()

    latitude  longitude
0  40.735813 -73.958486
1  40.735969 -73.958512
2  40.736050 -73.958525
3  40.735464 -73.958851
4  40.735452 -73.958986

In [3]:
toy = pd.read_csv('toy_data.csv',index_col=0)
toy.head()

         Lat       Long         BBL
0  40.688799 -74.018675  1000010010
1  40.689920 -74.045337  1000010101
2  40.698188 -74.041329  1000010201
3        NaN        NaN  1000010301
4        NaN        NaN  1000010401

In [36]:
tree_count_col = []
for BBL_idx in range(10): #toy.index:
        BBL_loc = (toy['Lat'][BBL_idx],toy['Long'][BBL_idx])

        if any(math.isnan(n) for n in BBL_loc):
            tree_count_col.append(np.nan)
            
        else:
            tree_count = 0
            for t in range(10): #tree.index:
                tree_loc = (tree['latitude'][t],tree['longitude'][t] )
                tree_dist = vincenty(tree_loc, BBL_loc).miles
                if tree_dist < 0.25:
                    tree_count += 1
                else:
                    continue
            tree_count_col.append(tree_count)

print tree_count_col          
#toy['tree_count'] = tree_count_col
#tree.head()

[10, 0, 1, nan, nan, 10, 10, nan, 10, 10]