In [1]:
import pandas as pd
from pyproj import Proj
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn import cross_validation
from sklearn.metrics import mean_squared_error
import seaborn as sns
sns.set(color_codes=True)
import collections

%matplotlib inline

In [10]:
data_path = "data/merged/manhattan_brooklyn_2014_2015.csv"
df = pd.DataFrame.from_csv(data_path, index_col = False)
df.head()

,borough,block,schooldist,council,zipcode,ltdheight,splitzone,bldgclass,landuse,easements,...,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units,bbl_pluto,unit_bbl,price_per_sqft
0,BK,20.0,13.0,33.0,11201.0,0.0,0.0,RM,4.0,1.0,...,1598000,2014-04-30,2,1920,1,0,1,3.000208e+09,3.000201e+09,57.515117
1,BK,20.0,13.0,33.0,11201.0,0.0,0.0,RM,4.0,1.0,...,1598000,2014-04-30,2,1920,1,0,1,3.000208e+09,3.000201e+09,57.515117
2,BK,20.0,13.0,33.0,11201.0,0.0,0.0,RM,4.0,1.0,...,3309312,2014-05-23,2,1920,1,0,1,3.000208e+09,3.000201e+09,119.108552
3,BK,20.0,13.0,33.0,11201.0,0.0,0.0,RM,4.0,1.0,...,3309312,2014-05-23,2,1920,1,0,1,3.000208e+09,3.000201e+09,119.108552
4,BK,20.0,13.0,33.0,11201.0,0.0,0.0,RM,4.0,1.0,...,1210000,2014-06-09,2,1920,1,0,1,3.000208e+09,3.000201e+09,43.550245

In [12]:
df.shape

(84948, 51)

In [11]:
no_dups = df.drop_duplicates()
no_dups.shape

(20089, 51)

In [13]:
data_path = "data/merged/finance_manhattan_brooklyn_2014_2015.csv"
finance = pd.DataFrame.from_csv(data_path, index_col = False)
finance.head()

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units,block,bbl
0,0,2014-03-21,4,1920,0,90,90,1,3000010050
1,1598000,2014-04-30,2,1920,1,0,1,20,3000201001
2,3309312,2014-05-23,2,1920,1,0,1,20,3000201002
3,1210000,2014-06-09,2,1920,1,0,1,20,3000201003
4,1333907,2014-05-21,2,1920,1,0,1,20,3000201004

In [14]:
finance.shape

(138672, 9)

In [15]:
finance_no_dups = finance.drop_duplicates()
finance_no_dups.shape

(69336, 9)

In [17]:
data_path = "data/merged/pluto_manhattan_brooklyn_2014_2015.csv"
pluto = pd.DataFrame.from_csv(data_path, index_col = False)
pluto.head()

,borough,block,schooldist,council,zipcode,ltdheight,splitzone,bldgclass,landuse,easements,...,condono,xcoord,ycoord,zonemap,latitude,longitude,gross_sqft_pluto,garage,extension,countalter
0,BK,1,13.0,33.0,11201.0,0,0.0,D7,4.0,0,...,0.0,987624.0,195992.0,12d,40.704629,-73.987831,123199.0,0,0,1
1,BK,1,13.0,33.0,11201.0,0,1.0,E9,6.0,0,...,0.0,987838.0,195989.0,12d,40.704621,-73.987059,154400.0,0,0,2
2,BK,7,13.0,33.0,11201.0,0,0.0,G1,10.0,0,...,0.0,987216.0,195803.0,12d,40.704110,-73.989303,9585.0,0,0,1
3,BK,16,13.0,33.0,11201.0,0,0.0,Q0,9.0,0,...,0.0,986856.0,195975.0,12d,40.704582,-73.990601,5000.0,0,0,0
4,BK,18,13.0,33.0,11201.0,0,0.0,D5,3.0,0,...,0.0,987577.0,195811.0,12d,40.704132,-73.988001,211386.0,0,0,1

In [18]:
pluto_no_dups = pluto.drop_duplicates()
pluto_no_dups.shape

(305187, 41)

In [19]:
pluto.shape

(305187, 41)

In [35]:
finance.groupby(['sale_date'])

In [38]:
finance.sort(columns = ['bbl','sale_date'])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units,block,bbl
42290,0,2014-03-01,4,1900,0,0,0,1,1000010010
55548,0,2014-03-01,4,1900,0,0,0,1,1000010010
42291,30150000,2014-10-27,4,0,0,0,1,7,1000071001
55549,30150000,2014-10-27,4,0,0,0,1,7,1000071001
42292,0,2014-10-27,2,0,42,0,42,7,1000071002
55550,0,2014-10-27,2,0,42,0,42,7,1000071002
42293,44250000,2014-03-13,4,1930,0,11,11,8,1000080051
55551,44250000,2014-03-13,4,1930,0,11,11,8,1000080051
42294,10,2014-07-15,4,1987,0,0,0,9,1000090014
55552,10,2014-07-15,4,1987,0,0,0,9,1000090014
42295,128575277,2014-01-09,4,1930,0,64,64,10,1000100016
55553,128575277,2014-01-09,4,1930,0,64,64,10,1000100016
111898,0,2015-04-29,4,1908,3,1,4,11,1000110015
125285,0,2015-04-29,4,1908,3,1,4,11,1000110015
111899,14250000,2015-11-17,4,1930,0,5,5,11,1000110017
125286,14250000,2015-11-17,4,1930,0,5,5,11,1000110017
42296,173000000,2014-09-12,4,1935,0,22,22,11,1000110021
55554,173000000,2014-09-12,4,1935,0,22,22,11,1000110021
111900,1150000,2015-07-28,2,1930,1,0,1,15,1000151108
125287,1150000,2015-07-28,2,1930,1,0,1,15,1000151108
111901,575000,2015-06-23,2,1930,1,0,1,15,1000151136
125288,575000,2015-06-23,2,1930,1,0,1,15,1000151136
42297,670000,2014-07-23,2,1930,1,0,1,15,1000151152
55555,670000,2014-07-23,2,1930,1,0,1,15,1000151152
42298,569000,2014-05-22,2,1930,1,0,1,15,1000151156
55556,569000,2014-05-22,2,1930,1,0,1,15,1000151156
111902,565000,2015-03-12,2,1930,1,0,1,15,1000151160
125289,565000,2015-03-12,2,1930,1,0,1,15,1000151160
111903,675000,2015-06-12,2,1930,1,0,1,15,1000151170
125290,675000,2015-06-12,2,1930,1,0,1,15,1000151170
...,...,...,...,...,...,...,...,...,...
21138,179000,2014-04-15,1,1945,1,0,1,8946,3089460830
42283,179000,2014-04-15,1,1945,1,0,1,8946,3089460830
90344,350000,2015-07-02,1,1945,1,0,1,8946,3089460830
111890,350000,2015-07-02,1,1945,1,0,1,8946,3089460830
90345,300000,2015-11-13,1,1945,1,0,1,8946,3089460836
111891,300000,2015-11-13,1,1945,1,0,1,8946,3089460836
21139,300000,2014-12-05,1,1945,1,0,1,8946,3089460864
42284,300000,2014-12-05,1,1945,1,0,1,8946,3089460864
90346,0,2015-06-25,1,1945,1,0,1,8946,3089460864
111892,0,2015-06-25,1,1945,1,0,1,8946,3089460864
21140,0,2014-12-05,1,1925,0,0,0,8946,3089460866
42285,0,2014-12-05,1,1925,0,0,0,8946,3089460866
90347,0,2015-06-25,1,1925,0,0,0,8946,3089460866
111893,0,2015-06-25,1,1925,0,0,0,8946,3089460866
90348,0,2015-03-18,1,1945,1,0,1,8946,3089460872
111894,0,2015-03-18,1,1945,1,0,1,8946,3089460872
21141,320000,2014-03-27,1,1925,1,0,1,8946,3089460982
42286,320000,2014-03-27,1,1925,1,0,1,8946,3089460982
90349,0,2015-07-10,1,1925,1,0,1,8946,3089460996
111895,0,2015-07-10,1,1925,1,0,1,8946,3089460996
21142,0,2014-06-26,1,1925,1,0,1,8955,3089550168
42287,0,2014-06-26,1,1925,1,0,1,8955,3089550168
21143,505000,2014-08-27,1,1955,2,0,2,8955,3089550178
42288,505000,2014-08-27,1,1955,2,0,2,8955,3089550178
90350,690000,2015-12-21,1,1955,2,0,2,8955,3089550179
111896,690000,2015-12-21,1,1955,2,0,2,8955,3089550179
90351,395000,2015-09-15,1,1925,1,0,1,8955,3089550196
111897,395000,2015-09-15,1,1925,1,0,1,8955,3089550196
21144,500000,2014-06-06,1,1925,1,0,1,8955,3089550228
42289,500000,2014-06-06,1,1925,1,0,1,8955,3089550228

In [40]:
data_path = "data/merged/bronx_brooklyn_manhattan_queens_statenisland_2003_2016.csv"
new_df = pd.DataFrame.from_csv(data_path, index_col = False)
new_df.head()

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,lottype_1.0,lottype_2.0,lottype_3.0,lottype_4.0,lottype_5.0,lottype_6.0,lottype_7.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2,tax_class_at_time_of_sale_3
0,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0,0
1,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0,0,0,0,1,0,0,1,0,0
2,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
3,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
4,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0

In [41]:
new_df.shape

(187187, 303)

In [43]:
new_df.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark', 'bbl',
       'xcoord', 'ycoord', 'zonemap', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'sale_price', 'sale_date', 'year_built', 'residential_units',
       'commercial_units', 'total_units', 'price_per_sqft', 'subwaydist',
       'botanical_gardens_dist', 'path_stations_dist', 'libraries_dist',
       'colleges_dist', 'sidewalk_cafes_dist', 'day_care_centers_dist',
       'dsny_special_waste_dist', 'link_nyc_centers_dist',
       'beacon_centers_dist', 'out_of_school_youth_centers_dist',
       'runaway_homeless_youth_centers_dist',
       'agency_service_centers_dist',
       'summer_youth_employment_centers_dist',
       'adult_continuing_ed_centers_dist',
       'young_adult_internship_centers_dist', 'after_school_programs_dist',
       'wifi_hotpots_dist', 'public_pay_phone_dist', 'museums_dist',
       'theaters_dist', 'art_galleries_dist',
       'hurricane_evacuation_centers_dist', 'airports_dist',
       'spray_showers_dist', 'post_offices_dist', 'landuse_mv',
       'ownertype_mv', 'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv',
       'lotfront_mv', 'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv',
       'proxcode_mv', 'xcoord_mv', 'ycoord_mv', 'zonemap_mv',
       'latitude_mv', 'longitude_mv', 'subwaydist_mv',
       'botanical_gardens_dist_mv', 'path_stations_dist_mv',
       'libraries_dist_mv', 'colleges_dist_mv', 'sidewalk_cafes_dist_mv',
       'day_care_centers_dist_mv', 'dsny_special_waste_dist_mv',
       'link_nyc_centers_dist_mv', 'beacon_centers_dist_mv',
       'out_of_school_youth_centers_dist_mv',
       'runaway_homeless_youth_centers_dist_mv',
       'agency_service_centers_dist_mv',
       'summer_youth_employment_centers_dist_mv',
       'adult_continuing_ed_centers_dist_mv',
       'young_adult_internship_centers_dist_mv',
       'after_school_programs_dist_mv', 'wifi_hotpots_dist_mv',
       'public_pay_phone_dist_mv', 'museums_dist_mv', 'theaters_dist_mv',
       'art_galleries_dist_mv', 'hurricane_evacuation_centers_dist_mv',
       'airports_dist_mv', 'spray_showers_dist_mv', 'post_offices_dist_mv',
       'borough_BK', 'schooldist_1.0', 'schooldist_2.0', 'schooldist_3.0',
       'schooldist_4.0', 'schooldist_5.0', 'schooldist_6.0',
       'schooldist_10.0', 'schooldist_13.0', 'schooldist_14.0',
       'schooldist_15.0', 'schooldist_16.0', 'schooldist_17.0',
       'schooldist_18.0', 'schooldist_19.0', 'schooldist_20.0',
       'schooldist_21.0', 'schooldist_22.0', 'schooldist_23.0',
       'council_1.0', 'council_2.0', 'council_3.0', 'council_4.0',
       'council_5.0', 'council_6.0', 'council_7.0', 'council_8.0',
       'council_9.0', 'council_10.0', 'council_33.0', 'council_34.0',
       'council_35.0', 'council_36.0', 'council_37.0', 'council_38.0',
       'council_39.0', 'council_40.0', 'council_41.0', 'council_42.0',
       'council_43.0', 'council_44.0', 'council_45.0', 'council_46.0',
       'council_47.0', 'bldgclass_A1', 'bldgclass_A2', 'bldgclass_A3',
       'bldgclass_A4', 'bldgclass_A5', 'bldgclass_A7', 'bldgclass_A9',
       'bldgclass_B1', 'bldgclass_B2', 'bldgclass_B3', 'bldgclass_B9',
       'bldgclass_C0', 'bldgclass_C1', 'bldgclass_C2', 'bldgclass_C3',
       'bldgclass_C4', 'bldgclass_C5', 'bldgclass_C6', 'bldgclass_C7',
       'bldgclass_C8', 'bldgclass_C9', 'bldgclass_D0', 'bldgclass_D1',
       'bldgclass_D2', 'bldgclass_D3', 'bldgclass_D4', 'bldgclass_D5',
       'bldgclass_D6', 'bldgclass_D7', 'bldgclass_D8', 'bldgclass_D9',
       'bldgclass_E1', 'bldgclass_E7', 'bldgclass_E9', 'bldgclass_F1',
       'bldgclass_F2', 'bldgclass_F4', 'bldgclass_F5', 'bldgclass_F9',
       'bldgclass_G1', 'bldgclass_G2', 'bldgclass_G4', 'bldgclass_G5',
       'bldgclass_G7', 'bldgclass_G8', 'bldgclass_G9', 'bldgclass_GU',
       'bldgclass_GW', 'bldgclass_H1', 'bldgclass_H2', 'bldgclass_H3',
       'bldgclass_H6', 'bldgclass_HB', 'bldgclass_HS', 'bldgclass_I1',
       'bldgclass_I4', 'bldgclass_I5', 'bldgclass_I6', 'bldgclass_I7',
       'bldgclass_I9', 'bldgclass_J1', 'bldgclass_J2', 'bldgclass_J5',
       'bldgclass_J6', 'bldgclass_J8', 'bldgclass_K1', 'bldgclass_K2',
       'bldgclass_K3', 'bldgclass_K4', 'bldgclass_K5', 'bldgclass_K7',
       'bldgclass_K9', 'bldgclass_L1', 'bldgclass_L3', 'bldgclass_L8',
       'bldgclass_L9', 'bldgclass_M1', 'bldgclass_M9', 'bldgclass_N1',
       'bldgclass_N2', 'bldgclass_N9', 'bldgclass_O1', 'bldgclass_O2',
       'bldgclass_O3', 'bldgclass_O4', 'bldgclass_O5', 'bldgclass_O6',
       'bldgclass_O7', 'bldgclass_O8', 'bldgclass_O9', 'bldgclass_P1',
       'bldgclass_P2', 'bldgclass_P3', 'bldgclass_P5', 'bldgclass_P7',
       'bldgclass_P9', 'bldgclass_R1', 'bldgclass_R2', 'bldgclass_R3',
       'bldgclass_R4', 'bldgclass_R6', 'bldgclass_R9', 'bldgclass_RB',
       'bldgclass_RC', 'bldgclass_RD', 'bldgclass_RH', 'bldgclass_RI',
       'bldgclass_RM', 'bldgclass_RX', 'bldgclass_RZ', 'bldgclass_S0',
       'bldgclass_S1', 'bldgclass_S2', 'bldgclass_S3', 'bldgclass_S4',
       'bldgclass_S5', 'bldgclass_S9', 'bldgclass_V1', 'bldgclass_W1',
       'bldgclass_W2', 'bldgclass_W3', 'bldgclass_W4', 'bldgclass_W6',
       'bldgclass_W7', 'bldgclass_W8', 'bldgclass_W9', 'bldgclass_Y4',
       'bldgclass_Y6', 'bldgclass_Z4', 'landuse_1.0', 'landuse_2.0',
       'landuse_3.0', 'landuse_4.0', 'landuse_5.0', 'landuse_6.0',
       'landuse_7.0', 'landuse_8.0', 'landuse_10.0', 'ownertype_C',
       'ownertype_M', 'ownertype_O', 'ownertype_P', 'proxcode_1.0',
       'proxcode_2.0', 'lottype_0.0', 'lottype_1.0', 'lottype_2.0',
       'lottype_3.0', 'lottype_4.0', 'lottype_5.0', 'lottype_6.0',
       'lottype_7.0', 'tax_class_at_time_of_sale_1',
       'tax_class_at_time_of_sale_2', 'tax_class_at_time_of_sale_3'], dtype=object)

In [45]:
pluto['bldgclass'] = pluto['bldgclass'].replace(['A1','A2','A3','A4','A5','A6','A7','A8','A9'], ['A' for i in range(9)])

In [48]:
pluto =

0         D7
1         E9
2         G1
3         Q0
4         D5
5         O6
6         E9
7         C7
8         E9
9         O2
10        F9
11        RM
12        E9
13        E7
14        T2
15        E9
16        J1
17        S3
18        O5
19        J2
20        L9
21        D7
22        RM
23        D7
24        RM
25        RM
26        E9
27        O5
28        S1
29         A
          ..
305157    C7
305158    D4
305159     B
305160    I1
305161    D4
305162    D1
305163    D1
305164    C1
305165    D1
305166    D1
305167    D1
305168    C1
305169    D1
305170     B
305171    C3
305172    D1
305173    R4
305174    D4
305175    D1
305176    C1
305177    C1
305178    D1
305179    D4
305180    D7
305181    D4
305182    D1
305183    C1
305184    D1
305185    D4
305186    C1
Name: bldgclass, dtype: object

In [47]:
pluto['bldgclass'] = pluto['bldgclass'].replace(['B1','B2','B3','B4','B5','B6','B7','B8','B9'], ['B' for i in range(9)])

In [49]:
data_path = "data/merged/manhattan_2010_2010.csv"
pluto = pd.DataFrame.from_csv(data_path, index_col = False)
pluto.head()

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_2.0,lottype_3.0,lottype_4.0,lottype_5.0,lottype_6.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2
0,10004.0,0.0,0.0,0.0,2725731.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,10004.0,0.0,0.0,0.0,1016406.0,0.0,1.0,22.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,10004.0,0.0,0.0,0.0,15218.0,4260.0,1.0,6.0,3.0,4.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10004.0,0.0,0.0,0.0,10000.0,168748.0,1.0,45.0,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,10004.0,0.0,0.0,0.0,10000.0,168748.0,1.0,45.0,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [50]:
pluto.shape

(8730, 161)

In [52]:
pluto.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark', 'bbl',
       'xcoord', 'ycoord', 'zonemap', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'sale_price', 'sale_date', 'year_built', 'residential_units',
       'commercial_units', 'total_units', 'price_per_sqft', 'subwaydist',
       'botanical_gardens_dist', 'path_stations_dist', 'libraries_dist',
       'colleges_dist', 'sidewalk_cafes_dist', 'day_care_centers_dist',
       'dsny_special_waste_dist', 'link_nyc_centers_dist',
       'beacon_centers_dist', 'out_of_school_youth_centers_dist',
       'runaway_homeless_youth_centers_dist',
       'agency_service_centers_dist',
       'summer_youth_employment_centers_dist',
       'adult_continuing_ed_centers_dist',
       'young_adult_internship_centers_dist', 'after_school_programs_dist',
       'wifi_hotpots_dist', 'public_pay_phone_dist', 'museums_dist',
       'theaters_dist', 'art_galleries_dist',
       'hurricane_evacuation_centers_dist', 'airports_dist',
       'spray_showers_dist', 'post_offices_dist', 'ownertype_mv',
       'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv', 'lotfront_mv',
       'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv', 'proxcode_mv',
       'xcoord_mv', 'ycoord_mv', 'latitude_mv', 'longitude_mv',
       'subwaydist_mv', 'botanical_gardens_dist_mv',
       'path_stations_dist_mv', 'libraries_dist_mv', 'colleges_dist_mv',
       'sidewalk_cafes_dist_mv', 'day_care_centers_dist_mv',
       'dsny_special_waste_dist_mv', 'link_nyc_centers_dist_mv',
       'beacon_centers_dist_mv', 'out_of_school_youth_centers_dist_mv',
       'runaway_homeless_youth_centers_dist_mv',
       'agency_service_centers_dist_mv',
       'summer_youth_employment_centers_dist_mv',
       'adult_continuing_ed_centers_dist_mv',
       'young_adult_internship_centers_dist_mv',
       'after_school_programs_dist_mv', 'wifi_hotpots_dist_mv',
       'public_pay_phone_dist_mv', 'museums_dist_mv', 'theaters_dist_mv',
       'art_galleries_dist_mv', 'hurricane_evacuation_centers_dist_mv',
       'airports_dist_mv', 'spray_showers_dist_mv', 'post_offices_dist_mv',
       'schooldist_1.0', 'schooldist_2.0', 'schooldist_3.0',
       'schooldist_4.0', 'schooldist_5.0', 'schooldist_6.0', 'council_1.0',
       'council_2.0', 'council_3.0', 'council_4.0', 'council_5.0',
       'council_6.0', 'council_7.0', 'council_8.0', 'council_9.0',
       'bldgclass_A', 'bldgclass_B', 'bldgclass_C', 'bldgclass_D',
       'bldgclass_G', 'bldgclass_H', 'bldgclass_H8', 'bldgclass_I',
       'bldgclass_J', 'bldgclass_K', 'bldgclass_L', 'bldgclass_M',
       'bldgclass_M3', 'bldgclass_N', 'bldgclass_O', 'bldgclass_R',
       'bldgclass_RA', 'bldgclass_RG', 'bldgclass_S', 'bldgclass_W',
       'bldgclass_Y', 'landuse_1.0', 'landuse_2.0', 'landuse_3.0',
       'landuse_4.0', 'landuse_5.0', 'landuse_6.0', 'landuse_7.0',
       'landuse_8.0', 'ownertype_C', 'ownertype_M', 'ownertype_O',
       'ownertype_P', 'proxcode_1.0', 'proxcode_2.0', 'lottype_0.0',
       'lottype_1.0', 'lottype_2.0', 'lottype_3.0', 'lottype_4.0',
       'lottype_5.0', 'lottype_6.0', 'tax_class_at_time_of_sale_1',
       'tax_class_at_time_of_sale_2'], dtype=object)