In [1]:
!ls data/finance_sales

2003_bronx.xls        2007_statenisland.xls 2012_queens.xls
2003_brooklyn.xls     2008_bronx.xls        2012_statenisland.xls
2003_manhattan.xls    2008_brooklyn.xls     2013_bronx.xls
2003_queens.xls       2008_manhattan.xls    2013_brooklyn.xls
2003_statenisland.xls 2008_queens.xls       2013_manhattan.xls
2004_bronx.xls        2008_statenisland.xls 2013_queens.xls
2004_brooklyn.xls     2009_bronx.xls        2013_statenisland.xls
2004_manhattan.xls    2009_brooklyn.xls     2014_bronx.xls
2004_queens.xls       2009_manhattan.xls    2014_brooklyn.xls
2004_statenisland.xls 2009_queens.xls       2014_manhattan.xls
2005_bronx.xls        2009_statenisland.xls 2014_queens.xls
2005_brooklyn.xls     2010_bronx.xls        2014_statenisland.xls
2005_manhattan.xls    2010_brooklyn.xls     2015_bronx.xls
2005_queens.xls       2010_manhattan.xls    2015_brooklyn.xls
2005_statenisland.xls 2010_queens.xls       2015_manhattan.xls
2006_bronx.xls        2010_statenisland.xls 2015_queens.xls
2006_brooklyn.xls     2011_bronx.xls        2015_statenisland.xls
2006_manhattan.xls    2011_brooklyn.xls     2016_bronx.xls
2006_queens.xls       2011_manhattan.xls    2016_brooklyn.xls
2006_statenisland.xls 2011_queens.xls       2016_manhattan.xls
2007_bronx.xls        2011_statenisland.xls 2016_queens.xls
2007_brooklyn.xls     2012_bronx.xls        2016_statenisland.xls
2007_manhattan.xls    2012_brooklyn.xls     data_dictionary.pdf
2007_queens.xls       2012_manhattan.xls

In [2]:
import platform
print(platform.python_version())

3.5.2

In [3]:
import pandas as pd
import numpy as np

In [4]:
boros = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
years = range(2003, 2017)
boro_codes = dict(zip(boros, range(1,6)))

In [5]:
def read_in_boro_year_data(boro, year, data_dir = "data/finance_sales"):
    """
    Fetches data file for a specified boro and year, and returns the data as a
    Pandas dataframe. Checks integrity of boro/year arguments.

    Args:
        string boro: name of boro for desired data
        int year: year of desired data
    Returns:
        Pandas DataFrame
    """
    # Acceptable inputs
    boros = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
    years = range(2003, 2017)

    # Format input arguments appropriately
    try:
        year = int(year)
    except TypeError:
        print("inappropriate year for data")
    if year < 100:
        year = year + 2000
    assert(year in years), "inappropriate year for data"
    if boro == "si":
        boro = "statenisland"
    assert(boro in boros), "inappropriate boro for data"

    # Reads in Excel file skipping appropriate number of junk rows at the
    # beginning of file, keeping the header row as a header
    filename = "{data_dir}/{year}_{boro}.xls".format(data_dir = data_dir,
        year = year, boro = boro)
    skip_rows = 4 if year > 2010 else 3
    data = pd.read_excel(filename, skiprows = skip_rows)
    # Remove newline characters from column headers
    data.columns = [col.strip().lower() for col in data.columns]
    return data

In [6]:
brooklyn_15 = read_in_boro_year_data('brooklyn', '15')
print(brooklyn_15.columns)
print(brooklyn_15.shape)

Index(['borough', 'neighborhood', 'building class category',
       'tax class at present', 'block', 'lot', 'ease-ment',
       'building class at present', 'address', 'apartment number', 'zip code',
       'residential units', 'commercial units', 'total units',
       'land square feet', 'gross square feet', 'year built',
       'tax class at time of sale', 'building class at time of sale',
       'sale price', 'sale date'],
      dtype='object')
(25362, 21)

In [7]:
def add_BBL_and_price_per_ft(data, copy = True):
    """
    Takes a raw dataframe and adds the BBL code (Borough, Block, Lot), and
    price per square foot. Uses same 10-digit BBL format as PLUTO:
    1 digit for Borough, 5 digits for Block, 4 digits for Lot.

    Args:
        Pandas DataFrame data: raw data frame to append the "bbl" and "price
            per sqft" columns to
        boolean copy: whether to make a copy or alter the dataframe in place
    Returns:
        Pandas DataFrame
    """
    # Copy the data frame to a new object if desired
    if copy:
        processed_data = data.copy()
    else:
        processed_data = data

    # Extract the borough, block, and lot, and create a 10-digit code
    # zero-padded code from these three columns in order
    bbl_columns = data[["borough", "block", "lot"]].itertuples()
    bbl_formatted = pd.Series(["%01d%05d%04d" % (row.borough, row.block, row.lot) for row in bbl_columns], 
                              dtype='int64')
    processed_data["bbl"] = bbl_formatted
    # Use the larger: gross sqft or land sqft, gross sqft may be zero sometimes
    processed_data["price per sqft"] = data["sale price"].astype('float64') / data[[
        "gross square feet", "land square feet"]].max(axis=1)
    # Replace 0s and infinity with NaN for clarity
    processed_data = processed_data.replace(
        {'price per sqft': {0: np.nan, np.inf: np.nan}})
    return processed_data

In [8]:
brooklyn_15 = add_BBL_and_price_per_ft(brooklyn_15)
print(brooklyn_15.columns)

Index(['borough', 'neighborhood', 'building class category',
       'tax class at present', 'block', 'lot', 'ease-ment',
       'building class at present', 'address', 'apartment number', 'zip code',
       'residential units', 'commercial units', 'total units',
       'land square feet', 'gross square feet', 'year built',
       'tax class at time of sale', 'building class at time of sale',
       'sale price', 'sale date', 'bbl', 'price per sqft'],
      dtype='object')

In [9]:
def read_in_pluto(boros, data_dir = "data/nyc_pluto_16v1"):
    """
    Takes a list of boroughs and extracts PLUTO data for each borough,
    appending each subset to create a single data frame for all boroughs.

    Args:
        list(string) boros: list of all the boroughs to pull pluto data for
        string data_dir: a relative path as a string to folder containing the
            PLUTO data for all boroughs
    Returns:
        Pandas DataFrame
    """
    # mapping of how boroughs are referred in PLUTO filenames
    initials = {"manhattan" : "MN", "brooklyn" : "BK", "bronx" : "BX",
        "queens" : "QN", "statenisland" : "SI"}

    # Create an empty dataframe to store data as we iterate
    pluto = pd.DataFrame()
    for borough in boros:
        filename = "{data_dir}/{boro}.csv".format(data_dir = data_dir,
            boro = initials.get(borough))
        data = pd.read_csv(filename, low_memory = False)
        data.columns = [col.strip().lower() for col in data.columns]
        # Append new rows to existing dataframe
        pluto = pluto.append(data)
    return pluto

In [10]:
def read_in_finance(boros, years, data_dir = "data/finance_sales"):
    """
    Takes a list of boroughs and years and extracts finance data for each year,
    appending each subset to create a single data frame for all years/boroughs.

    Args:
        list(string) boros: list of all the boroughs to pull finance data for
        list(int) years: list of all the years to pull finance data for
        string data_dir: a relative path as a string to folder containing the
            department of finance sales price data for all boroughs
    Returns:
        Pandas DataFrame
    """
    # Create an empty dataframe to store data as we iterate
    finance = pd.DataFrame()
    for year in years:
        for borough in boros:
            print("Pulling Finance data for {}_{}".format(year, borough))
            boro_year = read_in_boro_year_data(borough, year, data_dir)
            boro_year = add_BBL_and_price_per_ft(boro_year)
            # Append new rows to existing dataframe
            finance = finance.append(boro_year)
    return finance

In [11]:
def read_in_dtm(boros, data_dir = 'data/dtm',
    filename = 'DTM_0316_Condo_Units.csv'):
    """
    Reads in the Digital Tax Map dataset and returns a dataframe with mapping
    from borough and condo number to unit BBL for the specified boroughs.

    Args:
        list(string) boros: list of all the boroughs to pull dtm data for
        string data_dir: a relative path as a string to folder containing the
            dtm data in csv format
        string filename: the name of the file containing the dtm condo unit data
    Returns:
        Pandas DataFrame
    """
    columns = ['CONDO_BORO', 'CONDO_NUMB', 'UNIT_BLOCK',
               'UNIT_LOT', 'UNIT_BBL', 'UNIT_DESIG']
    boro_names = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
    boro_codes = dict(zip(boro_names, range(1,6)))
    dtm = pd.read_csv('{}/{}'.format(data_dir, filename), usecols=columns)
    dtm = dtm[dtm.CONDO_BORO.isin([boro_codes.get(boro) for boro in boros])]
    dtm.columns = [col.strip().lower() for col in dtm.columns]
    return dtm

In [124]:
boros = ['brooklyn', 'manhattan']
years = [2014, 2015]

In [125]:
pluto = read_in_pluto(boros)

In [126]:
finance = read_in_finance(boros, years)

Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_manhattan

In [127]:
dtm = read_in_dtm(boros)

In [128]:
print(finance.shape)
print(pluto.shape)
print(dtm.shape)

(100236, 23)
(320730, 86)
(170560, 6)

In [129]:
dtm_cols_to_keep = ['unit_bbl', 'condo_boro', 'condo_numb']
pluto_cols_to_keep = ['bbl', 'block', 'borocode', 'condono']

print("Finance:{} DTM:{}".format(finance.shape, dtm.shape))
finance_condos_only = pd.merge(finance, dtm[dtm_cols_to_keep],
    how='inner', left_on=['bbl'], right_on=['unit_bbl'])

Finance:(100236, 23) DTM:(170560, 6)

In [130]:
print("Finance intermediate:{} PLUTO:{}".format(finance_condos_only.shape,
    pluto.shape))
finance_condos_only = pd.merge(pluto[pluto_cols_to_keep],
    finance_condos_only, how='inner',
    left_on=['borocode', 'block', 'condono'],
    right_on=['condo_boro', 'block', 'condo_numb'],
    suffixes=['_pluto', '_finance'])
print("Finance intermediate (all condos): {}".format(
    finance_condos_only.shape))

Finance intermediate:(36480, 26) PLUTO:(320730, 86)
Finance intermediate (all condos): (36476, 29)

In [131]:
finance_condo_updated = pd.merge(finance,
    finance_condos_only[['bbl_pluto', 'unit_bbl']],
    how='left', left_on='bbl', right_on='unit_bbl')
finance_condo_updated = finance_condo_updated.drop('bbl', axis=1)

In [133]:
finance.bbl.value_counts()

0        3063600014
1        3063630022
2        3063630119
3        3063730055
4        3063740067
5        3063780037
6        3063800048
7        3063990008
8        3063990107
9        3063990108
10       3064030021
11       3064120007
12       3064130020
13       3064130020
14       3064250024
15       3064400035
16       3064400036
17       3064450029
18       3064600007
19       3064610070
20       3064610120
21       3064610129
22       3064610194
23       3064610207
24       3064610232
25       3064610235
26       3064610237
27       3064610302
28       3064610326
29       3064630109
            ...
24959    1021791047
24960    1021791049
24961    1021791058
24962    1021791070
24963    1021791078
24964    1021791081
24965    1021791086
24966    1021791204
24967    1021801234
24968    1021801276
24969    1021801282
24970    1021801283
24971    1021620046
24972    1021620146
24973    1021630028
24974    1021801101
24975    1021801103
24976    1021801107
24977    1021660016
24978    1021800117
24979    1021530047
24980    1021700027
24981    1021700028
24982    1021700032
24983    1021700026
24984    1021740114
24985    1021640052
24986    1021801210
24987    1021801213
24988    1021801215
Name: bbl, dtype: int64

In [132]:
print("Finance updated (plus condos): {}".format(
    finance_condo_updated.shape))

Finance updated (plus condos): (9063980, 24)

In [ ]:
def get_finance_condo_lot(pluto, finance, dtm):
    """
    Takes a finance dataset with unit lot BBL numbers and constructs a non-unit
    BBL column that corresponds to the BBL codes listed in the PLUTO data.

    Args:
        Pandas DataFrame pluto: contains PLUTO data and "bbl" join key
            (lot shared by all condo units in a building)
        Pandas DataFrame finance: contains finance data and "bbl" join key
            (unit-level lot numbers distinct for each condo unit)
        Pandas DataFrame dtm: contains "unit_bbl" and "condo_numb" for
            joining pluto and dept. of finance condo unit data
    Returns:
    """
    finance_condos_only = pd.merge(finance, dtm, how='right',
        left_on=['bbl'], right_on=['unit_bbl'],
        suffixes=['_finance', '_dtm'])
    print(finance_condos_only.columns)
    finance_condos_only = pd.merge(pluto, finance_condos_only, how='right',
        left_on=['borocode', 'condono'], right_on=['condo_boro', 'condo_numb'],
        suffixes=['_pluto', '_finance'])
    print(finance_condos_only.columns)
    return finance_condo_updated

In [30]:
def merge_pluto_finance(pluto, finance, boros, years,
    output_dir = "data/merged"):
    """
    Performs an outer join on PLUTO and Dept of Finance data using BBL as the
    join key, returning a single dataframe. Also writes merged output to file.

    Args:
        Pandas DataFrame pluto: contains PLUTO data and "bbl" join key
        Pandas DataFrame finance: contains finance data and "bbl" join key
        list(string) boros: list of boroughs to use in filename of merged data
        list(int) years: list of years to use in filename of merged data
        string output_dir: directory to store merged output data
     Returns:
        Pandas DataFrame
    """
    buildings = pd.merge(pluto, finance, how='right', on='bbl',
                        suffixes=['_pluto', '_finance'])
    output = "{output_dir}/{boros_joined}_{min_year}_{max_year}.csv".format(
        boros_joined = "_".join(boros), min_year = min(years),
        max_year = max(years), output_dir = output_dir)
    buildings.to_csv(output, index = False)
    return buildings

In [34]:
buildings = merge_pluto_finance(pluto, finance, boros, years)

In [35]:
print(sum(buildings.borough_pluto.isnull()))
print(buildings.shape)

639
(4755, 108)

In [36]:
finance[["borough", "block", "lot", "bbl"]].head()

   borough  block  lot         bbl
0        2   3030   70  2030300070
1        2   3035    2  2030350002
2        2   3037   42  2030370042
3        2   3039   64  2030390064
4        2   3046   34  2030460034

In [37]:
print(len(pluto.columns))
print(len(finance.columns))
print(len(buildings.columns))

86
23
108

In [38]:
bmq_2010_2013 = pd.read_csv("data/merged/brooklyn_manhattan_queens_2010_2013.csv", low_memory=False)

In [39]:
bmq_2010_2013.head()

,borough_pluto,block_pluto,lot_pluto,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,commercial units,total units,land square feet,gross square feet,year built,tax class at time of sale,building class at time of sale,sale price,sale date,price per sqft
0,BK,1.0,1.0,302.0,21.0,NaN,13.0,33.0,11201.0,L118,...,0,0,151930,0,0,4,G6,9200000,2013-08-19,60.554203
1,BK,19.0,1.0,302.0,21.0,2003.0,13.0,33.0,11201.0,L118,...,42,42,41400,460000,1911,4,E1,5668200,2010-11-01,12.322174
2,BK,19.0,1.0,302.0,21.0,2003.0,13.0,33.0,11201.0,L118,...,42,42,41400,460000,1911,4,E1,5668200,2010-11-01,12.322174
3,BK,19.0,1.0,302.0,21.0,2003.0,13.0,33.0,11201.0,L118,...,42,42,41400,460000,1911,4,E1,0,2010-09-30,NaN
4,BK,20.0,21.0,302.0,21.0,3008.0,13.0,33.0,11201.0,L118,...,35,35,12600,42000,1910,4,O9,0,2012-11-28,NaN

In [40]:
buildings.head()

,borough_pluto,block_pluto,lot_pluto,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,commercial units,total units,land square feet,gross square feet,year built,tax class at time of sale,building class at time of sale,sale price,sale date,price per sqft
0,BX,2275.0,11.0,201.0,43.0,1000.0,7.0,8.0,10455.0,E083,...,1,11,2500,9500,1915,2,C7,670791,2010-06-14,70.609579
1,BX,2278.0,29.0,201.0,19.0,1010.0,7.0,8.0,10454.0,E060,...,0,3,1833,3120,1901,1,C0,0,2010-01-21,NaN
2,BX,2278.0,75.0,201.0,19.0,1010.0,7.0,8.0,10454.0,E060,...,1,1,5000,5000,1931,4,G2,600000,2010-02-11,120.000000
3,BX,2280.0,53.0,201.0,25.0,5002.0,7.0,8.0,10454.0,E060,...,0,10,2500,9205,1931,2,C1,790000,2010-05-18,85.822922
4,BX,2282.0,16.0,201.0,25.0,3000.0,7.0,8.0,10454.0,E060,...,1,9,2500,9293,1931,2,C7,588333,2010-04-09,63.309265

In [41]:
np.mean(buildings.lot_pluto.isnull()) # bronx 2010 how many missing pluto data

0.13438485804416403

In [42]:
np.mean(bmq_2010_2013.lot_pluto.isnull()) # bk mn qn 2010-2013 how many missing pluto data

0.32880126647522273

In [50]:
bmq_2010_2013[bmq_2010_2013.lot_pluto.isnull()][["bbl", "borough_pluto", "block_pluto", "lot_pluto", 
                                                 "borough_finance", "block_finance", "lot_finance", 
                                                 "xcoord", "ycoord", "firecomp", "policeprct", "bldgclass"]].head(20)

,bbl,borough_pluto,block_pluto,lot_pluto,borough_finance,block_finance,lot_finance,xcoord,ycoord,firecomp,policeprct,bldgclass
182311,3063970006,NaN,NaN,NaN,3,6397,6,NaN,NaN,NaN,NaN,NaN
182312,3064010012,NaN,NaN,NaN,3,6401,12,NaN,NaN,NaN,NaN,NaN
182313,3063701102,NaN,NaN,NaN,3,6370,1102,NaN,NaN,NaN,NaN,NaN
182314,3063701103,NaN,NaN,NaN,3,6370,1103,NaN,NaN,NaN,NaN,NaN
182315,3063701201,NaN,NaN,NaN,3,6370,1201,NaN,NaN,NaN,NaN,NaN
182316,3063701203,NaN,NaN,NaN,3,6370,1203,NaN,NaN,NaN,NaN,NaN
182317,3063701203,NaN,NaN,NaN,3,6370,1203,NaN,NaN,NaN,NaN,NaN
182318,3063701203,NaN,NaN,NaN,3,6370,1203,NaN,NaN,NaN,NaN,NaN
182319,3064021204,NaN,NaN,NaN,3,6402,1204,NaN,NaN,NaN,NaN,NaN
182320,3064021318,NaN,NaN,NaN,3,6402,1318,NaN,NaN,NaN,NaN,NaN
182321,3064021324,NaN,NaN,NaN,3,6402,1324,NaN,NaN,NaN,NaN,NaN
182322,3064051112,NaN,NaN,NaN,3,6405,1112,NaN,NaN,NaN,NaN,NaN
182323,3064051112,NaN,NaN,NaN,3,6405,1112,NaN,NaN,NaN,NaN,NaN
182324,3064111202,NaN,NaN,NaN,3,6411,1202,NaN,NaN,NaN,NaN,NaN
182325,3064121003,NaN,NaN,NaN,3,6412,1003,NaN,NaN,NaN,NaN,NaN
182326,3064121102,NaN,NaN,NaN,3,6412,1102,NaN,NaN,NaN,NaN,NaN
182327,3064251101,NaN,NaN,NaN,3,6425,1101,NaN,NaN,NaN,NaN,NaN
182328,3064251108,NaN,NaN,NaN,3,6425,1108,NaN,NaN,NaN,NaN,NaN
182329,3064251109,NaN,NaN,NaN,3,6425,1109,NaN,NaN,NaN,NaN,NaN
182330,3064261001,NaN,NaN,NaN,3,6426,1001,NaN,NaN,NaN,NaN,NaN

In [49]:
buildings[['bbl', 'xcoord', 'ycoord']].head()

          bbl     xcoord    ycoord
0  2022750011  1007936.0  236020.0
1  2022780029  1005461.0  232837.0
2  2022780075  1005323.0  232798.0
3  2022800053  1005803.0  233125.0
4  2022820016  1005822.0  233827.0

In [51]:
buildings[["bbl", "gross square feet", "land square feet", "sale price", "price per sqft"]]

,bbl,gross square feet,land square feet,sale price,price per sqft
0,2022750011,9500,2500,670791,70.609579
1,2022780029,3120,1833,0,NaN
2,2022780075,5000,5000,600000,120.000000
3,2022800053,9205,2500,790000,85.822922
4,2022820016,9293,2500,588333,63.309265
5,2022820027,2544,1667,470000,184.748428
6,2022840117,2160,1667,0,NaN
7,2022850004,8870,2500,742500,83.709132
8,2022850005,8870,2500,0,NaN
9,2022850006,8870,2500,0,NaN
10,2022850079,2350,1700,0,NaN
11,2022860028,2250,1500,0,NaN
12,2022870005,3216,2000,0,NaN
13,2022870005,3216,2000,310000,96.393035
14,2022880057,110939,45500,14200000,127.998269
15,2022880058,0,2494,0,NaN
16,2022890118,2280,2000,408000,178.947368
17,2022890138,2280,2000,400000,175.438596
18,2022890168,2280,2000,0,NaN
19,2022930001,12465,5115,0,NaN
20,2022930079,0,3125,0,NaN
21,2022930080,0,3511,0,NaN
22,2022930081,0,3664,0,NaN
23,2022950067,64927,10911,1,0.000015
24,2023030006,2944,1655,170000,57.744565
25,2023140065,2724,2515,180000,66.079295
26,2023140069,2724,1127,240000,88.105727
27,2023140073,2724,1168,150000,55.066079
28,2023140081,2724,2479,410000,150.513950
29,2023140082,2724,2479,330000,121.145374
...,...,...,...,...,...
4725,2034321224,0,0,260000,NaN
4726,2038750007,0,5000,665000,133.000000
4727,2055190130,0,0,0,NaN
4728,2055190131,0,0,0,NaN
4729,2054221001,0,0,0,NaN
4730,2054881001,0,0,0,NaN
4731,2054991003,0,0,0,NaN
4732,2055971011,0,0,302500,NaN
4733,2056061103,0,0,0,NaN
4734,2056061111,0,0,359000,NaN
4735,2056061122,0,0,360000,NaN
4736,2056061310,0,0,150000,NaN
4737,2056061311,0,0,210000,NaN
4738,2056061313,0,0,210000,NaN
4739,2056061327,0,0,210000,NaN
4740,2056061328,0,0,145000,NaN
4741,2056061329,0,0,220000,NaN
4742,2056061331,0,0,240000,NaN
4743,2056061333,0,0,210000,NaN
4744,2056061008,0,0,0,NaN
4745,2056041039,0,0,309000,NaN
4746,2050240005,0,0,385000,NaN
4747,2050690063,0,6846,0,NaN
4748,2050690062,0,2323,0,NaN
4749,2048400073,0,0,334250,NaN
4750,2048341009,0,0,261590,NaN
4751,2048720028,0,0,0,NaN
4752,2048720031,0,0,425000,NaN
4753,2046710066,0,2585,0,NaN
4754,2048340082,0,0,0,NaN

In [55]:
buildings[["commercial units", "total units", "bbl", "sale date", 
          "gross square feet", "land square feet", "sale price", "price per sqft"]].head(20)

,commercial units,total units,bbl,sale date,gross square feet,land square feet,sale price,price per sqft
0,1,11,2022750011,2010-06-14,9500,2500,670791,70.609579
1,0,3,2022780029,2010-01-21,3120,1833,0,NaN
2,1,1,2022780075,2010-02-11,5000,5000,600000,120.000000
3,0,10,2022800053,2010-05-18,9205,2500,790000,85.822922
4,1,9,2022820016,2010-04-09,9293,2500,588333,63.309265
5,0,7,2022820027,2010-07-27,2544,1667,470000,184.748428
6,0,1,2022840117,2010-03-26,2160,1667,0,NaN
7,1,11,2022850004,2010-10-21,8870,2500,742500,83.709132
8,1,1,2022850005,2010-08-09,8870,2500,0,NaN
9,1,10,2022850006,2010-08-09,8870,2500,0,NaN
10,0,1,2022850079,2010-05-20,2350,1700,0,NaN
11,0,1,2022860028,2010-06-02,2250,1500,0,NaN
12,1,4,2022870005,2010-09-11,3216,2000,0,NaN
13,1,4,2022870005,2010-03-11,3216,2000,310000,96.393035
14,4,4,2022880057,2010-09-14,110939,45500,14200000,127.998269
15,0,0,2022880058,2010-09-14,0,2494,0,NaN
16,0,2,2022890118,2010-06-10,2280,2000,408000,178.947368
17,0,2,2022890138,2010-06-07,2280,2000,400000,175.438596
18,0,2,2022890168,2010-01-08,2280,2000,0,NaN
19,1,1,2022930001,2010-09-29,12465,5115,0,NaN

In [61]:
def read_in_dtm(boros, data_dir='data/dtm', filename='DTM_0316_Condo_Units.csv'):
    """
    Returns a dataframe with mapping from condo number to unit BBL for the specified boroughs.
    
    Args:
        list(string) boros: list of all the boroughs to pull dtm data for
        string data_dir: a relative path as a string to folder containing the
            dtm data in csv format
        string filename: the name of the file containing the dtm condo unit data
    Returns:
        Pandas DataFrame
    """
    columns = ['CONDO_BORO', 'CONDO_NUMB', 'UNIT_BORO', 'UNIT_BLOCK', 
               'UNIT_LOT', 'UNIT_BBL']
    boro_names = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
    boro_codes = dict(zip(boro_names, range(1,6)))
    dtm = pd.read_csv('{}/{}'.format(data_dir, filename), usecols=columns)
    dtm = dtm[dtm.CONDO_BORO.isin([boro_codes.get(boro) for boro in boros])]
    dtm.columns = [col.strip().lower() for col in dtm.columns]
    return dtm

In [60]:
brooklyn_15[brooklyn_15.borough.isin((4,3))]

,borough,neighborhood,building class category,tax class at present,block,lot,ease-ment,building class at present,address,apartment number,...,total units,land square feet,gross square feet,year built,tax class at time of sale,building class at time of sale,sale price,sale date,bbl,price per sqft
0,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6360,22,,A5,8647 15TH AVENUE,,...,1,1547,1428,1930,1,A5,758000,2015-03-31,3063600022,489.980608
1,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6361,17,,A5,55 BAY 10TH STREET,,...,1,1933,1660,1930,1,A5,778000,2015-06-15,3063610017,402.483187
2,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6371,60,,A9,8620 19TH AVENUE,,...,1,2417,2106,1930,1,A9,0,2015-09-16,3063710060,NaN
3,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6372,48,,S1,1906 86TH STREET,,...,2,1900,2090,1931,1,S1,1365000,2015-05-29,3063720048,653.110048
4,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6373,73,,A1,50 BAY 23RD STREET,,...,1,2417,1672,1930,1,A1,750000,2015-12-17,3063730073,310.302027
5,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6374,49,,S1,1964 86TH STREET,,...,2,1725,2112,1925,1,S1,1470000,2015-05-06,3063740049,696.022727
6,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6374,51,,S1,1970 86TH STREET,,...,2,1725,2112,1931,1,S1,1790000,2015-04-30,3063740051,847.537879
7,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6398,39,,A1,1638 BENSON AVENUE,,...,1,3625,1825,1925,1,A1,820000,2015-07-24,3063980039,226.206897
8,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6399,8,,S1,1653 BATH AVENUE,,...,2,1260,1440,1930,1,S1,0,2015-06-25,3063990008,NaN
9,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6399,108,,S1,1651 BATH AVENUE,,...,2,1260,1440,1930,1,S1,0,2015-06-25,3063990108,NaN
10,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6401,7,,S1,1731 BATH AVENUE,,...,2,1112,1520,1920,1,S1,0,2015-10-17,3064010007,NaN
11,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6402,23,,A5,121 BAY 17TH STREET,,...,1,1619,912,1910,1,A5,0,2015-05-12,3064020023,NaN
12,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6425,1,,S1,244 BAY 8TH STREET,,...,2,5720,5152,1930,1,S1,0,2015-11-02,3064250001,NaN
13,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6426,10,,A2,239 BAY8TH STREET,,...,1,5810,1575,1950,1,A2,1850000,2015-12-18,3064260010,318.416523
14,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6432,52,,S1,8804 17TH AVENUE,,...,2,3394,2288,1920,1,S1,1192000,2015-12-07,3064320052,351.208014
15,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6440,35,,S1,1942 BATH AVENUE,,...,2,2013,1980,1910,1,S1,895000,2015-08-24,3064400035,444.610035
16,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6442,34,,S1,2018 BATH AVENUE,,...,2,1198,1596,1925,1,S1,745000,2015-09-14,3064420034,466.791980
17,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6444,27,,A5,173 BAY 26TH STREET,,...,1,1837,2337,1901,1,A5,0,2015-04-30,3064440027,NaN
18,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6459,34,,A1,265 BAY 8TH STREET,,...,1,3872,2688,2001,1,A1,1450000,2015-01-08,3064590034,374.483471
19,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6460,69,,A2,310 BAY 10TH STREET,,...,1,3867,1399,1935,1,A2,855000,2015-10-08,3064600069,221.101629
20,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6460,203,,A5,8846 16TH AVE,,...,1,1937,1240,1950,1,A5,720000,2015-01-16,3064600203,371.708828
21,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6460,214,,A5,8870 16TH AVENUE,,...,1,1760,992,1950,1,A5,620000,2015-11-02,3064600214,352.272727
22,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6460,242,,A5,1592 INDEPENDENCE AVENUE,,...,1,1844,992,1950,1,A5,750000,2015-10-21,3064600242,406.724512
23,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,75,,A5,319 BAY 14TH STREET,,...,1,1511,928,1950,1,A5,0,2015-02-25,3064610075,NaN
24,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,93,,A5,277 BAY 14 STREET,,...,1,1795,1204,1930,1,A5,762000,2015-11-20,3064610093,424.512535
25,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,120,,A9,284 BAY 14TH STREET,,...,1,1795,1152,1930,1,A9,0,2015-06-05,3064610120,NaN
26,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,129,,A5,308 BAY 14TH STREET,,...,1,1511,992,1950,1,A5,650000,2015-04-24,3064610129,430.178690
27,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,283,,A5,279 BAY 13TH STREET,,...,1,1649,928,1940,1,A5,0,2015-07-20,3064610283,NaN
28,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6461,338,,A5,1127 SHORE PARKWAY,,...,1,1775,1188,1940,1,A5,0,2015-11-18,3064610338,NaN
29,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6462,22,,S1,8836 BAY 16TH STREET,,...,2,1865,2982,1960,1,S1,860000,2015-08-11,3064620022,288.397049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25332,3,WYCKOFF HEIGHTS,22 STORE BUILDINGS,4,3393,54,,K2,894 WYCKOFF AVENUE,,...,1,1686,2550,2008,4,K2,0,2015-05-01,3033930054,NaN
25333,3,WYCKOFF HEIGHTS,22 STORE BUILDINGS,4,3393,55,,K2,896 WYCKOFF AVENUE,,...,4,1686,2550,2008,4,K2,0,2015-05-01,3033930055,NaN
25334,3,WYCKOFF HEIGHTS,27 FACTORIES,4,3210,41,,F9,379 SUYDAM ST,,...,1,10000,10000,1931,4,F9,4750000,2015-06-18,3032100041,475.000000
25335,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3249,35,,G7,371 STOCKHOLM STREET,,...,0,5200,0,0,4,G7,0,2015-10-15,3032490035,NaN
25336,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3249,38,,G7,369-371 STOCKHOLM ST,,...,0,2800,0,0,4,G7,2400000,2015-10-15,3032490038,857.142857
25337,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3270,24,,G6,343 HIMROD STREET,,...,1,16500,0,1931,4,G6,9500000,2015-08-27,3032700024,575.757576
25338,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3336,26,,G7,1513 GATES AVENUE,,...,0,2550,0,0,4,G7,725000,2015-05-07,3033360026,284.313725
25339,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3345,30,,G7,1552 MYRTLE AVENUE,,...,0,1275,0,0,4,G7,0,2015-02-11,3033450030,NaN
25340,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3345,31,,G7,1554 MYRTLE AVENUE,,...,0,1235,0,0,4,G7,0,2015-02-11,3033450031,NaN
25341,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,2B,3379,31,,C1,1536 PUTNAM AVENUE,,...,8,2612,5284,2015,4,G6,1700000,2015-02-04,3033790031,321.725965
25342,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3386,41,,G7,406 CORNELIA STREET,,...,0,6000,0,0,4,G7,2100000,2015-02-04,3033860041,350.000000
25343,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3167,29,,E9,1224 FLUSHING AVENUE,,...,1,18530,19500,1937,4,E9,12000000,2015-10-21,3031670029,615.384615
25344,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3167,29,,E9,1224 FLUSHING AVENUE,,...,1,18530,19500,1937,4,E9,0,2015-07-23,3031670029,NaN
25345,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3169,17,,E1,1300 FLUSHING AVENUE,,...,1,16745,101712,1930,4,E1,46040000,2015-09-15,3031690017,452.650621
25346,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3169,17,,E1,1300 FLUSHING AVENUE,,...,1,16745,101712,1930,4,E1,46000000,2015-04-20,3031690017,452.257354
25347,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3190,37,,E1,321 STARR STREET,,...,1,23250,23250,1931,4,E1,9000000,2015-06-22,3031900037,387.096774
25348,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3200,19,,E9,276 STARR STREET,,...,1,8000,13500,1931,4,E9,0,2015-02-11,3032000019,NaN
25349,3,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,4,3189,137,,V1,267 STARR STREET,,...,0,2500,0,0,4,V1,965024,2015-12-30,3031890137,386.009600
25350,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3189,1,,Z9,35 WYCKOFF AVENUE,,...,0,2431,0,0,4,Z9,2804976,2015-06-25,3031890001,1153.836281
25351,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3189,2,,Z9,33 WYCKOFF AVENUE,,...,0,2415,0,0,4,Z9,0,2015-06-25,3031890002,NaN
25352,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3189,3,,Z9,33A WYCKOFF AVENUE,,...,0,2390,0,0,4,Z9,0,2015-06-25,3031890003,NaN
25353,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3345,29,,Z9,1550 MYRTLE AVENUE,,...,0,2475,500,1970,4,Z9,1350000,2015-02-11,3033450029,545.454545
25354,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3310,1009,,RP,330 BLEECKER STREET,PK1,...,1,0,0,2013,4,RP,0,2015-12-09,3033101009,NaN
25355,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3310,1011,,RP,330 BLEEKER STREET,PK3,...,1,0,0,2013,4,RP,0,2015-05-14,3033101011,NaN
25356,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3310,1012,,RP,330 BLEEKER STREET,PK4,...,1,0,0,2013,4,RP,0,2015-05-28,3033101012,NaN
25357,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3310,1013,,RP,330 BLEEKER STREET,PK5,...,1,0,0,2013,4,RP,0,2015-06-08,3033101013,NaN
25358,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3328,1108,,RP,358 GROVE STREET,P47,...,1,0,0,0,4,RP,560000,2015-05-29,3033281108,NaN
25359,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3328,1114,,RP,358 GROVE STREET,CB1,...,1,0,0,0,4,RP,0,2015-05-27,3033281114,NaN
25360,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3328,1115,,RP,358 GROVE STREET,CB2,...,1,0,0,0,4,RP,0,2015-05-27,3033281115,NaN
25361,3,WYCKOFF HEIGHTS,44 CONDO PARKING,4,3328,1117,,RP,358 GROVE STREET,CB4,...,1,0,0,0,4,RP,584000,2015-08-14,3033281117,NaN

In [62]:
dtm = read_in_dtm(['brooklyn', 'manhattan', 'queens'])

In [64]:
pluto.borocode

0        2
1        2
2        2
3        2
4        2
5        2
6        2
7        2
8        2
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       2
17       2
18       2
19       2
20       2
21       2
22       2
23       2
24       2
25       2
26       2
27       2
28       2
29       2
        ..
89867    2
89868    2
89869    2
89870    2
89871    2
89872    2
89873    2
89874    2
89875    2
89876    2
89877    2
89878    2
89879    2
89880    2
89881    2
89882    2
89883    2
89884    2
89885    2
89886    2
89887    2
89888    2
89889    2
89890    2
89891    2
89892    2
89893    2
89894    2
89895    2
89896    2
Name: borocode, dtype: int64

In [68]:
sum(dtm.condo_boro != dtm.unit_boro)

0