In [75]:
import pandas as pd
import numpy as np

In [76]:
subway_distances = pd.read_csv('subwaydist.csv')
subway_distances.head()

          bbl   latitude  longitude  subwaydist
0  1000010010  40.688799 -74.018675    0.927141
1  1000047501  40.702153 -74.012021    0.033273
2  1000050010  40.702776 -74.010722    0.110829
3  1000057501  40.702266 -74.010607    0.106458
4  1000070027  40.703290 -74.011022    0.118209

In [77]:
light_rail_bbls = pd.read_csv('Queens Light Rail BBL.csv',names = ["bbl"])
light_rail_bbls.head()

          bbl
0  4000340047
1  4038530098
2  4027260002
3  4026930121
4  4033840065

In [78]:
light_rail_bbls_list = light_rail_bbls['bbl'].tolist()
print subway_distances['subwaydist'].sum()
for i in light_rail_bbls_list:
    temp = subway_distances.loc[subway_distances['bbl'] == i]
    if temp.size == 0:
        pass
    else:
        current_subway_dist = temp['subwaydist'].tolist()[0]
        if current_subway_dist > 0.5:
            new_subway_dist = 0.5
            subway_distances['subwaydist'] = subway_distances['subwaydist'].replace(current_subway_dist,new_subway_dist)
            #print current_subway_dist, new_subway_dist
        else:
            pass
print subway_distances['subwaydist'].sum()

283940.255838
276327.517131

In [79]:
subway_distances.to_csv('updatedsubwaydist.csv',index=False)