In [3]:
import pandas as pd
from pyproj import Proj
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn import model_selection as cross_validation
from sklearn.metrics import mean_squared_error
import seaborn as sns
sns.set(color_codes=True)
import collections

%matplotlib inline

In [4]:
data_path = "data/merged/bronx_brooklyn_manhattan_queens_statenisland_2003_2016.csv"
df = pd.read_csv(data_path, low_memory = True)
df.head()

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,proxcode_1.0,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_3.0,lottype_4.0,lottype_5.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2,tax_class_at_time_of_sale_3
0,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
1,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
2,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
3,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
4,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0

In [5]:
sorted_df = df.sort_values(by = ['bbl','sale_date'])
sorted_df[['bbl','sale_date','zipcode','sale_price','price_per_sqft']]

                bbl   sale_date  zipcode  sale_price  price_per_sqft
0      1.000058e+09  2003-03-28  10004.0    32614102       31.842588
14     1.000058e+09  2003-03-28  10004.0    27955576       27.294263
15     1.000058e+09  2004-06-30  10004.0      437500        0.427151
1      1.000058e+09  2004-10-05  10004.0      775000        0.756667
16     1.000058e+09  2005-01-21  10004.0     1390500        1.357607
2      1.000058e+09  2005-05-16  10004.0     3200000        3.124301
17     1.000058e+09  2006-08-28  10004.0      555000        0.541871
3      1.000058e+09  2006-09-22  10004.0     1325000        1.293656
4      1.000058e+09  2007-04-12  10004.0     1180000        1.152086
18     1.000058e+09  2007-04-24  10004.0      852480        0.832314
19     1.000058e+09  2008-07-01  10004.0      647500        0.632183
5      1.000058e+09  2008-09-15  10004.0     1130257        1.103520
20     1.000058e+09  2009-05-18  10004.0      975000        0.951936
6      1.000058e+09  2009-09-15  10004.0     1550000        1.513333
21     1.000058e+09  2010-04-16  10004.0      710000        0.693204
7      1.000058e+09  2010-06-24  10004.0      733129        0.715786
22     1.000058e+09  2011-11-29  10004.0     1272812        1.242703
8      1.000058e+09  2011-12-15  10004.0     1501918        1.466389
9      1.000058e+09  2012-07-06  10004.0     4227655        4.127646
23     1.000058e+09  2012-07-27  10004.0     4410000        4.305678
10     1.000058e+09  2013-01-10  10004.0    10515000       10.266259
24     1.000058e+09  2013-08-28  10004.0      988000        0.964628
11     1.000058e+09  2014-05-01  10004.0     3800000        3.710108
25     1.000058e+09  2014-07-25  10004.0     1531071        1.494852
12     1.000058e+09  2015-02-20  10004.0     3470000        3.387914
26     1.000058e+09  2015-12-30  10004.0     2750000        2.684946
27     1.000058e+09  2016-04-01  10004.0      760000        0.742022
13     1.000058e+09  2016-07-28  10004.0     6200000        6.053334
41     1.000168e+09  2003-01-06  10280.0      320000        1.791914
28     1.000168e+09  2003-01-16  10280.0      250000        1.399933
...             ...         ...      ...         ...             ...
71213  1.021648e+09  2015-07-29  10033.0     2447800       21.453675
71225  1.021648e+09  2015-10-12  10033.0     2916195       25.558910
71226  1.021648e+09  2016-03-18  10033.0     2260000       19.807707
71214  1.021648e+09  2016-04-22  10033.0      220000        1.928184
71227  1.021798e+09  2003-12-19  10040.0      595675       30.130248
71228  1.021798e+09  2004-01-09  10040.0      685000       34.648457
71229  1.021798e+09  2005-09-21  10040.0      515000       26.049570
71230  1.021798e+09  2006-05-23  10040.0      210000       10.622155
71231  1.021798e+09  2007-07-31  10040.0     1150000       58.168943
71232  1.021798e+09  2008-12-22  10040.0     1200000       60.698027
71233  1.021798e+09  2009-08-28  10040.0      399000       20.182094
71234  1.021798e+09  2012-12-27  10040.0     4125000      208.649469
71235  1.021798e+09  2013-12-10  10040.0      885000       44.764795
71236  1.021798e+09  2014-08-07  10040.0      595000       30.096105
71237  1.021798e+09  2015-11-23  10040.0     2946742      149.051189
71238  1.021798e+09  2016-01-14  10040.0     1420000       71.825999
71239  1.022218e+09  2003-12-09  10034.0      110000        1.557213
71240  1.022218e+09  2004-09-09  10034.0      535000        7.573720
71241  1.022218e+09  2005-11-18  10034.0      738000       10.447487
71242  1.022218e+09  2006-05-31  10034.0      919880       13.022268
71243  1.022218e+09  2007-06-25  10034.0      623169        8.821883
71244  1.022218e+09  2008-01-15  10034.0     7000000       99.095401
71245  1.022218e+09  2009-07-30  10034.0     3800000       53.794646
71246  1.022218e+09  2010-09-16  10034.0     2260000       31.993658
71247  1.022218e+09  2011-10-26  10034.0      710000       10.051105
71248  1.022218e+09  2012-12-12  10034.0      999000       14.142329
71249  1.022218e+09  2013-12-20  10034.0      685000        9.697193
71250  1.022218e+09  2014-04-10  10034.0     2596537       36.757839
71251  1.022218e+09  2015-04-27  10034.0      950000       13.448662
71252  1.022218e+09  2016-04-28  10034.0      850000       12.033013

[71253 rows x 5 columns]

In [6]:
no_dups = df.drop_duplicates()
no_dups.shape

(65975, 144)

In [8]:
df.shape

(71253, 144)

In [7]:
df.sort_values(by = ['bbl','sale_date'])

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,proxcode_1.0,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_3.0,lottype_4.0,lottype_5.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2,tax_class_at_time_of_sale_3
0,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
14,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
15,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
1,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
16,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
2,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
17,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
3,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
4,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
18,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
19,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
5,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
20,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
6,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
21,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
7,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
22,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
8,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
9,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
23,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
10,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
24,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
11,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
25,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,0,0
12,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
26,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
27,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,1,0,0
13,10004.0,0.0,0.0,0.0,1024229.0,0.0,1.0,40.0,0.0,7.0,...,0,0,0,0,1,0,0,0,1,0
41,10280.0,0.0,0.0,0.0,1092.0,177488.0,1.0,25.0,NaN,NaN,...,0,0,0,0,0,0,1,0,1,0
28,10280.0,0.0,0.0,0.0,1092.0,177488.0,1.0,25.0,NaN,NaN,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71213,10033.0,0.0,1.0,1.0,18339.0,95758.0,2.0,6.0,NaN,NaN,...,0,0,0,0,0,0,1,0,1,0
71225,10033.0,0.0,1.0,1.0,18339.0,95758.0,2.0,6.0,NaN,NaN,...,0,0,0,0,0,0,1,0,1,0
71226,10033.0,0.0,1.0,1.0,18339.0,95758.0,2.0,6.0,NaN,NaN,...,0,0,0,0,0,0,1,0,1,0
71214,10033.0,0.0,1.0,1.0,18339.0,95758.0,2.0,6.0,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
71227,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71228,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71229,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71230,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71231,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71232,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71233,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,1,0,0
71234,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71235,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,1,0,0
71236,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71237,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71238,10040.0,0.0,0.0,1.0,0.0,19770.0,1.0,6.0,20.0,20.0,...,0,0,1,0,0,0,0,0,1,0
71239,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71240,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71241,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71242,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71243,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71244,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,0,0
71245,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71246,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71247,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71248,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71249,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0
71250,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71251,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,0,1,0
71252,10034.0,0.0,0.0,1.0,0.0,70639.0,2.0,5.0,89.0,89.0,...,0,0,0,0,0,0,1,1,0,0

In [130]:
x = df[df['year_built'] != df['yearbuilt']]
x[x['year_built'] == 0.0].shape

(797180, 180)

In [90]:
df[['gross_sqft_pluto','sale_price','price_per_sqft']].head()

In [76]:
df = df[df['price_per_sqft'] != 0.0]
df.shape

(1583312, 180)

In [91]:
df = df[df['price_per_sqft'] >= 10]
df = df[df['price_per_sqft'] <= 5000]
df.shape

(573544, 176)

In [89]:
df.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark',
       'condono', 'xcoord', 'ycoord', 'zonemap', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'sale_price', 'sale_date', 'year_built', 'residential_units',
       'commercial_units', 'total_units', 'price_per_sqft',
       'schooldist_mv', 'council_mv', 'zipcode_mv', 'ownertype_mv',
       'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv', 'lotfront_mv',
       'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv', 'proxcode_mv',
       'yearbuilt_mv', 'xcoord_mv', 'ycoord_mv', 'zonemap_mv',
       'latitude_mv', 'longitude_mv', 'borough_BK', 'borough_BX',
       'borough_MN', 'borough_QN', 'schooldist_1.0', 'schooldist_2.0',
       'schooldist_3.0', 'schooldist_4.0', 'schooldist_5.0',
       'schooldist_6.0', 'schooldist_7.0', 'schooldist_8.0',
       'schooldist_9.0', 'schooldist_10.0', 'schooldist_11.0',
       'schooldist_12.0', 'schooldist_13.0', 'schooldist_14.0',
       'schooldist_15.0', 'schooldist_16.0', 'schooldist_17.0',
       'schooldist_18.0', 'schooldist_19.0', 'schooldist_20.0',
       'schooldist_21.0', 'schooldist_22.0', 'schooldist_23.0',
       'schooldist_24.0', 'schooldist_25.0', 'schooldist_26.0',
       'schooldist_27.0', 'schooldist_28.0', 'schooldist_29.0',
       'schooldist_30.0', 'schooldist_31.0', 'council_1.0', 'council_2.0',
       'council_3.0', 'council_4.0', 'council_5.0', 'council_6.0',
       'council_7.0', 'council_8.0', 'council_9.0', 'council_10.0',
       'council_11.0', 'council_12.0', 'council_13.0', 'council_14.0',
       'council_15.0', 'council_16.0', 'council_17.0', 'council_18.0',
       'council_19.0', 'council_20.0', 'council_21.0', 'council_22.0',
       'council_23.0', 'council_24.0', 'council_25.0', 'council_26.0',
       'council_27.0', 'council_28.0', 'council_29.0', 'council_30.0',
       'council_31.0', 'council_32.0', 'council_33.0', 'council_34.0',
       'council_35.0', 'council_36.0', 'council_37.0', 'council_38.0',
       'council_39.0', 'council_40.0', 'council_41.0', 'council_42.0',
       'council_43.0', 'council_44.0', 'council_45.0', 'council_46.0',
       'council_47.0', 'council_48.0', 'council_49.0', 'council_50.0',
       'bldgclass_R1', 'bldgclass_R2', 'bldgclass_R3', 'bldgclass_R4',
       'bldgclass_R5', 'bldgclass_R6', 'bldgclass_R9', 'bldgclass_RA',
       'bldgclass_RB', 'bldgclass_RC', 'bldgclass_RD', 'bldgclass_RG',
       'bldgclass_RH', 'bldgclass_RI', 'bldgclass_RK', 'bldgclass_RM',
       'bldgclass_RR', 'bldgclass_RS', 'bldgclass_RW', 'bldgclass_RX',
       'landuse_2.0', 'landuse_3.0', 'landuse_4.0', 'landuse_5.0',
       'landuse_6.0', 'landuse_8.0', 'ownertype_C', 'ownertype_O',
       'ownertype_P', 'proxcode_1.0', 'proxcode_2.0', 'lottype_0.0',
       'lottype_1.0', 'lottype_2.0', 'lottype_3.0', 'lottype_4.0',
       'lottype_5.0', 'lottype_6.0', 'tax_class_at_time_of_sale_1',
       'tax_class_at_time_of_sale_2'], dtype=object)

In [78]:
count = collections.Counter(df['price_per_sqft'].astype(int))
count

Counter({0: 593176,
         1: 110344,
         2: 108648,
         3: 82488,
         4: 69512,
         5: 54444,
         6: 45828,
         7: 41824,
         8: 34420,
         9: 31460,
         10: 26272,
         11: 24484,
         12: 21100,
         13: 19772,
         14: 18024,
         15: 16560,
         16: 16648,
         17: 14932,
         18: 13576,
         19: 12780,
         20: 11332,
         21: 10972,
         22: 9960,
         23: 9720,
         24: 9552,
         25: 8276,
         26: 7676,
         27: 7812,
         28: 7424,
         29: 6604,
         30: 6808,
         31: 6196,
         32: 5880,
         33: 5840,
         34: 5256,
         35: 4864,
         36: 4928,
         37: 4656,
         38: 4660,
         39: 3780,
         40: 4272,
         41: 3688,
         42: 4092,
         43: 3812,
         44: 3428,
         45: 3480,
         46: 3512,
         47: 2900,
         48: 2776,
         49: 2952,
         50: 3188,
         51: 2776,
         52: 2660,
         53: 3096,
         54: 2896,
         55: 2504,
         56: 2440,
         57: 2612,
         58: 2420,
         59: 2824,
         60: 2340,
         61: 2300,
         62: 2096,
         63: 2196,
         64: 1816,
         65: 1892,
         66: 2032,
         67: 1784,
         68: 1872,
         69: 1688,
         70: 1772,
         71: 1520,
         72: 1972,
         73: 1500,
         74: 1468,
         75: 1652,
         76: 1476,
         77: 1328,
         78: 1416,
         79: 1312,
         80: 1312,
         81: 1248,
         82: 1376,
         83: 1532,
         84: 1336,
         85: 1200,
         86: 1084,
         87: 1040,
         88: 1324,
         89: 904,
         90: 1088,
         91: 1256,
         92: 1208,
         93: 860,
         94: 900,
         95: 940,
         96: 1056,
         97: 808,
         98: 796,
         99: 1152,
         100: 812,
         101: 924,
         102: 976,
         103: 956,
         104: 764,
         105: 708,
         106: 864,
         107: 792,
         108: 864,
         109: 544,
         110: 800,
         111: 744,
         112: 544,
         113: 464,
         114: 648,
         115: 692,
         116: 600,
         117: 720,
         118: 796,
         119: 504,
         120: 592,
         121: 576,
         122: 808,
         123: 604,
         124: 536,
         125: 476,
         126: 584,
         127: 736,
         128: 644,
         129: 460,
         130: 440,
         131: 680,
         132: 392,
         133: 368,
         134: 412,
         135: 440,
         136: 472,
         137: 488,
         138: 444,
         139: 448,
         140: 492,
         141: 304,
         142: 464,
         143: 344,
         144: 452,
         145: 336,
         146: 348,
         147: 348,
         148: 432,
         149: 352,
         150: 340,
         151: 352,
         152: 340,
         153: 404,
         154: 564,
         155: 368,
         156: 312,
         157: 300,
         158: 356,
         159: 216,
         160: 360,
         161: 224,
         162: 324,
         163: 264,
         164: 248,
         165: 368,
         166: 300,
         167: 308,
         168: 344,
         169: 276,
         170: 224,
         171: 332,
         172: 368,
         173: 312,
         174: 204,
         175: 252,
         176: 308,
         177: 268,
         178: 276,
         179: 308,
         180: 204,
         181: 212,
         182: 212,
         183: 304,
         184: 256,
         185: 220,
         186: 144,
         187: 316,
         188: 204,
         189: 132,
         190: 184,
         191: 328,
         192: 156,
         193: 172,
         194: 164,
         195: 176,
         196: 268,
         197: 148,
         198: 108,
         199: 144,
         200: 276,
         201: 224,
         202: 148,
         203: 176,
         204: 200,
         205: 216,
         206: 180,
         207: 204,
         208: 136,
         209: 236,
         210: 128,
         211: 200,
         212: 184,
         213: 208,
         214: 180,
         215: 84,
         216: 64,
         217: 84,
         218: 284,
         219: 108,
         220: 116,
         221: 172,
         222: 136,
         223: 144,
         224: 164,
         225: 148,
         226: 92,
         227: 116,
         228: 108,
         229: 128,
         230: 152,
         231: 136,
         232: 64,
         233: 148,
         234: 108,
         235: 64,
         236: 136,
         237: 144,
         238: 116,
         239: 156,
         240: 112,
         241: 152,
         242: 56,
         243: 88,
         244: 84,
         245: 100,
         246: 116,
         247: 68,
         248: 92,
         249: 120,
         250: 44,
         251: 132,
         252: 128,
         253: 104,
         254: 132,
         255: 92,
         256: 164,
         257: 84,
         258: 64,
         259: 108,
         260: 100,
         261: 56,
         262: 108,
         263: 156,
         264: 88,
         265: 108,
         266: 92,
         267: 124,
         268: 144,
         269: 132,
         270: 116,
         271: 80,
         272: 60,
         273: 132,
         274: 88,
         275: 76,
         276: 20,
         277: 76,
         278: 56,
         279: 48,
         280: 48,
         281: 84,
         282: 96,
         283: 68,
         284: 128,
         285: 84,
         286: 48,
         287: 108,
         288: 48,
         289: 88,
         290: 84,
         291: 48,
         292: 108,
         293: 44,
         294: 116,
         295: 48,
         296: 20,
         297: 132,
         298: 88,
         299: 80,
         300: 100,
         301: 60,
         302: 24,
         303: 48,
         304: 36,
         305: 68,
         306: 64,
         307: 24,
         308: 104,
         309: 72,
         310: 60,
         311: 48,
         312: 60,
         313: 36,
         314: 68,
         315: 68,
         316: 72,
         317: 48,
         318: 24,
         319: 56,
         320: 44,
         321: 92,
         322: 76,
         323: 76,
         324: 36,
         325: 152,
         326: 32,
         327: 96,
         328: 40,
         329: 48,
         330: 28,
         331: 16,
         332: 68,
         333: 24,
         334: 88,
         335: 48,
         336: 64,
         337: 96,
         338: 40,
         339: 56,
         340: 116,
         341: 124,
         342: 52,
         343: 44,
         344: 32,
         345: 4,
         346: 8,
         347: 48,
         348: 20,
         349: 32,
         350: 52,
         351: 84,
         352: 48,
         353: 4,
         354: 32,
         355: 40,
         356: 52,
         357: 52,
         358: 76,
         359: 20,
         360: 56,
         361: 48,
         362: 8,
         363: 16,
         364: 68,
         365: 12,
         366: 28,
         367: 20,
         368: 68,
         369: 8,
         370: 68,
         371: 20,
         372: 16,
         373: 16,
         374: 8,
         375: 44,
         376: 16,
         377: 12,
         378: 96,
         379: 32,
         380: 24,
         381: 4,
         382: 20,
         383: 8,
         385: 48,
         387: 44,
         388: 24,
         389: 4,
         390: 40,
         392: 40,
         394: 20,
         395: 20,
         396: 84,
         397: 8,
         398: 16,
         399: 4,
         400: 24,
         401: 16,
         402: 12,
         403: 8,
         404: 56,
         405: 36,
         406: 32,
         407: 124,
         408: 24,
         409: 4,
         410: 16,
         411: 4,
         414: 40,
         415: 68,
         416: 4,
         417: 32,
         418: 28,
         419: 64,
         420: 16,
         421: 12,
         422: 8,
         423: 28,
         424: 12,
         425: 12,
         426: 24,
         427: 20,
         428: 24,
         429: 20,
         430: 32,
         431: 12,
         432: 48,
         434: 20,
         435: 16,
         436: 16,
         437: 52,
         438: 8,
         439: 32,
         440: 40,
         442: 20,
         444: 4,
         445: 20,
         446: 12,
         447: 8,
         448: 60,
         450: 12,
         453: 8,
         454: 12,
         455: 16,
         456: 20,
         457: 28,
         458: 32,
         459: 4,
         460: 4,
         461: 40,
         462: 16,
         464: 24,
         465: 20,
         466: 8,
         467: 32,
         468: 16,
         469: 40,
         470: 8,
         471: 16,
         472: 8,
         473: 20,
         475: 28,
         476: 24,
         477: 20,
         478: 8,
         479: 24,
         480: 4,
         482: 24,
         483: 20,
         484: 8,
         485: 12,
         486: 40,
         487: 24,
         488: 32,
         490: 16,
         492: 4,
         494: 8,
         495: 4,
         496: 16,
         498: 12,
         500: 36,
         501: 4,
         502: 44,
         503: 4,
         504: 8,
         505: 16,
         507: 8,
         509: 32,
         510: 28,
         512: 16,
         513: 8,
         514: 12,
         515: 4,
         516: 4,
         518: 4,
         519: 16,
         520: 4,
         522: 12,
         523: 12,
         524: 20,
         525: 44,
         526: 12,
         527: 12,
         530: 32,
         531: 4,
         533: 4,
         534: 12,
         536: 12,
         537: 8,
         540: 4,
         541: 48,
         542: 12,
         544: 8,
         548: 16,
         550: 16,
         551: 8,
         553: 24,
         556: 4,
         558: 12,
         559: 8,
         561: 32,
         562: 16,
         564: 8,
         565: 8,
         566: 20,
         567: 16,
         568: 76,
         569: 8,
         570: 4,
         572: 4,
         573: 20,
         575: 8,
         576: 12,
         578: 4,
         580: 8,
         581: 48,
         582: 32,
         583: 4,
         584: 24,
         585: 40,
         587: 12,
         590: 8,
         592: 8,
         593: 12,
         597: 12,
         598: 8,
         599: 12,
         600: 4,
         602: 8,
         604: 12,
         605: 8,
         606: 16,
         607: 16,
         614: 12,
         616: 48,
         617: 4,
         618: 12,
         622: 4,
         623: 12,
         624: 4,
         625: 8,
         626: 12,
         627: 4,
         628: 4,
         630: 12,
         635: 4,
         638: 8,
         641: 12,
         642: 8,
         643: 4,
         648: 16,
         654: 4,
         655: 4,
         657: 32,
         660: 4,
         661: 16,
         663: 8,
         664: 20,
         667: 8,
         671: 4,
         674: 20,
         677: 20,
         678: 12,
         679: 28,
         680: 32,
         681: 12,
         683: 52,
         684: 4,
         685: 4,
         686: 8,
         690: 16,
         691: 12,
         692: 8,
         694: 4,
         695: 12,
         700: 8,
         702: 12,
         703: 4,
         704: 4,
         711: 4,
         716: 4,
         720: 36,
         726: 12,
         729: 4,
         731: 48,
         736: 4,
         744: 4,
         746: 52,
         749: 4,
         750: 8,
         753: 4,
         755: 4,
         759: 4,
         766: 8,
         768: 4,
         769: 4,
         770: 4,
         772: 4,
         777: 8,
         781: 8,
         783: 4,
         784: 8,
         787: 12,
         790: 32,
         805: 8,
         815: 16,
         821: 8,
         822: 12,
         828: 8,
         834: 12,
         836: 8,
         844: 8,
         845: 96,
         848: 8,
         849: 4,
         854: 52,
         856: 48,
         871: 16,
         872: 8,
         875: 16,
         876: 40,
         881: 8,
         882: 48,
         892: 4,
         895: 24,
         899: 8,
         901: 8,
         906: 8,
         912: 4,
         917: 12,
         921: 12,
         922: 48,
         929: 8,
         940: 4,
         944: 8,
         950: 8,
         953: 8,
         956: 4,
         960: 32,
         962: 24,
         964: 32,
         975: 24,
         981: 4,
         994: 8,
         996: 4,
         997: 12,
         1012: 24,
         1038: 4,
         1050: 16,
         1066: 8,
         1068: 8,
         1074: 16,
         1076: 8,
         1085: 4,
         1090: 4,
         1094: 8,
         1100: 8,
         1121: 48,
         1125: 4,
         1138: 8,
         1168: 4,
         1175: 8,
         1192: 8,
         1194: 12,
         1215: 8,
         1273: 4,
         1274: 4,
         1307: 8,
         1347: 8,
         1362: 8,
         1369: 8,
         1373: 8,
         1420: 12,
         1447: 4,
         1460: 20,
         1499: 8,
         1523: 4,
         1538: 8,
         1579: 4,
         1582: 8,
         1587: 8,
         1629: 4,
         1633: 8,
         1652: 4,
         1661: 4,
         1666: 8,
         1676: 4,
         1697: 48,
         1723: 12,
         1735: 12,
         1822: 64,
         1950: 24,
         2013: 8,
         2040: 16,
         2069: 4,
         2075: 4,
         2111: 8,
         2174: 4,
         2360: 4,
         2380: 8,
         2519: 4,
         2559: 4,
         2591: 4,
         2825: 8,
         2849: 4,
         2983: 4,
         3043: 4,
         3100: 4,
         3147: 4,
         3455: 8,
         3571: 8,
         3857: 4,
         4133: 12,
         4263: 4,
         4288: 4,
         4538: 8,
         4575: 8,
         4854: 24,
         4933: 8,
         6912: 4,
         7655: 4,
         7949: 12,
         10315: 12,
         12089: 4,
         14568: 4})

In [80]:
outliers = df.loc[df['price_per_sqft'].astype(int).isin([1,2,3,4,5,6912,7655,7949,10315,12089,14568])]
outliers[['latitude','longitude','price_per_sqft','sale_price','year_built','sale_date']].to_csv("outliers.csv")

In [65]:
#output distribution of target variable to visualize in Tableau
import csv
x = df['price_per_sqft']
count = collections.Counter(x.astype(int))
with open("price_per_sqft_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Price Per Sqft', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [68]:
#output distribution of sale price to visualize in Tableau
import csv
x = df['sale_price']
count = collections.Counter(x.astype(int))
with open("sale_price_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Sale Price', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [48]:
def drop_cols(data, cols):
    return data.drop(cols, axis = 1)

In [78]:
df = drop_cols(df, ['zonemap','sale_date','sale_price','year_built'])

In [79]:
def split_data(data):
    '''
    Splits data into training and test sets (0.8/0.2)
        Args: 
            data: Pandas dataframe
        Returns:
            data_train: Pandas dataframe used for training
            data_test: Pandas dataframe used for testing
    
    '''
    #Convert 'int64' into float; otherwise, sklearn throws a warning message
    columns = data.columns.values
    non_float = []
    for col in columns:
        if data[col].dtype != np.float64:
            non_float.append(col)
        for col in non_float:
            data[col] = data[col].astype(float)
    #drop NaN for crucial columns
    data= data.dropna(how = 'any', subset = ['latitude','longitude','price_per_sqft'])   
    #Split the data
    split = cross_validation.ShuffleSplit(data.shape[0], n_iter=1, train_size = 0.7, test_size=.3, random_state = 1)

    for train, test in split:
        train_index = train
        test_index = test
    data_train = data.ix[train_index,:]
    data_test = data.ix[test_index,:]
    data_train.reset_index(drop=True, inplace=True)
    data_test.reset_index(drop=True, inplace=True)
    return data_train, data_test

In [92]:
data_train, data_test = split_data(df)

In [81]:
def fill_na(data_train, data_test):
    '''
    Fills NaN values with the mean of the column. Note we have already created dummy variables
    for columns with missing values.
    
    Args:
        data_train: Pandas dataframe used for training.
        data_test: Pandas dataframe used for testing.
    Returns:
        data_train: Pandas dataframe with no NaN values, ready for modeling.
        data_test: Pandas dataframe with no NaN values, ready for testing.
    
    '''
    data_train = data_train.apply(lambda x: x.fillna(x.mean()),axis=0)
    data_test = data_test.apply(lambda x: x.fillna(x.mean()),axis=0)
    return data_train, data_test

In [97]:
data_train, data_test = fill_na(data_train, data_test)

In [93]:
print(data_train.shape, data_test.shape)

(400803, 176) (171773, 176)

In [98]:
cols = list(data_train.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('price_per_sqft')) #Remove b from list
data_train = data_train[cols+['price_per_sqft']]
data_test = data_test[cols+['price_per_sqft']]
data_train.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark',
       'condono', 'xcoord', 'ycoord', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'residential_units', 'commercial_units', 'total_units',
       'schooldist_mv', 'council_mv', 'zipcode_mv', 'ownertype_mv',
       'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv', 'lotfront_mv',
       'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv', 'proxcode_mv',
       'yearbuilt_mv', 'xcoord_mv', 'ycoord_mv', 'zonemap_mv',
       'latitude_mv', 'longitude_mv', 'borough_BK', 'borough_BX',
       'borough_MN', 'borough_QN', 'schooldist_1.0', 'schooldist_2.0',
       'schooldist_3.0', 'schooldist_4.0', 'schooldist_5.0',
       'schooldist_6.0', 'schooldist_7.0', 'schooldist_8.0',
       'schooldist_9.0', 'schooldist_10.0', 'schooldist_11.0',
       'schooldist_12.0', 'schooldist_13.0', 'schooldist_14.0',
       'schooldist_15.0', 'schooldist_16.0', 'schooldist_17.0',
       'schooldist_18.0', 'schooldist_19.0', 'schooldist_20.0',
       'schooldist_21.0', 'schooldist_22.0', 'schooldist_23.0',
       'schooldist_24.0', 'schooldist_25.0', 'schooldist_26.0',
       'schooldist_27.0', 'schooldist_28.0', 'schooldist_29.0',
       'schooldist_30.0', 'schooldist_31.0', 'council_1.0', 'council_2.0',
       'council_3.0', 'council_4.0', 'council_5.0', 'council_6.0',
       'council_7.0', 'council_8.0', 'council_9.0', 'council_10.0',
       'council_11.0', 'council_12.0', 'council_13.0', 'council_14.0',
       'council_15.0', 'council_16.0', 'council_17.0', 'council_18.0',
       'council_19.0', 'council_20.0', 'council_21.0', 'council_22.0',
       'council_23.0', 'council_24.0', 'council_25.0', 'council_26.0',
       'council_27.0', 'council_28.0', 'council_29.0', 'council_30.0',
       'council_31.0', 'council_32.0', 'council_33.0', 'council_34.0',
       'council_35.0', 'council_36.0', 'council_37.0', 'council_38.0',
       'council_39.0', 'council_40.0', 'council_41.0', 'council_42.0',
       'council_43.0', 'council_44.0', 'council_45.0', 'council_46.0',
       'council_47.0', 'council_48.0', 'council_49.0', 'council_50.0',
       'bldgclass_R1', 'bldgclass_R2', 'bldgclass_R3', 'bldgclass_R4',
       'bldgclass_R5', 'bldgclass_R6', 'bldgclass_R9', 'bldgclass_RA',
       'bldgclass_RB', 'bldgclass_RC', 'bldgclass_RD', 'bldgclass_RG',
       'bldgclass_RH', 'bldgclass_RI', 'bldgclass_RK', 'bldgclass_RM',
       'bldgclass_RR', 'bldgclass_RS', 'bldgclass_RW', 'bldgclass_RX',
       'landuse_2.0', 'landuse_3.0', 'landuse_4.0', 'landuse_5.0',
       'landuse_6.0', 'landuse_8.0', 'ownertype_C', 'ownertype_O',
       'ownertype_P', 'proxcode_1.0', 'proxcode_2.0', 'lottype_0.0',
       'lottype_1.0', 'lottype_2.0', 'lottype_3.0', 'lottype_4.0',
       'lottype_5.0', 'lottype_6.0', 'tax_class_at_time_of_sale_1',
       'tax_class_at_time_of_sale_2', 'price_per_sqft'], dtype=object)

In [99]:
X_train = data_train.ix[:,:-1]
y_train = data_train.ix[:,-1]
X_test = data_test.ix[:,:-1]
y_test = data_test.ix[:,-1]
regr = linear_model.LinearRegression()
#regr.fit(X_train, y_train)
#mse = mean_squared_error(y_test, regr.predict(X_test))
#print('Mean_squared_error', mse)

In [100]:
from sklearn.ensemble import RandomForestRegressor

RF_reg_final = RandomForestRegressor(n_estimators=100, n_jobs = -1)
RF_reg_final.fit(X_train, y_train)
print(mean_squared_error(y_test, RF_reg_final.predict(X_test)))

1014.62063826

In [57]:
X_train.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark',
       'condono', 'xcoord', 'ycoord', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'residential_units', 'commercial_units', 'total_units',
       'price_per_sqft', 'schooldist_mv', 'council_mv', 'zipcode_mv',
       'ownertype_mv', 'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv',
       'lotfront_mv', 'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv',
       'proxcode_mv', 'yearbuilt_mv', 'xcoord_mv', 'ycoord_mv',
       'zonemap_mv', 'latitude_mv', 'longitude_mv', 'borough_BK',
       'borough_BX', 'borough_MN', 'borough_QN', 'schooldist_1.0',
       'schooldist_2.0', 'schooldist_3.0', 'schooldist_4.0',
       'schooldist_5.0', 'schooldist_6.0', 'schooldist_7.0',
       'schooldist_8.0', 'schooldist_9.0', 'schooldist_10.0',
       'schooldist_11.0', 'schooldist_12.0', 'schooldist_13.0',
       'schooldist_14.0', 'schooldist_15.0', 'schooldist_16.0',
       'schooldist_17.0', 'schooldist_18.0', 'schooldist_19.0',
       'schooldist_20.0', 'schooldist_21.0', 'schooldist_22.0',
       'schooldist_23.0', 'schooldist_24.0', 'schooldist_25.0',
       'schooldist_26.0', 'schooldist_27.0', 'schooldist_28.0',
       'schooldist_29.0', 'schooldist_30.0', 'schooldist_31.0',
       'council_1.0', 'council_2.0', 'council_3.0', 'council_4.0',
       'council_5.0', 'council_6.0', 'council_7.0', 'council_8.0',
       'council_9.0', 'council_10.0', 'council_11.0', 'council_12.0',
       'council_13.0', 'council_14.0', 'council_15.0', 'council_16.0',
       'council_17.0', 'council_18.0', 'council_19.0', 'council_20.0',
       'council_21.0', 'council_22.0', 'council_23.0', 'council_24.0',
       'council_25.0', 'council_26.0', 'council_27.0', 'council_28.0',
       'council_29.0', 'council_30.0', 'council_31.0', 'council_32.0',
       'council_33.0', 'council_34.0', 'council_35.0', 'council_36.0',
       'council_37.0', 'council_38.0', 'council_39.0', 'council_40.0',
       'council_41.0', 'council_42.0', 'council_43.0', 'council_44.0',
       'council_45.0', 'council_46.0', 'council_47.0', 'council_48.0',
       'council_49.0', 'council_50.0', 'bldgclass_R1', 'bldgclass_R2',
       'bldgclass_R3', 'bldgclass_R4', 'bldgclass_R5', 'bldgclass_R6',
       'bldgclass_R9', 'bldgclass_RA', 'bldgclass_RB', 'bldgclass_RC',
       'bldgclass_RD', 'bldgclass_RG', 'bldgclass_RH', 'bldgclass_RI',
       'bldgclass_RK', 'bldgclass_RM', 'bldgclass_RR', 'bldgclass_RS',
       'bldgclass_RW', 'bldgclass_RX', 'landuse_2.0', 'landuse_3.0',
       'landuse_4.0', 'landuse_5.0', 'landuse_6.0', 'landuse_8.0',
       'ownertype_C', 'ownertype_O', 'ownertype_P', 'proxcode_1.0',
       'proxcode_2.0', 'lottype_0.0', 'lottype_1.0', 'lottype_2.0',
       'lottype_3.0', 'lottype_4.0', 'lottype_5.0', 'lottype_6.0',
       'tax_class_at_time_of_sale_1'], dtype=object)

In [145]:
feature_importance =  RF_reg_final.feature_importances_
indices = np.argsort(feature_importance)[::-1][:27]

feature_dct = {}
# Print the feature ranking
print("Feature ranking:")

for f in range(20):
    feature_dct[X_test.columns.values[indices][f]] = feature_importance[indices[f]]
feature_dct

Feature ranking:

{'bldgfront': 0.018375322795829107,
 'comarea': 0.010972858127390312,
 'commercial_units': 0.032859378378804184,
 'condono': 0.026726479840308241,
 'council_4.0': 0.072414961700190308,
 'gross_sqft_pluto': 0.28185238649272115,
 'latitude': 0.01574201393763933,
 'longitude': 0.0093627575879397934,
 'lotdepth': 0.0079779554635258793,
 'lotfront': 0.016403509960369191,
 'numfloors': 0.018516345028803366,
 'resarea': 0.016554750466656002,
 'residential_units': 0.01445442649834509,
 'tax_class_at_time_of_sale_2': 0.0097889932832402552,
 'unitstotal': 0.25183258094173272,
 'unitstotal_mv': 0.020185006969104351,
 'xcoord': 0.0095951270740613579,
 'ycoord': 0.017265038087155543,
 'year_built': 0.052904916514372152,
 'yearbuilt': 0.029749012331112573}

In [115]:
from collections import OrderedDict
from operator import itemgetter

feature_dct = OrderedDict(sorted(feature_dct.items(), key=itemgetter(1), reverse = True))

In [116]:
feature_dct.keys()

odict_keys(['gross_sqft_pluto', 'unitstotal', 'council_4.0', 'year_built', 'yearbuilt', 'commercial_units', 'condono', 'ycoord', 'bldgfront', 'latitude', 'lotfront', 'numfloors', 'resarea', 'unitstotal_mv', 'residential_units', 'comarea', 'unitsres_mv', 'xcoord', 'tax_class_at_time_of_sale_2', 'longitude'])

In [121]:
data_train[['price_per_sqft'] + list(feature_dct.keys())].corr()

,price_per_sqft,gross_sqft_pluto,unitstotal,council_4.0,year_built,yearbuilt,commercial_units,condono,ycoord,bldgfront,...,lotfront,numfloors,resarea,unitstotal_mv,residential_units,comarea,unitsres_mv,xcoord,tax_class_at_time_of_sale_2,longitude
price_per_sqft,1.000000,-0.155891,-3.069134e-01,-0.041846,0.008975,-0.101872,0.119171,0.014776,-0.102872,-0.007528,...,-0.102020,-0.161124,-0.212818,-2.088541e-01,0.026022,-0.017072,-0.206464,-0.089052,-0.161219,-0.089078
gross_sqft_pluto,-0.155891,1.000000,1.288403e-01,0.064277,0.027628,0.205999,-0.016409,0.171342,0.209837,-0.056400,...,0.011188,0.625938,0.861798,5.418245e-01,0.054894,0.757434,0.534673,0.083097,-0.008056,0.083169
unitstotal,-0.306913,0.128840,1.000000e+00,0.051115,0.074670,0.135439,-0.134089,0.006081,0.173348,0.035438,...,0.138483,0.175816,0.179090,-4.870732e-17,0.007974,0.009989,0.015934,0.123647,0.100898,0.123703
council_4.0,-0.041846,0.064277,5.111517e-02,1.000000,0.016434,0.068393,-0.007452,-0.037177,0.144517,-0.052784,...,0.073537,0.327979,0.061006,1.964187e-01,-0.000073,0.041462,0.203593,0.303901,-0.008175,0.303862
year_built,0.008975,0.027628,7.467030e-02,0.016434,1.000000,0.126385,-0.022570,0.148423,-0.009951,0.135440,...,-0.003781,0.067843,0.065526,7.412231e-02,0.002087,-0.032768,0.061816,-0.001348,0.018588,-0.001355
yearbuilt,-0.101872,0.205999,1.354395e-01,0.068393,0.126385,1.000000,-0.043343,0.198477,0.089574,0.051260,...,0.060470,0.321878,0.241294,2.198613e-01,0.021065,0.073956,0.209554,0.061418,0.042581,0.061394
commercial_units,0.119171,-0.016409,-1.340893e-01,-0.007452,-0.022570,-0.043343,1.000000,-0.002974,-0.080044,-0.021882,...,-0.036792,-0.041131,-0.102607,-6.517582e-02,-0.033339,0.101441,-0.097546,-0.064849,-0.626440,-0.064860
condono,0.014776,0.171342,6.080814e-03,-0.037177,0.148423,0.198477,-0.002974,1.000000,-0.111436,0.394462,...,0.044822,0.174171,0.227655,3.507324e-02,0.039002,0.026818,0.011836,-0.133908,-0.005096,-0.133951
ycoord,-0.102872,0.209837,1.733480e-01,0.144517,-0.009951,0.089574,-0.080044,-0.111436,1.000000,-0.092808,...,-0.043004,0.241307,0.242505,2.215443e-01,0.004390,0.079561,0.201184,0.751065,0.078466,0.751244
bldgfront,-0.007528,-0.056400,3.543771e-02,-0.052784,0.135440,0.051260,-0.021882,0.394462,-0.092808,1.000000,...,0.342909,-0.045378,-0.051765,-1.437557e-01,0.011334,-0.038653,-0.137885,-0.031337,0.008300,-0.031356
latitude,-0.102871,0.209837,1.733460e-01,0.144510,-0.009951,0.089575,-0.080044,-0.111432,1.000000,-0.092809,...,-0.043004,0.241306,0.242506,2.215427e-01,0.004390,0.079561,0.201183,0.751054,0.078466,0.751233
lotfront,-0.102020,0.011188,1.384830e-01,0.073537,-0.003781,0.060470,-0.036792,0.044822,-0.043004,0.342909,...,1.000000,0.097779,0.016146,1.789055e-03,-0.001301,0.000102,0.011870,-0.023101,0.012851,-0.023123
numfloors,-0.161124,0.625938,1.758158e-01,0.327979,0.067843,0.321878,-0.041131,0.174171,0.241307,-0.045378,...,0.097779,1.000000,0.659397,5.687831e-01,0.040875,0.319693,0.554875,0.194803,0.031225,0.194848
resarea,-0.212818,0.861798,1.790903e-01,0.061006,0.065526,0.241294,-0.102607,0.227655,0.242505,-0.051765,...,0.016146,0.659397,1.000000,6.455993e-01,0.059855,0.321565,0.640058,0.086378,0.096916,0.086460
unitstotal_mv,-0.208854,0.541825,-4.870732e-17,0.196419,0.074122,0.219861,-0.065176,0.035073,0.221544,-0.143756,...,0.001789,0.568783,0.645599,1.000000e+00,0.016420,0.180438,0.956823,0.126638,0.070419,0.126708
residential_units,0.026022,0.054894,7.973671e-03,-0.000073,0.002087,0.021065,-0.033339,0.039002,0.004390,0.011334,...,-0.001301,0.040875,0.059855,1.642011e-02,1.000000,0.025428,0.018753,0.001884,0.034968,0.001884
comarea,-0.017072,0.757434,9.989419e-03,0.041462,-0.032768,0.073956,0.101441,0.026818,0.079561,-0.038653,...,0.000102,0.319693,0.321565,1.804383e-01,0.025428,1.000000,0.174221,0.043936,-0.139784,0.043965
unitsres_mv,-0.206464,0.534673,1.593410e-02,0.203593,0.061816,0.209554,-0.097546,0.011836,0.201184,-0.137885,...,0.011870,0.554875,0.640058,9.568228e-01,0.018753,0.174221,1.000000,0.103598,0.097395,0.103670
xcoord,-0.089052,0.083097,1.236470e-01,0.303901,-0.001348,0.061418,-0.064849,-0.133908,0.751065,-0.031337,...,-0.023101,0.194803,0.086378,1.266384e-01,0.001884,0.043936,0.103598,1.000000,0.046584,1.000000
tax_class_at_time_of_sale_2,-0.161219,-0.008056,1.008983e-01,-0.008175,0.018588,0.042581,-0.626440,-0.005096,0.078466,0.008300,...,0.012851,0.031225,0.096916,7.041885e-02,0.034968,-0.139784,0.097395,0.046584,1.000000,0.046601
longitude,-0.089078,0.083169,1.237026e-01,0.303862,-0.001355,0.061394,-0.064860,-0.133951,0.751244,-0.031356,...,-0.023123,0.194848,0.086460,1.267082e-01,0.001884,0.043965,0.103670,1.000000,0.046601,1.000000

In [ ]:
neg_features = feature_dct.copy()
pos_features = feature_dct.copy()

#Use correlation matrix to determine which features are negatively correlated with our target variable
negs = ['gross_sqft_pluto','unitstotal']
for key in neg_features.keys():
    if key in negs:
        neg_features[key] = -neg_features[key]
    else:
        neg_features[key] = 0
for key in pos_features.keys():
    if key in negs:
        pos_features[key] = 0

In [103]:
data_test['predicted'] = RF_reg_final.predict(X_test)
data_test['percent_difference'] = 100*(np.abs(data_test['predicted'] - data_test['price_per_sqft']).astype(float) / data_test['price_per_sqft'])
data_test[['yearbuilt','price_per_sqft','predicted','percent_difference']]

          yearbuilt  price_per_sqft   predicted  percent_difference
0       1947.507154       64.230643   60.960564            5.091151
1       1925.000000      593.525180  364.947894           38.511809
2       1947.507154       64.230643   60.960564            5.091151
3       1947.507154       64.230643   60.960564            5.091151
4       1947.507154       64.230643   60.960564            5.091151
5       1947.507154       64.230643   60.960564            5.091151
6       1947.507154       64.230643   60.960564            5.091151
7       1962.000000       59.000000   82.196851           39.316696
8       1947.507154       64.230643   60.960564            5.091151
9       1947.507154       64.230643   60.960564            5.091151
10      1947.507154       64.230643   60.960564            5.091151
11      1947.507154       64.230643   60.960564            5.091151
12      1947.507154       64.230643   60.960564            5.091151
13      2010.000000      245.130778  340.997419           39.108366
14      1947.507154       64.230643   60.960564            5.091151
15      1947.507154       64.230643   60.960564            5.091151
16      1947.507154       64.230643   60.960564            5.091151
17      1947.507154       64.230643   60.960564            5.091151
18      1947.507154       64.230643   60.960564            5.091151
19      2004.000000       14.633551   26.949887           84.165047
20      1947.507154       64.230643   60.960564            5.091151
21      1947.507154       64.230643   60.960564            5.091151
22      1947.507154       64.230643   60.960564            5.091151
23      1947.507154       64.230643   60.960564            5.091151
24      1947.507154       64.230643   60.960564            5.091151
25      1926.000000       21.440589   28.701737           33.866366
26      1947.507154       64.230643   60.960564            5.091151
27      1947.507154       64.230643   60.960564            5.091151
28      1947.507154       64.230643   60.960564            5.091151
29      1923.000000       11.963092   17.651224           47.547342
...             ...             ...         ...                 ...
171743  1947.507154       64.230643   60.960564            5.091151
171744  1947.507154       64.230643   60.960564            5.091151
171745  1947.507154       64.230643   60.960564            5.091151
171746  1947.507154       64.230643   60.960564            5.091151
171747  1947.507154       64.230643   60.960564            5.091151
171748  1947.507154       64.230643   60.960564            5.091151
171749  1920.000000       34.425134   50.372138           46.323725
171750  1947.507154       64.230643   60.960564            5.091151
171751  1947.507154       64.230643   60.960564            5.091151
171752  1947.507154       64.230643   60.960564            5.091151
171753  1947.507154       64.230643   60.960564            5.091151
171754  1947.507154       64.230643   60.960564            5.091151
171755  1963.000000       36.705214   34.130368            7.014932
171756  1947.507154       64.230643   60.960564            5.091151
171757  1947.507154       64.230643   60.960564            5.091151
171758  1930.000000       11.228578   17.729363           57.894991
171759  1947.507154       64.230643   60.960564            5.091151
171760  1947.507154       64.230643   60.960564            5.091151
171761  1947.507154       64.230643   60.960564            5.091151
171762  1947.507154       64.230643   60.960564            5.091151
171763  1947.507154       64.230643   60.960564            5.091151
171764  1947.507154       64.230643   60.960564            5.091151
171765  1947.507154       64.230643   60.960564            5.091151
171766  1947.507154       64.230643   60.960564            5.091151
171767  1947.507154       64.230643   60.960564            5.091151
171768  1947.507154       64.230643   60.960564            5.091151
171769  1947.507154       64.230643   60.960564            5.091151
171770  1947.507154       64.230643   60.960564            5.091151
171771  1947.507154       64.230643   60.960564            5.091151
171772  1947.507154       64.230643   60.960564            5.091151

[171773 rows x 4 columns]

In [102]:
acc = 100 * (data_test[data_test['percent_difference'] < 10.0].shape[0]/ data_test.shape[0])
acc

73.76945154360696

In [28]:
results_df = pd.read_csv("preliminary_results.csv")
results_df

         Model Setup               Unnamed: 1      MSE Accuracy
0  Linear Regression         LR - All records  4976.12     5.43%
1                NaN  LR - Price Per Sqft > 0  3867.97     8.56%
2                NaN  LR - Price Per Sqft > 5  3076.29    27.64%
3      Random Forest         RF - All records  1359.81    13.82%
4                NaN    RF Price Per Sqft > 0  3835.71    64.46%
5                NaN  RF - Price Per Sqft > 5   730.32    69.66%