In [51]:
import pandas as pd
from pyproj import Proj
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn import cross_validation
from sklearn.metrics import mean_squared_error
import seaborn as sns
sns.set(color_codes=True)
import collections

%matplotlib inline

In [84]:
data_path = "data/merged/manhattan_brooklyn_statenisland_bronx_queens_2003_2016.csv"
df = pd.read_csv(data_path, low_memory = True)
df.head()

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_2.0,lottype_3.0,lottype_4.0,lottype_5.0,lottype_6.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2
0,10004.0,0.0,0.0,0.0,1888126.0,0.0,1.0,50.0,0.0,52.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10004.0,0.0,0.0,0.0,1888126.0,0.0,1.0,50.0,0.0,52.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10004.0,0.0,0.0,0.0,1888126.0,0.0,1.0,50.0,0.0,52.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10004.0,0.0,0.0,0.0,1888126.0,0.0,1.0,50.0,0.0,52.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10004.0,0.0,0.0,0.0,1888126.0,0.0,1.0,50.0,0.0,52.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
df.shape

(2108308, 180)

In [87]:
df[['gross_sqft_pluto','sale_price','price_per_sqft']].head()

   gross_sqft_pluto  sale_price  price_per_sqft
0         1888126.0           0    0.000000e+00
1         1888126.0           0    0.000000e+00
2         1888126.0           0    0.000000e+00
3         1888126.0           0    0.000000e+00
4         1888126.0           1    5.296257e-07

In [88]:
df = df[df['price_per_sqft'] > 5]
df.shape

(835376, 180)

In [89]:
df.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark',
       'condono', 'xcoord', 'ycoord', 'zonemap', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'sale_price', 'sale_date', 'year_built', 'residential_units',
       'commercial_units', 'total_units', 'price_per_sqft',
       'schooldist_mv', 'council_mv', 'zipcode_mv', 'ownertype_mv',
       'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv', 'lotfront_mv',
       'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv', 'proxcode_mv',
       'yearbuilt_mv', 'xcoord_mv', 'ycoord_mv', 'zonemap_mv',
       'latitude_mv', 'longitude_mv', 'borough_BK', 'borough_BX',
       'borough_MN', 'borough_QN', 'schooldist_1.0', 'schooldist_2.0',
       'schooldist_3.0', 'schooldist_4.0', 'schooldist_5.0',
       'schooldist_6.0', 'schooldist_7.0', 'schooldist_8.0',
       'schooldist_9.0', 'schooldist_10.0', 'schooldist_11.0',
       'schooldist_12.0', 'schooldist_13.0', 'schooldist_14.0',
       'schooldist_15.0', 'schooldist_16.0', 'schooldist_17.0',
       'schooldist_18.0', 'schooldist_19.0', 'schooldist_20.0',
       'schooldist_21.0', 'schooldist_22.0', 'schooldist_23.0',
       'schooldist_24.0', 'schooldist_25.0', 'schooldist_26.0',
       'schooldist_27.0', 'schooldist_28.0', 'schooldist_29.0',
       'schooldist_30.0', 'schooldist_31.0', 'council_1.0', 'council_2.0',
       'council_3.0', 'council_4.0', 'council_5.0', 'council_6.0',
       'council_7.0', 'council_8.0', 'council_9.0', 'council_10.0',
       'council_11.0', 'council_12.0', 'council_13.0', 'council_14.0',
       'council_15.0', 'council_16.0', 'council_17.0', 'council_18.0',
       'council_19.0', 'council_20.0', 'council_21.0', 'council_22.0',
       'council_23.0', 'council_24.0', 'council_25.0', 'council_26.0',
       'council_27.0', 'council_28.0', 'council_29.0', 'council_30.0',
       'council_31.0', 'council_32.0', 'council_33.0', 'council_34.0',
       'council_35.0', 'council_36.0', 'council_37.0', 'council_38.0',
       'council_39.0', 'council_40.0', 'council_41.0', 'council_42.0',
       'council_43.0', 'council_44.0', 'council_45.0', 'council_46.0',
       'council_47.0', 'council_48.0', 'council_49.0', 'council_50.0',
       'bldgclass_R1', 'bldgclass_R2', 'bldgclass_R3', 'bldgclass_R4',
       'bldgclass_R5', 'bldgclass_R6', 'bldgclass_R9', 'bldgclass_RA',
       'bldgclass_RB', 'bldgclass_RC', 'bldgclass_RD', 'bldgclass_RG',
       'bldgclass_RH', 'bldgclass_RI', 'bldgclass_RK', 'bldgclass_RM',
       'bldgclass_RR', 'bldgclass_RS', 'bldgclass_RW', 'bldgclass_RX',
       'landuse_2.0', 'landuse_3.0', 'landuse_4.0', 'landuse_5.0',
       'landuse_6.0', 'landuse_8.0', 'ownertype_C', 'ownertype_O',
       'ownertype_P', 'proxcode_1.0', 'proxcode_2.0', 'lottype_0.0',
       'lottype_1.0', 'lottype_2.0', 'lottype_3.0', 'lottype_4.0',
       'lottype_5.0', 'lottype_6.0', 'tax_class_at_time_of_sale_1',
       'tax_class_at_time_of_sale_2'], dtype=object)

In [78]:
count = collections.Counter(df['price_per_sqft'].astype(int))
count

Counter({0: 593176,
         1: 110344,
         2: 108648,
         3: 82488,
         4: 69512,
         5: 54444,
         6: 45828,
         7: 41824,
         8: 34420,
         9: 31460,
         10: 26272,
         11: 24484,
         12: 21100,
         13: 19772,
         14: 18024,
         15: 16560,
         16: 16648,
         17: 14932,
         18: 13576,
         19: 12780,
         20: 11332,
         21: 10972,
         22: 9960,
         23: 9720,
         24: 9552,
         25: 8276,
         26: 7676,
         27: 7812,
         28: 7424,
         29: 6604,
         30: 6808,
         31: 6196,
         32: 5880,
         33: 5840,
         34: 5256,
         35: 4864,
         36: 4928,
         37: 4656,
         38: 4660,
         39: 3780,
         40: 4272,
         41: 3688,
         42: 4092,
         43: 3812,
         44: 3428,
         45: 3480,
         46: 3512,
         47: 2900,
         48: 2776,
         49: 2952,
         50: 3188,
         51: 2776,
         52: 2660,
         53: 3096,
         54: 2896,
         55: 2504,
         56: 2440,
         57: 2612,
         58: 2420,
         59: 2824,
         60: 2340,
         61: 2300,
         62: 2096,
         63: 2196,
         64: 1816,
         65: 1892,
         66: 2032,
         67: 1784,
         68: 1872,
         69: 1688,
         70: 1772,
         71: 1520,
         72: 1972,
         73: 1500,
         74: 1468,
         75: 1652,
         76: 1476,
         77: 1328,
         78: 1416,
         79: 1312,
         80: 1312,
         81: 1248,
         82: 1376,
         83: 1532,
         84: 1336,
         85: 1200,
         86: 1084,
         87: 1040,
         88: 1324,
         89: 904,
         90: 1088,
         91: 1256,
         92: 1208,
         93: 860,
         94: 900,
         95: 940,
         96: 1056,
         97: 808,
         98: 796,
         99: 1152,
         100: 812,
         101: 924,
         102: 976,
         103: 956,
         104: 764,
         105: 708,
         106: 864,
         107: 792,
         108: 864,
         109: 544,
         110: 800,
         111: 744,
         112: 544,
         113: 464,
         114: 648,
         115: 692,
         116: 600,
         117: 720,
         118: 796,
         119: 504,
         120: 592,
         121: 576,
         122: 808,
         123: 604,
         124: 536,
         125: 476,
         126: 584,
         127: 736,
         128: 644,
         129: 460,
         130: 440,
         131: 680,
         132: 392,
         133: 368,
         134: 412,
         135: 440,
         136: 472,
         137: 488,
         138: 444,
         139: 448,
         140: 492,
         141: 304,
         142: 464,
         143: 344,
         144: 452,
         145: 336,
         146: 348,
         147: 348,
         148: 432,
         149: 352,
         150: 340,
         151: 352,
         152: 340,
         153: 404,
         154: 564,
         155: 368,
         156: 312,
         157: 300,
         158: 356,
         159: 216,
         160: 360,
         161: 224,
         162: 324,
         163: 264,
         164: 248,
         165: 368,
         166: 300,
         167: 308,
         168: 344,
         169: 276,
         170: 224,
         171: 332,
         172: 368,
         173: 312,
         174: 204,
         175: 252,
         176: 308,
         177: 268,
         178: 276,
         179: 308,
         180: 204,
         181: 212,
         182: 212,
         183: 304,
         184: 256,
         185: 220,
         186: 144,
         187: 316,
         188: 204,
         189: 132,
         190: 184,
         191: 328,
         192: 156,
         193: 172,
         194: 164,
         195: 176,
         196: 268,
         197: 148,
         198: 108,
         199: 144,
         200: 276,
         201: 224,
         202: 148,
         203: 176,
         204: 200,
         205: 216,
         206: 180,
         207: 204,
         208: 136,
         209: 236,
         210: 128,
         211: 200,
         212: 184,
         213: 208,
         214: 180,
         215: 84,
         216: 64,
         217: 84,
         218: 284,
         219: 108,
         220: 116,
         221: 172,
         222: 136,
         223: 144,
         224: 164,
         225: 148,
         226: 92,
         227: 116,
         228: 108,
         229: 128,
         230: 152,
         231: 136,
         232: 64,
         233: 148,
         234: 108,
         235: 64,
         236: 136,
         237: 144,
         238: 116,
         239: 156,
         240: 112,
         241: 152,
         242: 56,
         243: 88,
         244: 84,
         245: 100,
         246: 116,
         247: 68,
         248: 92,
         249: 120,
         250: 44,
         251: 132,
         252: 128,
         253: 104,
         254: 132,
         255: 92,
         256: 164,
         257: 84,
         258: 64,
         259: 108,
         260: 100,
         261: 56,
         262: 108,
         263: 156,
         264: 88,
         265: 108,
         266: 92,
         267: 124,
         268: 144,
         269: 132,
         270: 116,
         271: 80,
         272: 60,
         273: 132,
         274: 88,
         275: 76,
         276: 20,
         277: 76,
         278: 56,
         279: 48,
         280: 48,
         281: 84,
         282: 96,
         283: 68,
         284: 128,
         285: 84,
         286: 48,
         287: 108,
         288: 48,
         289: 88,
         290: 84,
         291: 48,
         292: 108,
         293: 44,
         294: 116,
         295: 48,
         296: 20,
         297: 132,
         298: 88,
         299: 80,
         300: 100,
         301: 60,
         302: 24,
         303: 48,
         304: 36,
         305: 68,
         306: 64,
         307: 24,
         308: 104,
         309: 72,
         310: 60,
         311: 48,
         312: 60,
         313: 36,
         314: 68,
         315: 68,
         316: 72,
         317: 48,
         318: 24,
         319: 56,
         320: 44,
         321: 92,
         322: 76,
         323: 76,
         324: 36,
         325: 152,
         326: 32,
         327: 96,
         328: 40,
         329: 48,
         330: 28,
         331: 16,
         332: 68,
         333: 24,
         334: 88,
         335: 48,
         336: 64,
         337: 96,
         338: 40,
         339: 56,
         340: 116,
         341: 124,
         342: 52,
         343: 44,
         344: 32,
         345: 4,
         346: 8,
         347: 48,
         348: 20,
         349: 32,
         350: 52,
         351: 84,
         352: 48,
         353: 4,
         354: 32,
         355: 40,
         356: 52,
         357: 52,
         358: 76,
         359: 20,
         360: 56,
         361: 48,
         362: 8,
         363: 16,
         364: 68,
         365: 12,
         366: 28,
         367: 20,
         368: 68,
         369: 8,
         370: 68,
         371: 20,
         372: 16,
         373: 16,
         374: 8,
         375: 44,
         376: 16,
         377: 12,
         378: 96,
         379: 32,
         380: 24,
         381: 4,
         382: 20,
         383: 8,
         385: 48,
         387: 44,
         388: 24,
         389: 4,
         390: 40,
         392: 40,
         394: 20,
         395: 20,
         396: 84,
         397: 8,
         398: 16,
         399: 4,
         400: 24,
         401: 16,
         402: 12,
         403: 8,
         404: 56,
         405: 36,
         406: 32,
         407: 124,
         408: 24,
         409: 4,
         410: 16,
         411: 4,
         414: 40,
         415: 68,
         416: 4,
         417: 32,
         418: 28,
         419: 64,
         420: 16,
         421: 12,
         422: 8,
         423: 28,
         424: 12,
         425: 12,
         426: 24,
         427: 20,
         428: 24,
         429: 20,
         430: 32,
         431: 12,
         432: 48,
         434: 20,
         435: 16,
         436: 16,
         437: 52,
         438: 8,
         439: 32,
         440: 40,
         442: 20,
         444: 4,
         445: 20,
         446: 12,
         447: 8,
         448: 60,
         450: 12,
         453: 8,
         454: 12,
         455: 16,
         456: 20,
         457: 28,
         458: 32,
         459: 4,
         460: 4,
         461: 40,
         462: 16,
         464: 24,
         465: 20,
         466: 8,
         467: 32,
         468: 16,
         469: 40,
         470: 8,
         471: 16,
         472: 8,
         473: 20,
         475: 28,
         476: 24,
         477: 20,
         478: 8,
         479: 24,
         480: 4,
         482: 24,
         483: 20,
         484: 8,
         485: 12,
         486: 40,
         487: 24,
         488: 32,
         490: 16,
         492: 4,
         494: 8,
         495: 4,
         496: 16,
         498: 12,
         500: 36,
         501: 4,
         502: 44,
         503: 4,
         504: 8,
         505: 16,
         507: 8,
         509: 32,
         510: 28,
         512: 16,
         513: 8,
         514: 12,
         515: 4,
         516: 4,
         518: 4,
         519: 16,
         520: 4,
         522: 12,
         523: 12,
         524: 20,
         525: 44,
         526: 12,
         527: 12,
         530: 32,
         531: 4,
         533: 4,
         534: 12,
         536: 12,
         537: 8,
         540: 4,
         541: 48,
         542: 12,
         544: 8,
         548: 16,
         550: 16,
         551: 8,
         553: 24,
         556: 4,
         558: 12,
         559: 8,
         561: 32,
         562: 16,
         564: 8,
         565: 8,
         566: 20,
         567: 16,
         568: 76,
         569: 8,
         570: 4,
         572: 4,
         573: 20,
         575: 8,
         576: 12,
         578: 4,
         580: 8,
         581: 48,
         582: 32,
         583: 4,
         584: 24,
         585: 40,
         587: 12,
         590: 8,
         592: 8,
         593: 12,
         597: 12,
         598: 8,
         599: 12,
         600: 4,
         602: 8,
         604: 12,
         605: 8,
         606: 16,
         607: 16,
         614: 12,
         616: 48,
         617: 4,
         618: 12,
         622: 4,
         623: 12,
         624: 4,
         625: 8,
         626: 12,
         627: 4,
         628: 4,
         630: 12,
         635: 4,
         638: 8,
         641: 12,
         642: 8,
         643: 4,
         648: 16,
         654: 4,
         655: 4,
         657: 32,
         660: 4,
         661: 16,
         663: 8,
         664: 20,
         667: 8,
         671: 4,
         674: 20,
         677: 20,
         678: 12,
         679: 28,
         680: 32,
         681: 12,
         683: 52,
         684: 4,
         685: 4,
         686: 8,
         690: 16,
         691: 12,
         692: 8,
         694: 4,
         695: 12,
         700: 8,
         702: 12,
         703: 4,
         704: 4,
         711: 4,
         716: 4,
         720: 36,
         726: 12,
         729: 4,
         731: 48,
         736: 4,
         744: 4,
         746: 52,
         749: 4,
         750: 8,
         753: 4,
         755: 4,
         759: 4,
         766: 8,
         768: 4,
         769: 4,
         770: 4,
         772: 4,
         777: 8,
         781: 8,
         783: 4,
         784: 8,
         787: 12,
         790: 32,
         805: 8,
         815: 16,
         821: 8,
         822: 12,
         828: 8,
         834: 12,
         836: 8,
         844: 8,
         845: 96,
         848: 8,
         849: 4,
         854: 52,
         856: 48,
         871: 16,
         872: 8,
         875: 16,
         876: 40,
         881: 8,
         882: 48,
         892: 4,
         895: 24,
         899: 8,
         901: 8,
         906: 8,
         912: 4,
         917: 12,
         921: 12,
         922: 48,
         929: 8,
         940: 4,
         944: 8,
         950: 8,
         953: 8,
         956: 4,
         960: 32,
         962: 24,
         964: 32,
         975: 24,
         981: 4,
         994: 8,
         996: 4,
         997: 12,
         1012: 24,
         1038: 4,
         1050: 16,
         1066: 8,
         1068: 8,
         1074: 16,
         1076: 8,
         1085: 4,
         1090: 4,
         1094: 8,
         1100: 8,
         1121: 48,
         1125: 4,
         1138: 8,
         1168: 4,
         1175: 8,
         1192: 8,
         1194: 12,
         1215: 8,
         1273: 4,
         1274: 4,
         1307: 8,
         1347: 8,
         1362: 8,
         1369: 8,
         1373: 8,
         1420: 12,
         1447: 4,
         1460: 20,
         1499: 8,
         1523: 4,
         1538: 8,
         1579: 4,
         1582: 8,
         1587: 8,
         1629: 4,
         1633: 8,
         1652: 4,
         1661: 4,
         1666: 8,
         1676: 4,
         1697: 48,
         1723: 12,
         1735: 12,
         1822: 64,
         1950: 24,
         2013: 8,
         2040: 16,
         2069: 4,
         2075: 4,
         2111: 8,
         2174: 4,
         2360: 4,
         2380: 8,
         2519: 4,
         2559: 4,
         2591: 4,
         2825: 8,
         2849: 4,
         2983: 4,
         3043: 4,
         3100: 4,
         3147: 4,
         3455: 8,
         3571: 8,
         3857: 4,
         4133: 12,
         4263: 4,
         4288: 4,
         4538: 8,
         4575: 8,
         4854: 24,
         4933: 8,
         6912: 4,
         7655: 4,
         7949: 12,
         10315: 12,
         12089: 4,
         14568: 4})

In [80]:
outliers = df.loc[df['price_per_sqft'].astype(int).isin([1,2,3,4,5,6912,7655,7949,10315,12089,14568])]
outliers[['latitude','longitude','price_per_sqft','sale_price','year_built','sale_date']].to_csv("outliers.csv")

In [65]:
#output distribution of target variable to visualize in Tableau
import csv
x = df['price_per_sqft']
count = collections.Counter(x.astype(int))
with open("price_per_sqft_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Price Per Sqft', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [68]:
#output distribution of sale price to visualize in Tableau
import csv
x = df['sale_price']
count = collections.Counter(x.astype(int))
with open("sale_price_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Sale Price', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [90]:
def drop_cols(data, cols):
    return data.drop(cols, axis = 1)

In [91]:
df = drop_cols(df, ['zonemap','sale_date','sale_price'])

In [92]:
def split_data(data):
    '''
    Splits data into training and test sets (0.8/0.2)
        Args: 
            data: Pandas dataframe
        Returns:
            data_train: Pandas dataframe used for training
            data_test: Pandas dataframe used for testing
    
    '''
    #Convert 'int64' into float; otherwise, sklearn throws a warning message
    columns = data.columns.values
    non_float = []
    for col in columns:
        if data[col].dtype != np.float64:
            non_float.append(col)
        for col in non_float:
            data[col] = data[col].astype(float)
    #drop NaN for crucial columns
    data= data.dropna(how = 'any', subset = ['latitude','longitude','price_per_sqft'])   
    #Split the data
    split = cross_validation.ShuffleSplit(data.shape[0], n_iter=1, train_size = 0.7, test_size=.3, random_state = 1)

    for train, test in split:
        train_index = train
        test_index = test
    data_train = data.ix[train_index,:]
    data_test = data.ix[test_index,:]
    data_train.reset_index(drop=True, inplace=True)
    data_test.reset_index(drop=True, inplace=True)
    return data_train, data_test

In [93]:
data_train, data_test = split_data(df)

In [94]:
def fill_na(data_train, data_test):
    '''
    Fills NaN values with the mean of the column. Note we have already created dummy variables
    for columns with missing values.
    
    Args:
        data_train: Pandas dataframe used for training.
        data_test: Pandas dataframe used for testing.
    Returns:
        data_train: Pandas dataframe with no NaN values, ready for modeling.
        data_test: Pandas dataframe with no NaN values, ready for testing.
    
    '''
    data_train = data_train.apply(lambda x: x.fillna(x.mean()),axis=0)
    data_test = data_test.apply(lambda x: x.fillna(x.mean()),axis=0)
    return data_train, data_test

In [95]:
data_train, data_test = fill_na(data_train, data_test)

In [96]:
print(data_train.shape, data_test.shape)

(583839, 177) (250217, 177)

In [98]:
cols = list(data_train.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('price_per_sqft')) #Remove b from list
data_train = data_train[cols+['price_per_sqft']]
data_test = data_test[cols+['price_per_sqft']]
data_train.columns.values

array(['zipcode', 'ltdheight', 'splitzone', 'easements', 'comarea',
       'resarea', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal',
       'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'irrlotcode',
       'bsmtcode', 'yearbuilt', 'builtcode', 'histdist', 'landmark',
       'condono', 'xcoord', 'ycoord', 'latitude', 'longitude',
       'gross_sqft_pluto', 'garage', 'extension', 'countalter',
       'year_built', 'residential_units', 'commercial_units',
       'total_units', 'schooldist_mv', 'council_mv', 'zipcode_mv',
       'ownertype_mv', 'numbldgs_mv', 'unitsres_mv', 'unitstotal_mv',
       'lotfront_mv', 'lotdepth_mv', 'bldgfront_mv', 'bldgdepth_mv',
       'proxcode_mv', 'yearbuilt_mv', 'xcoord_mv', 'ycoord_mv',
       'zonemap_mv', 'latitude_mv', 'longitude_mv', 'borough_BK',
       'borough_BX', 'borough_MN', 'borough_QN', 'schooldist_1.0',
       'schooldist_2.0', 'schooldist_3.0', 'schooldist_4.0',
       'schooldist_5.0', 'schooldist_6.0', 'schooldist_7.0',
       'schooldist_8.0', 'schooldist_9.0', 'schooldist_10.0',
       'schooldist_11.0', 'schooldist_12.0', 'schooldist_13.0',
       'schooldist_14.0', 'schooldist_15.0', 'schooldist_16.0',
       'schooldist_17.0', 'schooldist_18.0', 'schooldist_19.0',
       'schooldist_20.0', 'schooldist_21.0', 'schooldist_22.0',
       'schooldist_23.0', 'schooldist_24.0', 'schooldist_25.0',
       'schooldist_26.0', 'schooldist_27.0', 'schooldist_28.0',
       'schooldist_29.0', 'schooldist_30.0', 'schooldist_31.0',
       'council_1.0', 'council_2.0', 'council_3.0', 'council_4.0',
       'council_5.0', 'council_6.0', 'council_7.0', 'council_8.0',
       'council_9.0', 'council_10.0', 'council_11.0', 'council_12.0',
       'council_13.0', 'council_14.0', 'council_15.0', 'council_16.0',
       'council_17.0', 'council_18.0', 'council_19.0', 'council_20.0',
       'council_21.0', 'council_22.0', 'council_23.0', 'council_24.0',
       'council_25.0', 'council_26.0', 'council_27.0', 'council_28.0',
       'council_29.0', 'council_30.0', 'council_31.0', 'council_32.0',
       'council_33.0', 'council_34.0', 'council_35.0', 'council_36.0',
       'council_37.0', 'council_38.0', 'council_39.0', 'council_40.0',
       'council_41.0', 'council_42.0', 'council_43.0', 'council_44.0',
       'council_45.0', 'council_46.0', 'council_47.0', 'council_48.0',
       'council_49.0', 'council_50.0', 'bldgclass_R1', 'bldgclass_R2',
       'bldgclass_R3', 'bldgclass_R4', 'bldgclass_R5', 'bldgclass_R6',
       'bldgclass_R9', 'bldgclass_RA', 'bldgclass_RB', 'bldgclass_RC',
       'bldgclass_RD', 'bldgclass_RG', 'bldgclass_RH', 'bldgclass_RI',
       'bldgclass_RK', 'bldgclass_RM', 'bldgclass_RR', 'bldgclass_RS',
       'bldgclass_RW', 'bldgclass_RX', 'landuse_2.0', 'landuse_3.0',
       'landuse_4.0', 'landuse_5.0', 'landuse_6.0', 'landuse_8.0',
       'ownertype_C', 'ownertype_O', 'ownertype_P', 'proxcode_1.0',
       'proxcode_2.0', 'lottype_0.0', 'lottype_1.0', 'lottype_2.0',
       'lottype_3.0', 'lottype_4.0', 'lottype_5.0', 'lottype_6.0',
       'tax_class_at_time_of_sale_1', 'tax_class_at_time_of_sale_2',
       'price_per_sqft'], dtype=object)

In [99]:
X_train = data_train.ix[:,:-1]
y_train = data_train.ix[:,-1]
X_test = data_test.ix[:,:-1]
y_test = data_test.ix[:,-1]
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)
mse = mean_squared_error(y_test, regr.predict(X_test))
print('Mean_squared_error', mse)

Mean_squared_error 3835.70896625

In [100]:
from sklearn.ensemble import RandomForestRegressor

RF_reg_final = RandomForestRegressor(n_estimators=100, n_jobs = -1)
RF_reg_final.fit(X_train, y_train)
print(mean_squared_error(y_test, RF_reg_final.predict(X_test)))

730.063776792

In [101]:
feature_importance =  RF_reg_final.feature_importances_
indices = np.argsort(feature_importance)[::-1][:27]

feature_dct = {}
# Print the feature ranking
print("Feature ranking:")

for f in range(27):
    feature_dct[X_test.columns.values[indices][f]] = feature_importance[indices[f]]
feature_dct

Feature ranking:

{'bldgclass_RH': 0.0081431358501530132,
 'bldgdepth': 0.0074211088957864694,
 'bldgfront': 0.019628587386128847,
 'comarea': 0.011652903133376637,
 'commercial_units': 0.031946459639348723,
 'condono': 0.028151564113191516,
 'council_4.0': 0.064738883533382613,
 'gross_sqft_pluto': 0.27705120233849928,
 'latitude': 0.019486311360964726,
 'longitude': 0.0084538998537445446,
 'lotdepth': 0.0067174627188642602,
 'lotfront': 0.018881395106410032,
 'lottype_0.0': 0.0027191197417211028,
 'numfloors': 0.01730054916230649,
 'resarea': 0.016389573559105912,
 'residential_units': 0.014207518233361621,
 'tax_class_at_time_of_sale_2': 0.010031960021858839,
 'total_units': 0.0039463066680926256,
 'unitsres': 0.0074706839333408236,
 'unitsres_mv': 0.010478671448495602,
 'unitstotal': 0.24622187605693124,
 'unitstotal_mv': 0.016018398134770021,
 'xcoord': 0.010404188978540976,
 'ycoord': 0.024354671803658513,
 'year_built': 0.049783134703004689,
 'yearbuilt': 0.038630468418809287,
 'zipcode': 0.0041236279126932581}

In [103]:
data_test['predicted'] = RF_reg_final.predict(X_test)
data_test['percent_difference'] = 100*(np.abs(data_test['predicted'] - data_test['price_per_sqft']).astype(float) / data_test['price_per_sqft'])
data_test[['price_per_sqft','predicted','percent_difference']].head()

   price_per_sqft  predicted  percent_difference
0       44.098298  44.479898            0.865338
1       31.059346  37.080267           19.385218
2       44.098298  44.479898            0.865338
3       44.098298  44.479898            0.865338
4        7.244468   7.732797            6.740715

In [105]:
acc = 100 * (data_test[data_test['percent_difference'] < 10.0].shape[0]/ data_test.shape[0])
acc

69.82179468221584

In [106]:
predicted = RF_reg_final.predict(X_test)
percent_diff = 100*(np.abs(predicted - y_test).astype(float) / y_test)

In [107]:
acc = 100 * (sum(i < 10. for i in percent_diff)/ len(percent_diff))
acc

69.821794682215838