In [1]:
import pandas as pd
from pyproj import Proj
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn import model_selection as cross_validation
from sklearn.metrics import mean_squared_error
import seaborn as sns
sns.set(color_codes=True)
import collections

%matplotlib inline

In [ ]:
ls data/

In [ ]:
data_path = "data/merged/bronx_brooklyn_manhattan_queens_statenisland_2003_2016.csv"
df = pd.read_csv(data_path, low_memory = False)
df.head()

In [ ]:
no_dups = df.drop_duplicates()
no_dups.shape

In [ ]:
df.shape

In [ ]:
df[['bbl','zipcode','latitude','longitude']].to_csv("bbls_and_zips.csv", index = False)

In [ ]:
x = df[df['year_built'] != df['yearbuilt']]
x[x['year_built'] == 0.0].shape

In [ ]:
df[['gross_sqft_pluto','sale_price','price_per_sqft']].head()

In [ ]:
df = df[df['price_per_sqft'] != 0.0]
df.shape

In [ ]:
df = df[df['price_per_sqft'] >= 10]
df = df[df['price_per_sqft'] <= 5000]
df.shape

In [ ]:
count = collections.Counter(df['price_per_sqft'].astype(int))
count

In [ ]:
outliers = df.loc[df['price_per_sqft'].astype(int).isin([1,2,3,4,5,6912,7655,7949,10315,12089,14568])]
outliers[['latitude','longitude','price_per_sqft','sale_price','year_built','sale_date']].to_csv("outliers.csv")

In [ ]:
#output distribution of target variable to visualize in Tableau
import csv
x = df['price_per_sqft']
count = collections.Counter(x.astype(int))
with open("price_per_sqft_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Price Per Sqft', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [ ]:
#output distribution of sale price to visualize in Tableau
import csv
x = df['sale_price']
count = collections.Counter(x.astype(int))
with open("sale_price_counts.csv",'w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['Sale Price', 'Frequency'])
    for key, count in count.items():
        writer.writerow([key, count])

In [ ]:
def drop_cols(data, cols):
    return data.drop(cols, axis = 1)

In [ ]:
df = drop_cols(df, ['zonemap','sale_date','sale_price','year_built'])

In [ ]:
from sklearn import model_selection
def split_data(data):
    '''
    Splits data into training and test sets (0.8/0.2)
        Args: 
            data: Pandas dataframe
        Returns:
            data_train: Pandas dataframe used for training
            data_test: Pandas dataframe used for testing
    
    '''
    #Convert 'int64' into float; otherwise, sklearn throws a warning message
    columns = data.columns.values
    non_float = []
    for col in columns:
        if data[col].dtype != np.float64:
            non_float.append(col)
    for col in non_float:
        data[col] = data[col].astype(float)
    #drop NaN for crucial columns
    data= data.dropna(how = 'any', subset = ['price_per_sqft'])   
    #Split the data
    rs = model_selection.ShuffleSplit(train_size = 0.8, test_size=.2, random_state = 1, n_splits = 1)

    for train, test in rs.split(data):
        train_index = train
        test_index = test
    data_train = data.ix[train_index,:]
    data_test = data.ix[test_index,:]
    data_train.reset_index(drop=True, inplace=True)
    data_test.reset_index(drop=True, inplace=True)
    return data_train, data_test

In [ ]:
data_train, data_test = split_data(df)

In [ ]:
def fill_na(data_train, data_test):
    '''
    Fills NaN values with the mean of the column. Note we have already created dummy variables
    for columns with missing values.
    
    Args:
        data_train: Pandas dataframe used for training.
        data_test: Pandas dataframe used for testing.
    Returns:
        data_train: Pandas dataframe with no NaN values, ready for modeling.
        data_test: Pandas dataframe with no NaN values, ready for testing.
    
    '''
    data_train = data_train.apply(lambda x: x.fillna(x.mean()),axis=0)
    data_test = data_test.apply(lambda x: x.fillna(x.mean()),axis=0)
    return data_train, data_test

In [ ]:
data_train, data_test = fill_na(data_train, data_test)

In [ ]:
print(data_train.shape, data_test.shape)

In [ ]:
cols = list(data_train.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('price_per_sqft')) #Remove b from list
data_train = data_train[cols+['price_per_sqft']]
data_test = data_test[cols+['price_per_sqft']]
data_train.columns.values

In [ ]:
data_train = data_train.drop(['public_recycling_bins_dist'], axis = 1)
data_test = data_test.drop(['public_recycling_bins_dist'], axis = 1)

In [ ]:
X_train = data_train.ix[:,:-1]
y_train = data_train.ix[:,-1]
X_test = data_test.ix[:,:-1]
y_test = data_test.ix[:,-1]
regr = linear_model.LinearRegression()
#regr.fit(X_train, y_train)
#mse = mean_squared_error(y_test, regr.predict(X_test))
#print('Mean_squared_error', mse)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

RF_reg_final = RandomForestRegressor(n_estimators=100, n_jobs = -1)
RF_reg_final.fit(X_train, y_train)
print(mean_squared_error(y_test, RF_reg_final.predict(X_test)))

In [ ]:
bbls = []
file = open("data/Queens Light Rail BBL.csv", 'rb')
for line in file:
    bbls.append(line)
bbls = [float(i) for i in bbls]
bbls

In [ ]:
finance = pd.read_csv("finance_queens.csv")
finance.shape

In [ ]:
queens = pd.read_csv("data/nyc_pluto_16v1/QN.csv", low_memory = False)
queens.head()

In [ ]:
buildings_2 = pd.read_csv("pluto_finance_test.csv")
buildings_2.shape

In [ ]:
buildings_3 = pd.read_csv("data/merged/queens_2003_2016.csv")
buildings_3['price_per_sqft'].isnull().sum()

In [ ]:
buildings_3 = buildings_3.drop_duplicates()
buildings_3.shape

In [ ]:
df.bbl.isnull().sum()

In [ ]:
buildings_3.bbl.isnull().sum()

In [ ]:
buildings = pd.merge(queens, finance, how='right',
        left_on='BBL', right_on = 'bbl')
buildings.shape

In [ ]:
buildings_2 = buildings_2.drop_duplicates()
buildings_2.shape

In [ ]:
affected_properties = finance.loc[finance['bbl'].isin(bbls)]
affected_properties.shape

In [ ]:
list(X_test['bbl'])

In [ ]:
feature_importance =  RF_reg_final.feature_importances_
indices = np.argsort(feature_importance)[::-1][:27]

feature_dct = {}
# Print the feature ranking
print("Feature ranking:")

for f in range(20):
    feature_dct[X_test.columns.values[indices][f]] = feature_importance[indices[f]]
feature_dct

In [ ]:
from collections import OrderedDict
from operator import itemgetter

feature_dct = OrderedDict(sorted(feature_dct.items(), key=itemgetter(1), reverse = True))

In [ ]:
feature_dct.keys()

In [ ]:
data_train[['price_per_sqft'] + list(feature_dct.keys())].corr()

In [ ]:
neg_features = feature_dct.copy()
pos_features = feature_dct.copy()

#Use correlation matrix to determine which features are negatively correlated with our target variable
negs = ['gross_sqft_pluto','unitstotal']
for key in neg_features.keys():
    if key in negs:
        neg_features[key] = -neg_features[key]
    else:
        neg_features[key] = 0
for key in pos_features.keys():
    if key in negs:
        pos_features[key] = 0

In [ ]:
data_test['predicted'] = RF_reg_final.predict(X_test)
data_test['percent_difference'] = 100*(np.abs(data_test['predicted'] - data_test['price_per_sqft']).astype(float) / data_test['price_per_sqft'])
data_test[['yearbuilt','price_per_sqft','predicted','percent_difference']]

In [ ]:
acc = 100 * (data_test[data_test['percent_difference'] < 10.0].shape[0]/ data_test.shape[0])
acc

In [ ]:
results_df = pd.read_csv("preliminary_results.csv")
results_df

In [ ]:
import merge_pluto_finance_new as mpf

In [ ]:
queens_pluto = mpf.read_in_pluto(["queens"])

In [ ]:
queens_pluto.bbl.astype(int).isnull().sum()

In [ ]:
queens_finance = mpf.read_in_finance(["queens"], list(range(2003, 2017)))

In [ ]:
queens_finance.bbl.isnull().sum()

In [ ]:
print(queens_finance.shape)
print(queens_pluto.shape)

In [ ]:
print(queens_pluto.bbl.dtype)
print(queens_finance.bbl.dtype)

In [ ]:
queens_dtm = read_in_dtm(["queens"])

In [ ]:
import os
def read_in_dtm(boros, data_dir = 'data/dtm',
        filename = 'DTM_0316_Condo_Units.csv'):
    """
    Reads in the Digital Tax Map dataset and returns a dataframe with mapping
    from borough and condo number to unit BBL for the specified boroughs.

    Args:
        list(string) boros: list of all the boroughs to pull dtm data for
        string data_dir: a relative path as a string to folder containing the
            dtm data in csv format
        string filename: the name of the file containing the dtm condo unit data
    Returns:
        Pandas DataFrame
    """
    columns = ['CONDO_BORO', 'CONDO_NUMB', 'UNIT_BLOCK',
               'UNIT_LOT', 'UNIT_BBL', 'UNIT_DESIG']
    boro_names = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
    boro_codes = dict(zip(boro_names, range(1,6)))
    dtm = pd.read_csv(os.path.join(data_dir, filename), usecols=columns)
    dtm.columns = [col.strip().lower() for col in dtm.columns]
    dtm = dtm.dropna(subset = ['unit_bbl', 'condo_boro', 'condo_numb'])
    dtm.unit_bbl = dtm.unit_bbl.astype('int64')
    dtm = dtm.loc[dtm.condo_boro.isin(
        [boro_codes.get(boro) for boro in boros])]
    return dtm

In [ ]:
columns = ['CONDO_BORO', 'CONDO_NUMB', 'UNIT_BLOCK',
               'UNIT_LOT', 'UNIT_BBL', 'UNIT_DESIG']
data_dir = 'data/dtm'
filename = 'DTM_0316_Condo_Units.csv'
queens_dtm = pd.read_csv(os.path.join(data_dir, filename), usecols=columns)

In [ ]:
queens_dtm.isnull().sum()

In [ ]:
filepath = "data/open_nyc/subwaydist.csv"
subwaydist = pd.read_csv(filepath)
filepath = "data/open_nyc/some_dist_metrics.csv"
other_distances = pd.read_csv(filepath)

In [ ]:
len(pd.unique(other_distances.bbl)) == other_distances.shape[0]

In [ ]:
len(pd.unique(subwaydist.bbl)) == subwaydist.shape[0]

In [ ]:
finance_condo_updated = mpf.get_finance_condo_lot(pluto = queens_pluto,
        finance = queens_finance, dtm = queens_dtm)

In [ ]:
finance_condo_updated.bbl_pluto.isnull().sum()

In [ ]:
queens_pluto.bbl.isnull().sum()

In [ ]:
buildings = pd.merge(queens_pluto, finance_condo_updated, how='right',
        left_on='bbl', right_on = 'bbl_pluto',
        suffixes=['_pluto', '_finance'])

In [ ]:
buildings.shape

In [ ]:
buildings["price_per_sqft"] = buildings["sale_price"].astype('float64') / buildings["gross_sqft_pluto"]
buildings = buildings[ buildings["price_per_sqft"].notnull()]
buildings = buildings[ buildings["price_per_sqft"] > 0.]

In [ ]:
buildings.bbl_pluto

In [ ]:
buildings.bbl

In [ ]:
queens_pluto.bbl

In [ ]:
finance_condos_only.bbl_finance

In [ ]:
queens_finance.columns

In [ ]:
queens_pluto.columns

In [ ]:
queens_dtm.columns

In [ ]:
finance_condo_updated.columns

In [ ]:
print(queens_finance.drop_duplicates().shape == queens_finance.shape)
print(queens_pluto.drop_duplicates().shape == queens_pluto.shape)
print(finance_condos_only.drop_duplicates().shape == finance_condos_only.shape)

In [ ]:
finance_condos_only.shape[0] + len(standard_bbls)

In [ ]:
bbl_mappings.drop_duplicates().shape

In [ ]:
queens_finance.drop_duplicates(['bbl', 'sale_year']).shape == queens_finance.shape

In [ ]:
queens_finance.shape

In [ ]:
queens_finance.columns

In [ ]:
queens_finance["sale_year"] = [d.year for d in queens_finance.sale_date]

In [ ]:
print(finance_condo_updated.drop_duplicates().shape)
print(finance_condo_updated.shape)

In [ ]:
finance_condo_updated.columns

In [ ]:
bbl_mappings.bbl_finance.drop_duplicates().shape

In [ ]:
dtm_cols_to_keep = ['unit_bbl', 'condo_boro', 'condo_numb']
pluto_cols_to_keep = ['bbl', 'block', 'borocode', 'condono']

finance_condos_only = pd.merge(queens_finance, queens_dtm[dtm_cols_to_keep],
    how='inner', left_on=['bbl'], right_on=['unit_bbl'])

# for condos: finance.bbl == finance_condos_only.unit_bbl
#             finance_condos_only.bbl_pluto == pluto.bbl
finance_condos_only = pd.merge(queens_pluto[pluto_cols_to_keep],
    finance_condos_only, how='inner',
    left_on=['borocode', 'block', 'condono'],
    right_on=['condo_boro', 'block', 'condo_numb'],
    suffixes=['_pluto', '_finance'])

finance_condos_only = finance_condos_only[
        ['bbl_pluto', 'bbl_finance']].drop_duplicates()
         # duplicates only if a bbl is listed in multiple years
finance_condos_only = finance_condos_only.loc[lambda df:
        np.floor(df.bbl_pluto / 1e4) == np.floor(df.bbl_finance / 1e4)]

# get a list of bbls that are not condos (same in pluto and finance)
standard_bbls = list(set(queens_finance.bbl).difference(
                    set(finance_condos_only.bbl_finance)))
# combine condo bbls that differ with standard bbls that are the same
bbl_mappings = finance_condos_only.append(pd.DataFrame.from_dict(
    {'bbl_pluto': standard_bbls, 'bbl_finance': standard_bbls}
))
bbl_mappings = bbl_mappings.reset_index(drop = True)

finance_condo_updated = pd.merge(queens_finance, bbl_mappings,
    how='left', left_on='bbl', right_on='bbl_finance')

In [ ]:
# finance condo updated: remove bbl/block/bbl_finance
# retain only bbl_pluto to match with pluto.bbl in merge
finance_condo_updated = finance_condo_updated.drop(
    ['block', 'bbl', 'bbl_finance'], axis=1)

# Remove duplicate bbls by returning only the most recent sales data
# for each BBL and year
finance_condo_updated = finance_condo_updated.reset_index()
finance_condo_updated["sale_year"] = [d.year for d in
    finance_condo_updated.sale_date]
grouped = finance_condo_updated.groupby(['bbl_pluto', 'sale_year'])
max_idx_by_bbl = grouped['sale_price'].idxmax().values
finance_condo_updated = finance_condo_updated.loc[max_idx_by_bbl]

In [ ]:
queens_finance_raw = pd.DataFrame()
data_dir = "data/finance_sales"
years = list(range(2003, 2017))
boros = ['queens']

for year in years:
        for borough in boros:
            print("Pulling Finance data for {}_{}".format(year, borough))
            boro_year = mpf.read_in_boro_year_data(borough, year, data_dir)
            queens_finance_raw = queens_finance_raw.append(boro_year)

In [ ]:
print(finance_condos_only.shape)
print(finance_condos_only.drop_duplicates().shape)
print(finance_condos_only.drop_duplicates('bbl_finance').shape)

In [ ]:
np.where(bbl_mappings.bbl_finance.duplicated(keep=False))

In [ ]:
print(finance_condo_updated.shape)
print(finance_condo_updated.drop_duplicates().shape)
print(finance_condo_updated.drop_duplicates(['bbl_pluto', 'sale_year']).shape)

In [ ]:
finance_condo_updated.columns

In [ ]:
queens_pluto.columns

In [ ]:
buildings = pd.merge(queens_pluto, finance_condo_updated, how='right',
        left_on='bbl', right_on = 'bbl_pluto',
        suffixes=['_pluto', '_finance'])

In [ ]:
buildings.shape

In [ ]:
buildings.shape

In [ ]:
buildings["price_per_sqft"] = buildings.sale_price.astype('float64') / buildings.gross_sqft_pluto
buildings = buildings.loc[ buildings.price_per_sqft.notnull()]
buildings = buildings.loc[ buildings.price_per_sqft > 0.]

In [ ]:
all(buildings.bbl == buildings.bbl_pluto)

In [ ]:
buildings.columns

In [15]:
import merge_pluto_finance_new as mpf
from importlib import reload
reload(mpf)

In [2]:
boros = ['all']
years = ['all']
if years == ["all"]:
    years = list(range(2003, 2017))
if boros == ["all"]:
    boros = ["manhattan", "brooklyn", "queens", "bronx", "statenisland"]

In [ ]:
# Convert to lowercase and remove spaces in borough names
boros = ["".join(boro.lower().split()) for boro in boros]

In [16]:
print("Getting PLUTO data for: {}".format(boros))
pluto = mpf.read_in_pluto(boros)

Getting PLUTO data for: ['manhattan', 'brooklyn', 'queens', 'bronx', 'statenisland']

In [22]:
print("Getting Finance data for: {} and {}".format(boros, years))
finance = mpf.read_in_finance(boros, years)
print("Getting DTM Condo Unit data for: {}".format(boros))
dtm = mpf.read_in_dtm(boros)

Getting Finance data for: ['manhattan', 'brooklyn', 'queens', 'bronx', 'statenisland'] and [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
Pulling Finance data for 2003_manhattan
Pulling Finance data for 2003_brooklyn
Pulling Finance data for 2003_queens
Pulling Finance data for 2003_bronx
Pulling Finance data for 2003_statenisland
Pulling Finance data for 2004_manhattan
Pulling Finance data for 2004_brooklyn
Pulling Finance data for 2004_queens
Pulling Finance data for 2004_bronx
Pulling Finance data for 2004_statenisland
Pulling Finance data for 2005_manhattan
Pulling Finance data for 2005_brooklyn
Pulling Finance data for 2005_queens
Pulling Finance data for 2005_bronx
Pulling Finance data for 2005_statenisland
Pulling Finance data for 2006_manhattan
Pulling Finance data for 2006_brooklyn
Pulling Finance data for 2006_queens
Pulling Finance data for 2006_bronx
Pulling Finance data for 2006_statenisland
Pulling Finance data for 2007_manhattan
Pulling Finance data for 2007_brooklyn
Pulling Finance data for 2007_queens
Pulling Finance data for 2007_bronx
Pulling Finance data for 2007_statenisland
Pulling Finance data for 2008_manhattan
Pulling Finance data for 2008_brooklyn
Pulling Finance data for 2008_queens
Pulling Finance data for 2008_bronx
Pulling Finance data for 2008_statenisland
Pulling Finance data for 2009_manhattan
Pulling Finance data for 2009_brooklyn
Pulling Finance data for 2009_queens
Pulling Finance data for 2009_bronx
Pulling Finance data for 2009_statenisland
Pulling Finance data for 2010_manhattan
Pulling Finance data for 2010_brooklyn
Pulling Finance data for 2010_queens
Pulling Finance data for 2010_bronx
Pulling Finance data for 2010_statenisland
Pulling Finance data for 2011_manhattan
Pulling Finance data for 2011_brooklyn
Pulling Finance data for 2011_queens
Pulling Finance data for 2011_bronx
Pulling Finance data for 2011_statenisland
Pulling Finance data for 2012_manhattan
Pulling Finance data for 2012_brooklyn
Pulling Finance data for 2012_queens
Pulling Finance data for 2012_bronx
Pulling Finance data for 2012_statenisland
Pulling Finance data for 2013_manhattan
Pulling Finance data for 2013_brooklyn
Pulling Finance data for 2013_queens
Pulling Finance data for 2013_bronx
Pulling Finance data for 2013_statenisland
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_queens
Pulling Finance data for 2014_bronx
Pulling Finance data for 2014_statenisland
Pulling Finance data for 2015_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_queens
Pulling Finance data for 2015_bronx
Pulling Finance data for 2015_statenisland
Pulling Finance data for 2016_manhattan
Pulling Finance data for 2016_brooklyn
Pulling Finance data for 2016_queens
Pulling Finance data for 2016_bronx
Pulling Finance data for 2016_statenisland
Getting DTM Condo Unit data for: ['manhattan', 'brooklyn', 'queens', 'bronx', 'statenisland']

In [25]:
dtm.dtypes

condo_boro    float64
condo_numb      int64
unit_block      int64
unit_lot        int64
unit_bbl        int64
unit_desig     object
dtype: object

In [24]:
pluto.dtypes

borough              object
block                 int64
schooldist          float64
council             float64
ltdheight            object
splitzone            object
bldgclass            object
landuse             float64
easements           float64
ownertype            object
comarea             float64
resarea             float64
numbldgs            float64
numfloors           float64
unitsres            float64
unitstotal          float64
lotfront            float64
lotdepth            float64
bldgfront           float64
bldgdepth           float64
proxcode            float64
irrlotcode           object
lottype             float64
bsmtcode            float64
yearbuilt           float64
builtcode            object
histdist              int64
landmark              int64
borocode              int64
bbl                   int64
condono               int64
xcoord              float64
ycoord              float64
zonemap              object
latitude            float64
longitude           float64
gross_sqft_pluto    float64
garage               object
extension            object
countalter          float64
dtype: object

In [ ]:
pluto = mpf.read_in_pluto(boros)

In [17]:
print(pluto.shape)
print(pluto.dropna(how='all').shape)

(812364, 40)
(812364, 40)

In [19]:
print(pluto_mn.shape, pluto_mn.dropna(how='all').shape)
print(pluto_bk.shape, pluto_bk.dropna(how='all').shape)
print(pluto_bx.shape, pluto_bx.dropna(how='all').shape)
print(pluto_qn.shape, pluto_qn.dropna(how='all').shape)
print(pluto_si.shape, pluto_si.dropna(how='all').shape)

(40257, 40) (40257, 40)
(264930, 40) (264930, 40)
(82816, 40) (82816, 40)
(310646, 40) (310646, 40)
(113715, 40) (113715, 40)

In [18]:
pluto_mn = mpf.read_in_pluto(["manhattan"])
pluto_bk = mpf.read_in_pluto(["brooklyn"])
pluto_qn = mpf.read_in_pluto(["queens"])
pluto_bx = mpf.read_in_pluto(["bronx"])
pluto_si = mpf.read_in_pluto(["statenisland"])

In [26]:
finance.shape

(1341451, 9)

In [48]:
dtm_cols_to_keep = ['unit_bbl', 'condo_boro', 'condo_numb']
pluto_cols_to_keep = ['bbl', 'block', 'borocode', 'condono']
finance_cols_to_keep = ['bbl', 'block']

finance_condos_only = pd.merge(subset_data(finance, finance_cols_to_keep),
    subset_data(dtm, dtm_cols_to_keep),
    how='inner', left_on=['bbl'], right_on=['unit_bbl'])

print(finance_condos_only.shape)
print(finance_condos_only.columns)

# for condos: finance.bbl == finance_condos_only.unit_bbl
#             finance_condos_only.bbl_pluto == pluto.bbl
finance_condos_only = pd.merge(subset_data(pluto, pluto_cols_to_keep),
    finance_condos_only, how='inner',
    left_on=['borocode', 'block', 'condono'],
    right_on=['condo_boro', 'block', 'condo_numb'],
    suffixes=['_pluto', '_finance'])

finance_condos_only = finance_condos_only.loc[lambda df:
        np.floor(df.bbl_pluto / 1e4) == np.floor(df.bbl_finance / 1e4)]

print(finance_condos_only.shape)
print(finance_condos_only.columns)

finance_condos_only = subset_data(finance_condos_only, ['bbl_pluto', 'bbl_finance'])

# get a list of bbls that are not condos (same in pluto and finance)
standard_bbls = list(set(finance.bbl).difference(
                    set(finance_condos_only.bbl_finance)))
# combine condo bbls that differ with standard bbls that are the same
bbl_mappings = finance_condos_only.append(pd.DataFrame.from_dict(
    {'bbl_pluto': standard_bbls, 'bbl_finance': standard_bbls}))
bbl_mappings = bbl_mappings.reset_index(drop = True)

finance_condo_updated = pd.merge(finance, bbl_mappings,
    how='left', left_on='bbl', right_on='bbl_finance')
# finance condo updated: remove bbl/block/bbl_finance
# retain only bbl_pluto to match with pluto.bbl in merge
finance_condo_updated = finance_condo_updated.drop(
    ['block','bbl', 'bbl_finance'], axis=1)

(423668, 5)
Index(['bbl', 'block', 'unit_bbl', 'condo_boro', 'condo_numb'], dtype='object')
(8127, 8)
Index(['bbl_pluto', 'block', 'borocode', 'condono', 'bbl_finance', 'unit_bbl',
       'condo_boro', 'condo_numb'],
      dtype='object')

In [49]:
print(finance.shape)
print(finance_condo_updated.shape)

(1341451, 9)
(1341451, 8)

In [36]:
finance_condos_only.shape

(8127, 8)

166702

In [60]:
data_full = pd.read_csv('data/merged/bronx_brooklyn_manhattan_queens_statenisland_2003_2016.csv', 
                        low_memory = False)

In [61]:
brooklyn = pd.read_csv('data/merged/brooklyn_2003_2016.csv', low_memory = False)

In [66]:
brooklyn.loc[brooklyn.bbl == 3000260033, 'sale_date']

0    2004-06-12
1    2006-04-20
2    2007-09-26
3    2008-08-01
4    2009-12-08
5    2010-10-12
6    2011-12-09
7    2012-12-19
Name: sale_date, dtype: object

In [77]:
bk = set((a,b) for a,b in zip(brooklyn.bbl, brooklyn.sale_date))

In [81]:
len(bk) == brooklyn.shape[0]

True

In [82]:
whole = set((a,b) for a,b in zip(data_full.bbl, data_full.sale_date))

In [83]:
len(whole) == data_full.shape[0]

True

In [86]:
bk.difference(whole)

{(3087310024.0, '2013-04-08'),
 (3017700096.0, '2014-12-31'),
 (3055640064.0, '2012-06-07'),
 (3010510045.0, '2015-05-27'),
 (3080810058.0, '2016-05-18'),
 (3013680011.0, '2005-06-15'),
 (3047680070.0, '2014-09-03'),
 (3052370010.0, '2006-08-18'),
 (3018910046.0, '2011-03-04'),
 (3062650065.0, '2010-02-16'),
 (3049540061.0, '2012-03-02'),
 (3084650047.0, '2004-06-14'),
 (3057680061.0, '2013-05-02'),
 (3061070055.0, '2009-09-24'),
 (3014240049.0, '2007-07-30'),
 (3079660012.0, '2008-10-22'),
 (3050260034.0, '2003-11-12'),
 (3018190049.0, '2007-03-14'),
 (3016560067.0, '2003-06-19'),
 (3033800012.0, '2003-04-10'),
 (3033920054.0, '2004-06-16'),
 (3082580030.0, '2008-10-08'),
 (3051510018.0, '2014-03-18'),
 (3004400033.0, '2007-12-03'),
 (3071700065.0, '2015-04-01'),
 (3078820049.0, '2007-07-25'),
 (3046150020.0, '2015-09-30'),
 (3009000028.0, '2005-08-25'),
 (3039880013.0, '2015-11-24'),
 (3041290020.0, '2008-08-28'),
 (3061820042.0, '2009-09-10'),
 (3083000040.0, '2004-09-29'),
 (3031870013.0, '2003-07-29'),
 (3063730060.0, '2004-06-17'),
 (3001780028.0, '2004-07-19'),
 (3019677501.0, '2003-11-25'),
 (3015790030.0, '2012-09-12'),
 (3057400005.0, '2014-07-22'),
 (3049560017.0, '2012-03-29'),
 (3050550077.0, '2011-07-12'),
 (3070040058.0, '2014-03-21'),
 (3054880062.0, '2009-10-15'),
 (3018140066.0, '2005-04-20'),
 (3051220044.0, '2008-11-06'),
 (3041210025.0, '2008-12-12'),
 (3017670013.0, '2010-10-14'),
 (3059190044.0, '2004-01-07'),
 (3046980033.0, '2016-07-11'),
 (3010760040.0, '2005-06-08'),
 (3045030043.0, '2007-01-02'),
 (3063130016.0, '2011-11-22'),
 (3016610036.0, '2014-03-12'),
 (3007750050.0, '2004-08-03'),
 (3041780033.0, '2012-12-05'),
 (3060610013.0, '2012-12-26'),
 (3077880058.0, '2011-01-24'),
 (3081460025.0, '2003-11-21'),
 (3015310066.0, '2003-06-02'),
 (3032850080.0, '2012-11-26'),
 (3050540053.0, '2015-09-24'),
 (3035510047.0, '2013-06-20'),
 (3079630078.0, '2003-11-25'),
 (3055550026.0, '2006-06-28'),
 (3060557501.0, '2007-10-03'),
 (3086890055.0, '2006-04-26'),
 (3039950114.0, '2005-06-14'),
 (3037040026.0, '2012-05-17'),
 (3082570014.0, '2007-09-24'),
 (3016810049.0, '2008-01-30'),
 (3041490109.0, '2016-01-21'),
 (3049500012.0, '2015-04-21'),
 (3016320032.0, '2008-04-07'),
 (3008370049.0, '2005-01-26'),
 (3047340023.0, '2013-04-26'),
 (3082860053.0, '2009-07-29'),
 (3040100019.0, '2006-10-04'),
 (3055610073.0, '2016-06-03'),
 (3017540058.0, '2004-11-19'),
 (3057130040.0, '2013-03-26'),
 (3057540001.0, '2004-08-18'),
 (3084740073.0, '2007-12-18'),
 (3060300007.0, '2009-03-18'),
 (3040520145.0, '2007-04-24'),
 (3042260019.0, '2015-09-01'),
 (3013400014.0, '2012-08-21'),
 (3044810046.0, '2013-09-19'),
 (3046690012.0, '2006-11-21'),
 (3018270014.0, '2004-04-22'),
 (3042670008.0, '2007-08-24'),
 (3034010025.0, '2011-07-14'),
 (3080780013.0, '2005-12-02'),
 (3003700017.0, '2009-07-10'),
 (3057040040.0, '2003-02-05'),
 (3038080044.0, '2006-02-22'),
 (3050830103.0, '2011-08-17'),
 (3059850026.0, '2007-12-28'),
 (3027810010.0, '2004-04-13'),
 (3033850031.0, '2011-07-06'),
 (3014190056.0, '2013-11-05'),
 (3051350033.0, '2006-07-28'),
 (3062440112.0, '2013-05-02'),
 (3012640013.0, '2005-07-29'),
 (3015170135.0, '2003-09-08'),
 (3016270063.0, '2003-06-24'),
 (3033770051.0, '2011-08-08'),
 (3038420022.0, '2005-06-15'),
 (3013760067.0, '2006-08-22'),
 (3013000060.0, '2007-08-20'),
 (3017740008.0, '2012-06-18'),
 (3040620128.0, '2009-03-09'),
 (3051047501.0, '2004-11-15'),
 (3034290040.0, '2014-05-28'),
 (3053370076.0, '2004-12-30'),
 (3013630027.0, '2010-10-28'),
 (3043060024.0, '2005-03-14'),
 (3059540042.0, '2011-08-16'),
 (3076960036.0, '2003-06-26'),
 (3048750029.0, '2006-07-12'),
 (3039940023.0, '2014-08-28'),
 (3082430019.0, '2015-05-28'),
 (3034380034.0, '2005-11-18'),
 (3077230015.0, '2009-09-29'),
 (3048910028.0, '2008-11-06'),
 (3082330037.0, '2013-12-18'),
 (3012620056.0, '2006-07-05'),
 (3042490090.0, '2007-08-17'),
 (3042040007.0, '2010-01-28'),
 (3049030028.0, '2006-01-18'),
 (3062520015.0, '2004-01-14'),
 (3061080001.0, '2012-01-30'),
 (3046430042.0, '2016-01-28'),
 (3013660034.0, '2013-11-07'),
 (3016530054.0, '2006-12-07'),
 (3063740084.0, '2014-09-16'),
 (3075620041.0, '2003-12-16'),
 (3082130024.0, '2009-10-29'),
 (3012780068.0, '2008-10-21'),
 (3054670064.0, '2007-06-11'),
 (3013390067.0, '2011-03-18'),
 (3002620052.0, '2003-11-12'),
 (3020890060.0, '2003-01-17'),
 (3050320064.0, '2014-06-03'),
 (3017620054.0, '2015-04-22'),
 (3044530023.0, '2013-09-17'),
 (3078550040.0, '2007-08-20'),
 (3032290016.0, '2009-05-29'),
 (3060360030.0, '2013-01-18'),
 (3081420052.0, '2014-04-25'),
 (3066720049.0, '2014-07-24'),
 (3002540019.0, '2009-05-08'),
 (3047960039.0, '2011-05-05'),
 (3030820042.0, '2005-08-25'),
 (3042530015.0, '2007-08-17'),
 (3047960039.0, '2015-09-22'),
 (3054690017.0, '2008-11-06'),
 (3072250014.0, '2008-07-16'),
 (3062510007.0, '2003-10-07'),
 (3084740075.0, '2014-11-21'),
 (3001960022.0, '2013-05-28'),
 (3042490091.0, '2005-05-31'),
 (3068380123.0, '2007-09-19'),
 (3003070024.0, '2014-01-22'),
 (3017560023.0, '2007-05-14'),
 (3019840021.0, '2015-10-26'),
 (3066840046.0, '2006-02-13'),
 (3006950040.0, '2013-03-06'),
 (3021137501.0, '2008-12-11'),
 (3040210027.0, '2008-01-30'),
 (3038250045.0, '2014-01-24'),
 (3012330037.0, '2003-06-03'),
 (3018200007.0, '2009-02-18'),
 (3042960072.0, '2013-04-19'),
 (3035360048.0, '2010-03-29'),
 (3020860034.0, '2008-04-25'),
 (3026480031.0, '2008-09-29'),
 (3034680047.0, '2003-07-18'),
 (3020740048.0, '2013-02-26'),
 (3083070067.0, '2015-05-28'),
 (3054660077.0, '2014-07-24'),
 (3012020053.0, '2003-06-27'),
 (3042270023.0, '2009-04-01'),
 (3068780034.0, '2003-11-19'),
 (3019630067.0, '2007-06-13'),
 (3081640156.0, '2006-12-01'),
 (3066310032.0, '2006-12-06'),
 (3002360045.0, '2014-04-25'),
 (3022310049.0, '2004-06-25'),
 (3033850025.0, '2010-10-07'),
 (3034870008.0, '2007-01-12'),
 (3041680012.0, '2013-04-05'),
 (3068800043.0, '2015-12-07'),
 (3082980054.0, '2008-03-07'),
 (3036640039.0, '2006-01-05'),
 (3016830016.0, '2012-03-16'),
 (3080550056.0, '2011-03-29'),
 (3016100061.0, '2015-11-10'),
 (3053110008.0, '2003-07-29'),
 (3046740031.0, '2014-01-30'),
 (3065567502.0, '2014-04-04'),
 (3072630042.0, '2011-06-13'),
 (3058170020.0, '2006-10-30'),
 (3049640010.0, '2016-01-11'),
 (3081610011.0, '2013-04-17'),
 (3034280025.0, '2009-10-27'),
 (3049670027.0, '2009-06-02'),
 (3056820024.0, '2011-04-01'),
 (3044580062.0, '2003-11-25'),
 (3076180030.0, '2004-07-27'),
 (3018860084.0, '2012-05-18'),
 (3063120069.0, '2016-02-26'),
 (3013760016.0, '2006-09-26'),
 (3032750031.0, '2016-05-02'),
 (3079320009.0, '2004-10-26'),
 (3083600015.0, '2005-01-06'),
 (3058490058.0, '2007-06-28'),
 (3049680012.0, '2005-10-21'),
 (3070080055.0, '2011-03-15'),
 (3055440020.0, '2014-12-15'),
 (3058850034.0, '2008-01-07'),
 (3026510048.0, '2004-10-27'),
 (3018890025.0, '2003-07-09'),
 (3019700009.0, '2008-02-08'),
 (3067720078.0, '2014-01-21'),
 (3075950053.0, '2005-03-16'),
 (3040640047.0, '2016-04-29'),
 (3031360031.0, '2013-11-20'),
 (3054250084.0, '2006-07-20'),
 (3012260004.0, '2005-05-25'),
 (3012910052.0, '2016-01-20'),
 (3063440033.0, '2011-09-28'),
 (3086797501.0, '2005-02-03'),
 (3054940062.0, '2006-02-07'),
 (3037410008.0, '2007-07-20'),
 (3059380047.0, '2012-09-24'),
 (3059640043.0, '2012-02-29'),
 (3034720017.0, '2014-03-26'),
 (3039360002.0, '2011-01-28'),
 (3047130020.0, '2007-12-18'),
 (3057480003.0, '2007-02-20'),
 (3017620008.0, '2015-04-22'),
 (3012470042.0, '2004-02-05'),
 (3025320006.0, '2013-03-18'),
 (3033950038.0, '2007-01-29'),
 (3018370075.0, '2013-10-02'),
 (3066520060.0, '2007-03-19'),
 (3037550017.0, '2014-08-05'),
 (3010417501.0, '2004-05-11'),
 (3009630031.0, '2006-09-11'),
 (3061730042.0, '2015-06-18'),
 (3005520021.0, '2004-05-14'),
 (3046690012.0, '2005-07-06'),
 (3057930043.0, '2003-12-29'),
 (3082290071.0, '2005-09-30'),
 (3062440036.0, '2007-03-26'),
 (3013890005.0, '2004-08-27'),
 (3048230036.0, '2012-06-20'),
 (3048790159.0, '2005-09-08'),
 (3003640024.0, '2013-05-29'),
 (3041040006.0, '2005-02-04'),
 (3002520008.0, '2010-09-13'),
 (3016320006.0, '2011-06-27'),
 (3018070032.0, '2010-04-06'),
 (3071140030.0, '2004-01-26'),
 (3062690010.0, '2007-04-20'),
 (3015940080.0, '2015-03-16'),
 (3038840247.0, '2006-05-18'),
 (3047920020.0, '2005-06-20'),
 (3050880038.0, '2012-03-30'),
 (3077490063.0, '2012-12-27'),
 (3032580035.0, '2004-08-02'),
 (3046370019.0, '2004-08-23'),
 (3064630007.0, '2003-01-06'),
 (3077730029.0, '2014-11-17'),
 (3078950062.0, '2004-11-29'),
 (3041360024.0, '2014-10-10'),
 (3018530059.0, '2010-11-16'),
 (3035690026.0, '2007-07-17'),
 (3084430048.0, '2003-05-29'),
 (3019840073.0, '2004-02-27'),
 (3049530074.0, '2012-12-04'),
 (3056287508.0, '2008-12-17'),
 (3063820032.0, '2008-10-30'),
 (3047970067.0, '2013-11-27'),
 (3047130027.0, '2003-12-10'),
 (3054687502.0, '2011-06-14'),
 (3014910050.0, '2006-08-10'),
 (3031930024.0, '2008-07-02'),
 (3017700084.0, '2005-08-10'),
 (3041320016.0, '2012-12-20'),
 (3050100023.0, '2011-02-07'),
 (3056230036.0, '2011-06-08'),
 (3056620042.0, '2011-05-29'),
 (3018530060.0, '2011-10-18'),
 (3051260051.0, '2016-06-01'),
 (3065030030.0, '2004-09-14'),
 (3087130026.0, '2014-07-31'),
 (3017080050.0, '2004-10-30'),
 (3040170030.0, '2007-03-08'),
 (3068090035.0, '2007-03-16'),
 (3085460008.0, '2007-10-26'),
 (3035190014.0, '2005-09-27'),
 (3055930031.0, '2010-11-29'),
 (3031970053.0, '2005-09-30'),
 (3042530014.0, '2004-07-21'),
 (3049910071.0, '2015-11-19'),
 (3049720040.0, '2006-06-08'),
 (3021000021.0, '2006-06-27'),
 (3056820031.0, '2007-10-11'),
 (3007750075.0, '2003-07-30'),
 (3008370024.0, '2005-08-04'),
 (3056230036.0, '2009-06-08'),
 (3078230036.0, '2007-03-15'),
 (3080240007.0, '2008-09-08'),
 (3031860046.0, '2012-05-30'),
 (3056110009.0, '2013-12-19'),
 (3049340054.0, '2016-06-10'),
 (3087207503.0, '2007-08-06'),
 (3040360034.0, '2007-06-29'),
 (3002140025.0, '2008-08-20'),
 (3012370076.0, '2013-01-28'),
 (3033940036.0, '2016-04-07'),
 (3040230043.0, '2004-10-19'),
 (3055940049.0, '2013-07-29'),
 (3068950010.0, '2014-10-22'),
 (3062440062.0, '2014-11-10'),
 (3073320055.0, '2015-04-14'),
 (3034360019.0, '2005-04-22'),
 (3041650033.0, '2007-12-20'),
 (3072420137.0, '2010-04-22'),
 (3015960068.0, '2006-07-20'),
 (3082190004.0, '2003-11-07'),
 (3059010017.0, '2006-03-21'),
 (3041300046.0, '2009-04-27'),
 (3049800072.0, '2004-12-29'),
 (3061860040.0, '2013-08-27'),
 (3055000067.0, '2006-06-23'),
 (3040700042.0, '2007-09-25'),
 (3045490013.0, '2006-10-12'),
 (3056400064.0, '2015-07-16'),
 (3059190041.0, '2004-01-09'),
 (3009310034.0, '2006-07-06'),
 (3046520080.0, '2008-01-04'),
 (3002967501.0, '2008-11-04'),
 (3027710033.0, '2005-12-22'),
 (3081817501.0, '2007-04-27'),
 (3080760067.0, '2007-12-21'),
 (3010750035.0, '2006-07-17'),
 (3038970054.0, '2013-11-19'),
 (3043250049.0, '2012-06-19'),
 (3036050121.0, '2011-03-08'),
 (3060630004.0, '2007-09-26'),
 (3032840024.0, '2013-06-19'),
 (3001900029.0, '2008-06-19'),
 (3026210024.0, '2005-07-13'),
 (3069020061.0, '2007-08-06'),
 (3017660019.0, '2004-04-30'),
 (3004570017.0, '2003-11-26'),
 (3039950116.0, '2014-11-26'),
 (3054880069.0, '2016-07-11'),
 (3039120053.0, '2008-07-28'),
 (3016010013.0, '2005-05-26'),
 (3003710034.0, '2004-11-22'),
 (3017540073.0, '2009-12-21'),
 (3032750026.0, '2011-01-25'),
 (3004350024.0, '2009-01-08'),
 (3008130032.0, '2012-06-18'),
 (3040300006.0, '2015-06-05'),
 (3055530028.0, '2010-11-30'),
 (3017220014.0, '2016-06-28'),
 (3047650043.0, '2011-11-17'),
 (3082780030.0, '2011-07-29'),
 (3035340040.0, '2013-08-26'),
 (3056580065.0, '2011-09-20'),
 (3035310042.0, '2004-11-24'),
 (3044790025.0, '2011-07-08'),
 (3042170006.0, '2011-12-28'),
 (3068770043.0, '2004-07-22'),
 (3034400056.0, '2010-11-01'),
 (3010660044.0, '2006-06-08'),
 (3082950021.0, '2016-05-27'),
 (3036390031.0, '2003-05-01'),
 (3060090023.0, '2003-06-04'),
 (3062330011.0, '2005-08-25'),
 (3009820025.0, '2006-12-20'),
 (3009620014.0, '2003-07-18'),
 (3049760040.0, '2005-01-28'),
 (3054660086.0, '2016-07-21'),
 (3038510006.0, '2003-09-25'),
 (3077760046.0, '2015-11-30'),
 (3079820124.0, '2003-12-23'),
 (3042950021.0, '2005-05-17'),
 (3062050019.0, '2015-11-25'),
 (3019800032.0, '2015-08-13'),
 (3017040015.0, '2014-12-17'),
 (3053050016.0, '2016-04-22'),
 (3066700033.0, '2003-08-21'),
 (3069900020.0, '2010-06-29'),
 (3077990034.0, '2014-05-28'),
 (3002600038.0, '2012-01-19'),
 (3003360006.0, '2005-09-29'),
 (3016580083.0, '2006-11-14'),
 (3017260131.0, '2012-06-19'),
 (3017670046.0, '2009-03-31'),
 (3018090031.0, '2011-12-01'),
 (3048480007.0, '2004-07-23'),
 (3016470030.0, '2004-10-14'),
 (3049760076.0, '2011-04-27'),
 (3060880022.0, '2008-11-17'),
 (3055320011.0, '2003-03-26'),
 (3061750069.0, '2015-09-03'),
 (3046470023.0, '2006-11-15'),
 (3036820041.0, '2005-07-29'),
 (3062620019.0, '2006-05-04'),
 (3049790079.0, '2016-01-12'),
 (3066270038.0, '2006-12-14'),
 (3068820047.0, '2008-07-30'),
 (3010220066.0, '2004-01-16'),
 (3027500018.0, '2005-04-06'),
 (3004200054.0, '2003-05-30'),
 (3038250005.0, '2009-06-04'),
 (3053940059.0, '2016-02-22'),
 (3065800008.0, '2008-09-17'),
 (3070470114.0, '2004-05-19'),
 (3070920013.0, '2012-05-03'),
 (3074410351.0, '2004-06-11'),
 (3073330038.0, '2007-06-28'),
 (3039600008.0, '2015-11-11'),
 (3064610333.0, '2009-12-21'),
 (3034110014.0, '2007-04-10'),
 (3020997501.0, '2014-05-27'),
 (3047280045.0, '2014-08-06'),
 (3066720065.0, '2006-01-23'),
 (3080390038.0, '2008-04-28'),
 (3023210030.0, '2004-09-15'),
 (3041630012.0, '2013-06-13'),
 (3015350008.0, '2004-04-05'),
 (3058610019.0, '2015-09-25'),
 (3061250001.0, '2014-12-17'),
 (3068660020.0, '2005-10-05'),
 (3003660054.0, '2011-01-06'),
 (3071570086.0, '2003-02-12'),
 (3042270014.0, '2011-08-23'),
 (3078270048.0, '2003-12-10'),
 (3059160062.0, '2009-09-24'),
 (3051350017.0, '2007-09-27'),
 (3036790001.0, '2006-04-28'),
 (3060180062.0, '2007-02-28'),
 (3013600080.0, '2013-03-13'),
 (3066460043.0, '2013-07-12'),
 (3075890038.0, '2003-06-26'),
 (3082330005.0, '2013-05-20'),
 (3049640010.0, '2006-10-25'),
 (3010790051.0, '2004-11-10'),
 (3013660074.0, '2008-03-17'),
 (3019870057.0, '2005-04-15'),
 (3032870037.0, '2011-01-05'),
 (3059510023.0, '2012-12-20'),
 (3059670049.0, '2004-07-15'),
 (3042400010.0, '2005-01-19'),
 (3064290018.0, '2008-07-16'),
 (3032830007.0, '2005-06-09'),
 (3040790020.0, '2011-07-01'),
 (3055940037.0, '2011-11-21'),
 (3056850049.0, '2012-12-20'),
 (3042220003.0, '2012-08-08'),
 (3061040017.0, '2011-04-22'),
 (3019840073.0, '2011-07-13'),
 (3040070008.0, '2010-08-18'),
 (3004150008.0, '2010-06-01'),
 (3066330040.0, '2006-01-05'),
 (3017730012.0, '2010-01-08'),
 (3054890053.0, '2004-06-16'),
 (3060460042.0, '2011-04-07'),
 (3002640017.0, '2015-09-30'),
 (3062980029.0, '2012-04-23'),
 (3013900124.0, '2008-05-02'),
 (3003510009.0, '2004-04-30'),
 (3039730004.0, '2016-06-29'),
 (3065500064.0, '2006-08-22'),
 (3081450040.0, '2006-10-24'),
 (3003997501.0, '2003-09-04'),
 (3062340020.0, '2012-10-18'),
 (3057180015.0, '2004-11-03'),
 (3027000006.0, '2003-03-14'),
 (3052940042.0, '2008-07-18'),
 (3063680018.0, '2015-09-17'),
 (3020150065.0, '2010-05-25'),
 (3050620064.0, '2015-03-19'),
 (3036050129.0, '2010-04-29'),
 (3017930050.0, '2009-01-15'),
 (3012750069.0, '2005-12-22'),
 (3032080106.0, '2005-02-08'),
 (3033880042.0, '2015-05-28'),
 (3016780051.0, '2010-06-14'),
 (3016760039.0, '2014-03-05'),
 (3056497506.0, '2015-12-17'),
 (3041920034.0, '2010-08-11'),
 (3042080029.0, '2014-04-30'),
 (3039670010.0, '2003-02-25'),
 (3013430079.0, '2012-03-20'),
 (3013630027.0, '2012-10-11'),
 (3033420037.0, '2008-03-13'),
 (3003240037.0, '2006-06-22'),
 (3019930030.0, '2004-06-14'),
 (3034080016.0, '2011-09-26'),
 (3059430062.0, '2011-09-08'),
 (3062460050.0, '2004-03-05'),
 (3077680071.0, '2004-06-29'),
 (3079890009.0, '2003-09-30'),
 (3079850032.0, '2011-05-13'),
 (3034240041.0, '2011-06-10'),
 (3077350074.0, '2005-11-30'),
 (3089320572.0, '2007-06-11'),
 (3063260070.0, '2014-03-27'),
 (3055340017.0, '2006-10-05'),
 (3049020002.0, '2013-08-09'),
 (3022320030.0, '2004-06-03'),
 (3071930072.0, '2006-09-06'),
 (3019740044.0, '2009-05-12'),
 (3059650043.0, '2008-07-01'),
 (3048530063.0, '2005-09-28'),
 (3082640035.0, '2004-10-08'),
 (3013430121.0, '2014-06-09'),
 (3034390017.0, '2003-05-30'),
 (3047150168.0, '2010-05-12'),
 (3044790024.0, '2013-05-16'),
 (3083770057.0, '2004-03-29'),
 (3086720082.0, '2004-09-13'),
 (3068590063.0, '2013-10-08'),
 (3040510157.0, '2014-11-24'),
 (3078320040.0, '2006-01-04'),
 (3032090011.0, '2012-10-24'),
 (3086620183.0, '2015-03-03'),
 (3082620035.0, '2010-04-30'),
 (3031840053.0, '2016-01-26'),
 (3061160055.0, '2004-06-08'),
 (3019820060.0, '2010-06-04'),
 (3032850040.0, '2013-05-24'),
 (3050350012.0, '2014-01-24'),
 (3088762658.0, '2015-04-29'),
 (3076510039.0, '2013-05-06'),
 (3051950073.0, '2003-05-20'),
 (3006400053.0, '2004-01-13'),
 (3063750045.0, '2005-07-13'),
 (3004570012.0, '2003-01-07'),
 (3017800026.0, '2013-09-05'),
 (3016810056.0, '2004-12-06'),
 (3021020001.0, '2014-04-08'),
 (3041190029.0, '2016-06-17'),
 (3016680076.0, '2013-08-21'),
 (3038000125.0, '2013-10-16'),
 (3041690012.0, '2004-07-08'),
 (3042280040.0, '2007-09-05'),
 (3019610013.0, '2007-08-15'),
 (3033920059.0, '2015-09-17'),
 (3026210040.0, '2008-10-04'),
 (3042680001.0, '2012-10-05'),
 (3057700056.0, '2005-01-04'),
 (3082520031.0, '2004-08-20'),
 (3082190035.0, '2005-12-21'),
 (3082190004.0, '2011-04-08'),
 (3018470032.0, '2008-11-05'),
 (3055050039.0, '2012-09-28'),
 (3016480034.0, '2009-12-22'),
 (3032360018.0, '2013-10-17'),
 (3010050042.0, '2005-05-23'),
 (3050110041.0, '2008-09-02'),
 (3016090024.0, '2006-08-21'),
 (3001790003.0, '2008-02-26'),
 (3085980042.0, '2003-08-14'),
 (3032430004.0, '2013-07-29'),
 (3060410015.0, '2011-10-20'),
 (3072630106.0, '2013-05-30'),
 (3049930075.0, '2012-11-16'),
 (3014060067.0, '2016-07-18'),
 (3062580014.0, '2009-06-18'),
 (3077810063.0, '2014-06-03'),
 (3035500044.0, '2008-06-05'),
 (3079070134.0, '2007-08-15'),
 (3053870079.0, '2007-03-01'),
 (3065900070.0, '2005-10-21'),
 (3063050038.0, '2003-12-22'),
 (3061550049.0, '2005-07-29'),
 (3066860054.0, '2007-09-20'),
 (3070990003.0, '2006-11-06'),
 (3035850047.0, '2004-03-19'),
 (3017760011.0, '2008-07-25'),
 (3042030030.0, '2009-10-01'),
 (3047210013.0, '2012-05-17'),
 (3048690034.0, '2012-02-27'),
 (3048780037.0, '2005-12-08'),
 (3058550043.0, '2007-09-12'),
 (3079940057.0, '2013-07-15'),
 (3087090014.0, '2007-02-06'),
 (3042960069.0, '2007-04-23'),
 (3047380150.0, '2007-06-19'),
 (3037410039.0, '2009-07-15'),
 (3033660017.0, '2014-03-06'),
 (3011080032.0, '2005-09-29'),
 (3077190001.0, '2003-12-12'),
 (3032790014.0, '2006-04-26'),
 (3056590065.0, '2011-04-07'),
 (3080820027.0, '2010-01-12'),
 (3059410038.0, '2006-11-01'),
 (3050460061.0, '2013-09-03'),
 (3060440059.0, '2012-02-03'),
 (3066270005.0, '2006-10-19'),
 (3084510065.0, '2016-07-26'),
 (3015580109.0, '2003-04-08'),
 (3034730042.0, '2011-06-21'),
 (3016150022.0, '2006-01-06'),
 (3082790065.0, '2015-12-17'),
 (3061410006.0, '2012-06-20'),
 (3066720030.0, '2006-03-09'),
 (3019860044.0, '2006-08-25'),
 (3044550065.0, '2016-04-12'),
 (3084820073.0, '2015-08-26'),
 (3055040074.0, '2015-02-26'),
 (3034090011.0, '2011-10-20'),
 (3018940018.0, '2003-04-07'),
 (3041080111.0, '2013-08-05'),
 (3047270010.0, '2009-04-27'),
 (3052880034.0, '2010-08-10'),
 (3017660003.0, '2004-07-26'),
 (3053450073.0, '2010-05-03'),
 (3063720075.0, '2014-06-10'),
 (3047610058.0, '2014-11-19'),
 (3059680055.0, '2009-04-28'),
 (3068530027.0, '2010-05-28'),
 (3004720019.0, '2009-06-26'),
 (3061550015.0, '2005-12-12'),
 (3012950053.0, '2005-06-30'),
 (3017700052.0, '2014-12-29'),
 (3054940093.0, '2015-04-01'),
 (3005310006.0, '2006-04-18'),
 (3041150017.0, '2010-07-08'),
 (3086480001.0, '2004-03-05'),
 (3054760014.0, '2013-06-05'),
 (3031710060.0, '2005-09-12'),
 (3057640025.0, '2008-03-04'),
 (3044580053.0, '2013-11-07'),
 (3048510012.0, '2014-09-30'),
 (3062190026.0, '2015-02-05'),
 (3082200064.0, '2013-06-18'),
 (3088040097.0, '2005-12-15'),

In [87]:
brooklyn.loc[(brooklyn.bbl == 3087310024) & (brooklyn.sale_date == '2013-04-08')]

,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,lotfront,...,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_2.0,lottype_3.0,lottype_4.0,lottype_5.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2,tax_class_at_time_of_sale_3
169050,NaN,0.0,0.0,0.0,1760.0,NaN,2.0,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
data_dir = "data/nyc_pluto_16v1"
initials = {"manhattan" : "MN", "brooklyn" : "BK", "bronx" : "BX",
        "queens" : "QN", "statenisland" : "SI"}
filename = "{data_dir}/{boro}.csv".format(data_dir = data_dir,
            boro = initials.get('brooklyn'))
pluto_raw_brooklyn = pd.read_csv(filename, low_memory = False)