In [26]:
import pandas as pd 
import numpy as np

In [37]:
data = pd.read_csv('affected_properties_tax_calculation.csv')
data.head()

,bbl,y_pred_postlightrail,y_pred_prelightrail,y_true,update,sale_price
0,4000150010,857.746446,397.727167,254.141566,293.945271,2700000
1,4000250015,669.697589,196.766677,85.889571,206.436545,14000000
2,4000290035,708.947477,252.156236,158.057360,286.327314,997500
3,4000300031,787.362303,317.247139,259.090909,383.935898,1710000
4,4000400011,994.576245,479.563312,367.857143,395.049373,618000

In [38]:
data['percent_increase'] = (data['y_pred_postlightrail']-data['y_pred_prelightrail'])/data['y_pred_prelightrail']
data.head()

,bbl,y_pred_postlightrail,y_pred_prelightrail,y_true,update,sale_price,percent_increase
0,4000150010,857.746446,397.727167,254.141566,293.945271,2700000,1.156620
1,4000250015,669.697589,196.766677,85.889571,206.436545,14000000,2.403511
2,4000290035,708.947477,252.156236,158.057360,286.327314,997500,1.811541
3,4000300031,787.362303,317.247139,259.090909,383.935898,1710000,1.481858
4,4000400011,994.576245,479.563312,367.857143,395.049373,618000,1.073921

In [39]:
data['pred_sale_price'] = data['sale_price']*data['percent_increase']
data.head()

,bbl,y_pred_postlightrail,y_pred_prelightrail,y_true,update,sale_price,percent_increase,pred_sale_price
0,4000150010,857.746446,397.727167,254.141566,293.945271,2700000,1.156620,3.122875e+06
1,4000250015,669.697589,196.766677,85.889571,206.436545,14000000,2.403511,3.364916e+07
2,4000290035,708.947477,252.156236,158.057360,286.327314,997500,1.811541,1.807012e+06
3,4000300031,787.362303,317.247139,259.090909,383.935898,1710000,1.481858,2.533977e+06
4,4000400011,994.576245,479.563312,367.857143,395.049373,618000,1.073921,6.636829e+05

In [40]:
current_tax_income = np.sum(data['sale_price']*0.00796)
new_tax_income = np.sum(data['pred_sale_price']*0.00796)

tax_revenue_increase = new_tax_income - current_tax_income 

percent_tax_revenue_increase = (tax_revenue_increase/current_tax_income)*100

#0.72
print current_tax_income
print new_tax_income


print tax_revenue_increase
print percent_tax_revenue_increase

44156117.57
97558223.0293
53402105.4593
120.939313504

In [36]:
bbls = pd.read_csv('Queens Light Rail BBL.csv')
bbls.shape

(23713, 1)