In [1]:
import merge_pluto_finance_new as mpf

In [2]:
import pandas as pd
import numpy as np

In [7]:
boros = ["manhattan", "brooklyn", "bronx", "queens", "si"]
years = list(range(2003, 2017))

In [4]:
boros = ["".join(boro.lower().split()) for boro in boros]

In [5]:
pluto = mpf.read_in_pluto(boros)

In [8]:
finance = mpf.read_in_finance(boros, years)

Pulling Finance data for 2003_manhattan
Pulling Finance data for 2003_brooklyn
Pulling Finance data for 2003_bronx
Pulling Finance data for 2003_queens
Pulling Finance data for 2003_si
Pulling Finance data for 2004_manhattan
Pulling Finance data for 2004_brooklyn
Pulling Finance data for 2004_bronx
Pulling Finance data for 2004_queens
Pulling Finance data for 2004_si
Pulling Finance data for 2005_manhattan
Pulling Finance data for 2005_brooklyn
Pulling Finance data for 2005_bronx
Pulling Finance data for 2005_queens
Pulling Finance data for 2005_si
Pulling Finance data for 2006_manhattan
Pulling Finance data for 2006_brooklyn
Pulling Finance data for 2006_bronx
Pulling Finance data for 2006_queens
Pulling Finance data for 2006_si
Pulling Finance data for 2007_manhattan
Pulling Finance data for 2007_brooklyn
Pulling Finance data for 2007_bronx
Pulling Finance data for 2007_queens
Pulling Finance data for 2007_si
Pulling Finance data for 2008_manhattan
Pulling Finance data for 2008_brooklyn
Pulling Finance data for 2008_bronx
Pulling Finance data for 2008_queens
Pulling Finance data for 2008_si
Pulling Finance data for 2009_manhattan
Pulling Finance data for 2009_brooklyn
Pulling Finance data for 2009_bronx
Pulling Finance data for 2009_queens
Pulling Finance data for 2009_si
Pulling Finance data for 2010_manhattan
Pulling Finance data for 2010_brooklyn
Pulling Finance data for 2010_bronx
Pulling Finance data for 2010_queens
Pulling Finance data for 2010_si
Pulling Finance data for 2011_manhattan
Pulling Finance data for 2011_brooklyn
Pulling Finance data for 2011_bronx
Pulling Finance data for 2011_queens
Pulling Finance data for 2011_si
Pulling Finance data for 2012_manhattan
Pulling Finance data for 2012_brooklyn
Pulling Finance data for 2012_bronx
Pulling Finance data for 2012_queens
Pulling Finance data for 2012_si
Pulling Finance data for 2013_manhattan
Pulling Finance data for 2013_brooklyn
Pulling Finance data for 2013_bronx
Pulling Finance data for 2013_queens
Pulling Finance data for 2013_si
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_bronx
Pulling Finance data for 2014_queens
Pulling Finance data for 2014_si
Pulling Finance data for 2015_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_bronx
Pulling Finance data for 2015_queens
Pulling Finance data for 2015_si
Pulling Finance data for 2016_manhattan
Pulling Finance data for 2016_brooklyn
Pulling Finance data for 2016_bronx
Pulling Finance data for 2016_queens
Pulling Finance data for 2016_si

In [9]:
finance.shape

(1018238, 9)

In [10]:
finance.drop_duplicates().shape

(1005250, 9)

In [12]:
finance.shape[0] - finance.drop_duplicates().shape[0]

12988

In [15]:
finance.bbl.value_counts()[finance.bbl.value_counts() > 1]

1014491302    15
4057400139    15
4050070022    15
1011581107    15
1012370017    15
4074740050    15
3053290072    15
4085110002    15
4053740016    15
3003020009    15
1012470047    15
1016001002    15
1011420048    15
1014021002    15
4051930009    15
4018720045    15
1013330023    15
3002310019    15
3065320076    15
3073970001    15
1018790001    15
1013940007    15
1011680022    15
1006090047    15
1015900007    15
4114590001    15
1008770074    15
1014380001    15
3087231004    15
4014570001    15
              ..
1019030020     2
4091540049     2
4028480022     2
4021670011     2
3022241416     2
3048690081     2
1015261330     2
3055520057     2
4030310049     2
3002711025     2
5002540049     2
4031660131     2
3068780028     2
4135990012     2
4091750088     2
5070411056     2
4104770013     2
4095720024     2
5053310040     2
4000770049     2
2051350031     2
4121460021     2
3002990016     2
2029190044     2
4030930007     2
3032380001     2
4006210010     2
1018310116     2
3085550047     2
5007940138     2
Name: bbl, dtype: int64