In [1]:
import merge_pluto_finance_new as mpf

In [2]:
import pandas as pd
import numpy as np

In [3]:
boros = ["manhattan", "brooklyn", "bronx", "queens", "si"]
years = list(range(2003, 2017))

In [4]:
boros = ["".join(boro.lower().split()) for boro in boros]

In [5]:
pluto = mpf.read_in_pluto(boros)

In [6]:
finance = mpf.read_in_finance(boros, years)

Pulling Finance data for 2003_manhattan
Pulling Finance data for 2003_brooklyn
Pulling Finance data for 2003_bronx
Pulling Finance data for 2003_queens
Pulling Finance data for 2003_si
Pulling Finance data for 2004_manhattan
Pulling Finance data for 2004_brooklyn
Pulling Finance data for 2004_bronx
Pulling Finance data for 2004_queens
Pulling Finance data for 2004_si
Pulling Finance data for 2005_manhattan
Pulling Finance data for 2005_brooklyn
Pulling Finance data for 2005_bronx
Pulling Finance data for 2005_queens
Pulling Finance data for 2005_si
Pulling Finance data for 2006_manhattan
Pulling Finance data for 2006_brooklyn
Pulling Finance data for 2006_bronx
Pulling Finance data for 2006_queens
Pulling Finance data for 2006_si
Pulling Finance data for 2007_manhattan
Pulling Finance data for 2007_brooklyn
Pulling Finance data for 2007_bronx
Pulling Finance data for 2007_queens
Pulling Finance data for 2007_si
Pulling Finance data for 2008_manhattan
Pulling Finance data for 2008_brooklyn
Pulling Finance data for 2008_bronx
Pulling Finance data for 2008_queens
Pulling Finance data for 2008_si
Pulling Finance data for 2009_manhattan
Pulling Finance data for 2009_brooklyn
Pulling Finance data for 2009_bronx
Pulling Finance data for 2009_queens
Pulling Finance data for 2009_si
Pulling Finance data for 2010_manhattan
Pulling Finance data for 2010_brooklyn
Pulling Finance data for 2010_bronx
Pulling Finance data for 2010_queens
Pulling Finance data for 2010_si
Pulling Finance data for 2011_manhattan
Pulling Finance data for 2011_brooklyn
Pulling Finance data for 2011_bronx
Pulling Finance data for 2011_queens
Pulling Finance data for 2011_si
Pulling Finance data for 2012_manhattan
Pulling Finance data for 2012_brooklyn
Pulling Finance data for 2012_bronx
Pulling Finance data for 2012_queens
Pulling Finance data for 2012_si
Pulling Finance data for 2013_manhattan
Pulling Finance data for 2013_brooklyn
Pulling Finance data for 2013_bronx
Pulling Finance data for 2013_queens
Pulling Finance data for 2013_si
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_bronx
Pulling Finance data for 2014_queens
Pulling Finance data for 2014_si
Pulling Finance data for 2015_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_bronx
Pulling Finance data for 2015_queens
Pulling Finance data for 2015_si
Pulling Finance data for 2016_manhattan
Pulling Finance data for 2016_brooklyn
Pulling Finance data for 2016_bronx
Pulling Finance data for 2016_queens
Pulling Finance data for 2016_si

In [7]:
dtm = mpf.read_in_dtm(boros)

In [8]:
pluto.shape[0] - pluto.drop_duplicates().shape[0]

0

In [9]:
finance.shape[0] - finance.drop_duplicates().shape[0]

0

In [10]:
dtm.shape[0] - dtm.drop_duplicates().shape[0]

0

In [11]:
buildings = mpf.merge_pluto_finance(pluto, finance, dtm)

Updating lot numbers for condo units
Finance:(267610, 9) PLUTO:(812364, 41) DTM:(228319, 6)
Finance updated:(267610, 8)
Merging PLUTO with updated Dept. of Finance data

In [12]:
buildings.shape[0] - buildings.drop_duplicates().shape[0]

372

In [13]:
finance_updated = mpf.get_finance_condo_lot(pluto, finance, dtm)

In [14]:
finance_updated.shape[0] - finance_updated.drop_duplicates().shape[0]

626

In [15]:
dtm_cols_to_keep = ['unit_bbl', 'condo_boro', 'condo_numb']
pluto_cols_to_keep = ['bbl', 'block', 'borocode', 'condono']

finance_condos_only = pd.merge(finance, dtm[dtm_cols_to_keep],
    how='inner', left_on=['bbl'], right_on=['unit_bbl'])

# for condos: finance.bbl == finance_condos_only.unit_bbl
#             finance_condos_only.bbl_pluto == pluto.bbl
finance_condos_only = pd.merge(pluto[pluto_cols_to_keep],
    finance_condos_only, how='inner',
    left_on=['borocode', 'block', 'condono'],
    right_on=['condo_boro', 'block', 'condo_numb'],
    suffixes=['_pluto', '_finance'])

finance_condos_only['bbl_pluto'] = finance_condos_only['bbl_pluto'].astype(int)
finance_condos_only = finance_condos_only[['bbl_pluto', 'bbl_finance']]

In [16]:
finance_condos_only.shape[0] - finance_condos_only.drop_duplicates().shape[0]

358

In [17]:
finance_condos_only = finance_condos_only[
            ['bbl_pluto', 'bbl_finance']].drop_duplicates()

In [19]:
# get a list of bbls that are not condos (same in pluto and finance)
standard_bbls = list(set(finance.bbl).difference(
                    set(finance_condos_only.bbl_finance)))
# combine condo bbls that differ with standard bbls that are the same
bbl_mappings = finance_condos_only.append(pd.DataFrame.from_dict(
    {'bbl_pluto': standard_bbls, 'bbl_finance': standard_bbls}
))

In [20]:
finance_condo_updated = pd.merge(finance, bbl_mappings,
        how='left', left_on='bbl', right_on='bbl_finance')

In [23]:
finance_condo_updated.shape[0] - finance_condo_updated.drop_duplicates().shape[0]

626

In [22]:
finance_condo_updated = finance_condo_updated.drop(
        ['block','bbl', 'bbl_finance'], axis=1)

In [25]:
finance_condo_updated[finance_condo_updated.duplicated()]

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units,bbl_pluto
291,350000,2014-10-30,1,1930,1,1,2,1000167502
943,455000,2008-08-25,1,1925,1,0,1,1000167506
993,45000,2016-02-10,4,1963,0,0,1,1000167506
1147,63000,2016-02-10,4,1963,0,0,1,1000167507
1273,45000,2016-02-10,4,1963,0,0,1,1000167508
1301,45000,2016-02-10,4,1963,0,0,1,1000167508
1357,37500,2016-02-10,4,1963,0,0,1,1000167508
1410,58900,2013-06-05,4,2007,0,2,2,1000167508
1495,0,2014-09-25,4,2007,0,2,2,1000167508
1523,0,2014-09-25,4,2007,0,2,2,1000167508
1596,832000,2003-04-03,2,1987,1,0,1,1000167508
1971,116805,2014-09-16,4,2007,0,2,2,1000167511
2068,0,2013-05-21,4,2007,0,2,2,1000167511
2086,990000,2003-08-12,2,1990,1,0,1,1000167511
2099,12700,2016-01-08,4,1963,0,0,1,1000167511
2138,627500,2013-07-29,1,1935,3,0,3,1000167513
2250,520000,2013-12-05,1,1978,1,0,1,1000167513
2330,10,2009-12-21,2,2005,1,0,1,1000167513
2337,0,2016-01-05,4,1963,0,0,1,1000167513
2344,10,2009-12-21,2,2005,1,0,1,1000167513
2398,97400,2008-08-18,4,2007,0,2,2,1000167513
2444,58900,2013-05-14,4,2007,0,2,2,1000167513
3515,66800,2008-11-23,4,2007,0,2,2,1001007501
3563,49900,2014-12-17,4,2007,0,2,2,1001007501
3575,0,2012-07-31,2,2007,1,0,1,1001007501
3603,0,2012-07-31,2,2007,1,0,1,1001007501
3626,1925000,2007-01-24,2,1982,1,0,1,1001007501
3706,8521379,2003-05-29,2,0,1,0,1,1001007501
3717,49900,2014-12-17,4,2007,0,2,2,1001007501
3771,0,2012-07-31,2,2007,1,0,1,1001007501
...,...,...,...,...,...,...,...,...
165247,0,2009-08-06,2,1978,1,0,1,1018337504
165248,49900,2010-11-27,4,2007,0,2,2,1018337504
165261,0,2009-08-06,2,1978,1,0,1,1018337504
165262,49900,2010-11-27,4,2007,0,2,2,1018337504
165275,0,2009-08-06,2,1978,1,0,1,1018337504
165289,0,2009-08-06,2,1978,1,0,1,1018337504
165290,49900,2010-11-27,4,2007,0,2,2,1018337504
165303,0,2009-08-06,2,1978,1,0,1,1018337504
165318,0,2010-11-26,4,2007,0,2,2,1018337504
165345,0,2009-08-06,2,1978,1,0,1,1018337504
165347,527500,2011-05-02,2,1964,0,0,0,1018337504
165415,80100,2010-11-26,4,2007,0,2,2,1018337504
165443,49900,2010-11-24,4,2007,0,2,2,1018337504
165456,0,2009-08-06,2,1978,1,0,1,1018337504
165470,0,2009-08-06,2,1978,1,0,1,1018337504
165471,49900,2010-11-24,4,2007,0,2,2,1018337504
165534,715000,2003-01-22,2,1902,1,0,1,1018377501
165562,715000,2003-01-22,2,1902,1,0,1,1018377501
165576,715000,2003-01-22,2,1902,1,0,1,1018377501
165590,715000,2003-01-22,2,1902,1,0,1,1018377501
165604,715000,2003-01-22,2,1902,1,0,1,1018377501
167502,0,2011-02-04,4,2008,0,1,1,1018687501
167689,2345000,2003-01-22,2,1899,1,0,1,1018707501
167803,2345000,2003-01-22,2,1899,1,0,1,1018707501
167827,750000,2003-09-17,2,1899,1,0,1,1018707501
167839,0,2003-01-22,2,1899,1,0,1,1018707501
168461,0,2016-08-17,1,2012,1,0,1,1018817501
168700,0,2016-08-17,1,2012,1,0,1,1018827501
169011,0,2016-08-17,1,2012,1,0,1,1018887501
173030,483077,2003-10-09,4,0,0,1,1,1019477501

In [28]:
finance[finance.sale_price == 350000]

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units,block,bbl
283242,350000,2005-10-28,1,0,1,0,1,8281,1000161173
1110265,350000,2014-10-30,1,1930,1,1,2,3821,1000162062
1110266,350000,2014-10-30,1,1930,1,1,2,3821,1000162086
1022490,350000,2013-10-24,1,1960,2,0,2,4402,1000162267
244253,350000,2004-12-20,1,1955,1,0,1,391,1000162745
694168,350000,2009-02-11,2,1962,0,0,0,909,1000162752
1141880,350000,2014-04-28,1,1920,1,0,1,16138,1000163033
1141886,350000,2014-06-30,1,1945,2,0,2,16123,1000163064
1231569,350000,2015-09-17,2,1972,0,0,0,8489,1000163081
659880,350000,2008-02-14,1,1925,1,0,1,3683,1000163096
1141901,350000,2014-11-07,1,0,0,0,0,16110,1000164099
244291,350000,2004-01-30,1,1920,1,0,1,440,1000165094
1199535,350000,2015-02-06,1,1990,1,0,1,3774,1000167041
1141961,350000,2014-03-12,1,1920,2,0,2,6856,1000168090
244354,350000,2004-05-20,1,1970,1,0,1,474,1000169009
193089,350000,2004-10-01,4,1964,0,1,1,769,1000240032
822131,350000,2010-12-17,1,2003,2,0,2,5157,1000651002
1288590,350000,2015-12-14,1,2004,3,0,3,4519,1000930024
1319955,350000,2016-08-16,1,0,0,0,0,3600,1000970024
1319943,350000,2015-11-27,1,1910,3,0,3,3682,1000971004
659645,350000,2008-05-29,1,1950,1,0,1,8537,1001001030
966443,350000,2012-01-23,1,1955,1,0,1,14143,1001001065
628839,350000,2008-08-22,1,1920,2,0,2,5172,1001001071
1053141,350000,2013-01-28,1,1940,1,0,1,3650,1001001099
283409,350000,2005-12-08,4,1931,0,1,1,4687,1001321015
1288851,350000,2016-04-19,4,1920,0,1,1,3697,1001321122
12156,350000,2003-12-18,2,0,0,1,1,132,1001321401
1199609,350000,2015-12-17,1,1920,1,0,1,4178,1001401212
786741,350000,2010-06-09,1,1899,2,0,2,2618,1001411204
283191,350000,2005-11-21,1,0,1,0,1,8181,1001440013
...,...,...,...,...,...,...,...,...,...
178290,350000,2004-12-14,4,1931,2,1,3,3089,3082731356
471836,350000,2006-01-25,1,1920,1,0,1,12632,3082731372
178334,350000,2004-02-18,4,1931,0,1,1,2273,3082731402
100603,350000,2003-03-11,1,1920,1,0,1,11763,3082731413
471340,350000,2006-02-07,1,1930,1,0,1,10952,3082800076
351483,350000,2005-03-04,1,1920,2,0,2,11965,3082811006
471389,350000,2006-11-15,1,1930,2,0,2,10969,3082970063
55770,350000,2003-10-31,1,1910,2,0,2,3400,3083050028
223795,350000,2004-01-16,1,2004,1,0,1,13232,3083070025
177905,350000,2004-12-15,2,0,1,0,1,2264,3083230024
49619,350000,2003-02-25,1,1925,1,0,1,7131,3083421025
218539,350000,2004-10-12,1,1931,1,1,2,10775,3083431100
218603,350000,2004-03-18,1,1950,1,0,1,11098,3083660031
465229,350000,2006-04-14,1,1950,2,0,2,16216,3083741031
218477,350000,2004-08-24,1,1920,1,0,1,10735,3084430048
579595,350000,2007-10-05,1,1920,1,0,1,15013,3086670731
466975,350000,2006-11-01,1,1930,1,0,1,12206,3086680809
579608,350000,2007-10-02,1,1920,2,0,2,12276,3086710030
95739,350000,2003-06-05,2,1930,4,0,4,9337,3086730058
220382,350000,2004-04-23,1,1930,1,0,1,9312,3086770097
466984,350000,2006-05-09,1,1925,1,0,1,12208,3087010114
220783,350000,2004-10-06,1,1920,1,0,1,9553,3087201603
96018,350000,2003-01-13,1,1910,2,0,2,3502,3087201647
579946,350000,2007-12-14,1,1950,1,0,1,10271,3087201670
579957,350000,2007-07-31,1,1945,1,0,1,10273,3087201733
579959,350000,2007-07-27,1,1960,2,0,2,10274,3087201735
220705,350000,2004-07-16,1,1920,2,0,2,9532,3087201838
220722,350000,2004-02-04,1,1920,1,1,2,9534,3087201856
51767,350000,2003-09-05,2,1956,0,0,0,1170,3087201868
220752,350000,2004-03-29,1,1920,1,0,1,9546,3087201887

In [31]:
buildings.yearbuilt

0         1900.0
1         1900.0
2         1900.0
3         1900.0
4         1900.0
5         1900.0
6         1900.0
7         1900.0
8         1900.0
9         1900.0
10        1900.0
11        1900.0
12        1900.0
13        1900.0
14        1970.0
15        1970.0
16        1970.0
17        1970.0
18        1970.0
19        1970.0
20        1970.0
21        1970.0
22        1970.0
23        1970.0
24        1970.0
25        1970.0
26        1970.0
27        1970.0
28        1970.0
29        1970.0
           ...
198935    1935.0
198936    1935.0
198937    1935.0
198938    1935.0
198939    1962.0
198940    1962.0
198941    1962.0
198942    1962.0
198943    1962.0
198944    1959.0
198945    1959.0
198946    1959.0
198947    1959.0
198948    1959.0
198949    1935.0
198950    1935.0
198951    1935.0
198952    1935.0
198953    1935.0
198954    1987.0
198955    1987.0
198956    1987.0
198957    1987.0
198960    2003.0
198961    2003.0
198964    1941.0
198965    1941.0
198966    1941.0
198967    1941.0
198968    1941.0
Name: yearbuilt, dtype: float64