In [1]:
!ls data/finance_sales

2003_bronx.xls        2007_statenisland.xls 2012_queens.xls
2003_brooklyn.xls     2008_bronx.xls        2012_statenisland.xls
2003_manhattan.xls    2008_brooklyn.xls     2013_bronx.xls
2003_queens.xls       2008_manhattan.xls    2013_brooklyn.xls
2003_statenisland.xls 2008_queens.xls       2013_manhattan.xls
2004_bronx.xls        2008_statenisland.xls 2013_queens.xls
2004_brooklyn.xls     2009_bronx.xls        2013_statenisland.xls
2004_manhattan.xls    2009_brooklyn.xls     2014_bronx.xls
2004_queens.xls       2009_manhattan.xls    2014_brooklyn.xls
2004_statenisland.xls 2009_queens.xls       2014_manhattan.xls
2005_bronx.xls        2009_statenisland.xls 2014_queens.xls
2005_brooklyn.xls     2010_bronx.xls        2014_statenisland.xls
2005_manhattan.xls    2010_brooklyn.xls     2015_bronx.xls
2005_queens.xls       2010_manhattan.xls    2015_brooklyn.xls
2005_statenisland.xls 2010_queens.xls       2015_manhattan.xls
2006_bronx.xls        2010_statenisland.xls 2015_queens.xls
2006_brooklyn.xls     2011_bronx.xls        2015_statenisland.xls
2006_manhattan.xls    2011_brooklyn.xls     2016_bronx.xls
2006_queens.xls       2011_manhattan.xls    2016_brooklyn.xls
2006_statenisland.xls 2011_queens.xls       2016_manhattan.xls
2007_bronx.xls        2011_statenisland.xls 2016_queens.xls
2007_brooklyn.xls     2012_bronx.xls        2016_statenisland.xls
2007_manhattan.xls    2012_brooklyn.xls     data_dictionary.pdf
2007_queens.xls       2012_manhattan.xls

In [2]:
import pandas as pd
import numpy as np
from merge_pluto_finance import *

In [3]:
boros = ['brooklyn', 'manhattan']
pluto = read_in_pluto(boros)

In [4]:
years = [2014, 2015]
finance = read_in_finance(boros, years)

Pulling Finance data for 2014_brooklyn
Pulling Finance data for 2014_manhattan
Pulling Finance data for 2015_brooklyn
Pulling Finance data for 2015_manhattan

In [5]:
finance.columns

Index(['sale_price', 'sale_date', 'tax_class_at_time_of_sale', 'year_built',
       'residential_units', 'commercial_units', 'total_units'],
      dtype='object')

In [6]:
finance.isnull().sum()

sale_price                   0
sale_date                    0
tax_class_at_time_of_sale    0
year_built                   0
residential_units            0
commercial_units             0
total_units                  0
dtype: int64

In [7]:
finance.head()

,sale_price,sale_date,tax_class_at_time_of_sale,year_built,residential_units,commercial_units,total_units
10874,0,2014-03-21,4,1920,0,90,90
10763,1598000,2014-04-30,2,1920,1,0,1
10764,3309312,2014-05-23,2,1920,1,0,1
10765,1210000,2014-06-09,2,1920,1,0,1
10766,1333907,2014-05-21,2,1920,1,0,1

In [ ]:
#Categorical Variables:
    #tax_class_at_time_of_sale [1,2,3,4]

In [19]:
df_with_cats = pd.read_csv('data/merged/brooklyn_2010_2010.csv')
df_with_cats.head()

,zipcode,ltdheight,splitzone,easements,comarea,resarea,numbldgs,numfloors,unitsres,unitstotal,...,landuse_6.0,proxcode_1.0,proxcode_2.0,lottype_0.0,lottype_1.0,lottype_2.0,lottype_3.0,lottype_4.0,tax_class_at_time_of_sale_1,tax_class_at_time_of_sale_2
0,11201.0,0.0,0.0,1.0,13518.0,227916.0,1.0,15.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,11201.0,0.0,0.0,1.0,13518.0,227916.0,1.0,15.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,11201.0,0.0,0.0,1.0,13518.0,227916.0,1.0,15.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,11201.0,0.0,0.0,1.0,13518.0,227916.0,1.0,15.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,11201.0,0.0,0.0,1.0,13518.0,227916.0,1.0,15.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [20]:
list(df_with_cats.columns)

['zipcode',
 'ltdheight',
 'splitzone',
 'easements',
 'comarea',
 'resarea',
 'numbldgs',
 'numfloors',
 'unitsres',
 'unitstotal',
 'lotfront',
 'lotdepth',
 'bldgfront',
 'bldgdepth',
 'irrlotcode',
 'bsmtcode',
 'yearbuilt',
 'builtcode',
 'histdist',
 'landmark',
 'condono',
 'xcoord',
 'ycoord',
 'zonemap',
 'latitude',
 'longitude',
 'gross_sqft_pluto',
 'garage',
 'extension',
 'countalter',
 'sale_price',
 'sale_date',
 'year_built',
 'residential_units',
 'commercial_units',
 'total_units',
 'price_per_sqft',
 'schooldist_mv',
 'council_mv',
 'zipcode_mv',
 'ownertype_mv',
 'numbldgs_mv',
 'unitsres_mv',
 'unitstotal_mv',
 'lotfront_mv',
 'lotdepth_mv',
 'bldgfront_mv',
 'bldgdepth_mv',
 'proxcode_mv',
 'xcoord_mv',
 'ycoord_mv',
 'zonemap_mv',
 'latitude_mv',
 'longitude_mv',
 'schooldist_13.0',
 'schooldist_14.0',
 'schooldist_15.0',
 'schooldist_16.0',
 'schooldist_17.0',
 'schooldist_18.0',
 'schooldist_19.0',
 'schooldist_20.0',
 'schooldist_21.0',
 'schooldist_22.0',
 'schooldist_23.0',
 'council_33.0',
 'council_34.0',
 'council_35.0',
 'council_36.0',
 'council_37.0',
 'council_38.0',
 'council_39.0',
 'council_40.0',
 'council_41.0',
 'council_42.0',
 'council_43.0',
 'council_44.0',
 'council_45.0',
 'council_46.0',
 'council_47.0',
 'bldgclass_R1',
 'bldgclass_R2',
 'bldgclass_R3',
 'bldgclass_R4',
 'bldgclass_R6',
 'bldgclass_R9',
 'bldgclass_RB',
 'bldgclass_RC',
 'bldgclass_RG',
 'bldgclass_RK',
 'bldgclass_RM',
 'bldgclass_RR',
 'bldgclass_RW',
 'bldgclass_RX',
 'landuse_2.0',
 'landuse_3.0',
 'landuse_4.0',
 'landuse_5.0',
 'landuse_6.0',
 'proxcode_1.0',
 'proxcode_2.0',
 'lottype_0.0',
 'lottype_1.0',
 'lottype_2.0',
 'lottype_3.0',
 'lottype_4.0',
 'tax_class_at_time_of_sale_1',
 'tax_class_at_time_of_sale_2']