In [1]:
import pandas as pd

In [2]:
manhattan = pd.read_csv("data/nyc_pluto_16v1/MN.csv", low_memory = False)
brooklyn = pd.read_csv("data/nyc_pluto_16v1/BK.csv",low_memory = False)
bronx = pd.read_csv("data/nyc_pluto_16v1/BX.csv",low_memory = False)
queens = pd.read_csv("data/nyc_pluto_16v1/QN.csv",low_memory = False)
statenisland = pd.read_csv("data/nyc_pluto_16v1/SI.csv",low_memory = False)

In [8]:
print(manhattan.shape)
print(brooklyn.shape)
print(bronx.shape)
print(queens.shape)
print(statenisland.shape)

(43158, 86)
(277572, 86)
(89897, 86)
(324556, 86)
(124022, 86)

In [3]:
pluto = pd.concat([manhattan, brooklyn, bronx, queens, statenisland], axis = 0)
pluto.shape

(859205, 86)

In [4]:
pd.options.display.max_seq_items = 6000
print(dict(pluto.isnull().sum()))

{'NumBldgs': 0, 'Block': 0, 'LotDepth': 0, 'NumFloors': 0, 'BBL': 0, 'SanitDistrict': 6572, 'APPDate': 772462, 'HistDist': 829914, 'BldgClass': 517, 'Version': 0, 'Overlay2': 858980, 'Address': 554, 'EDesigNum': 850772, 'AreaSource': 0, 'LotFront': 0, 'CondoNo': 0, 'YearBuilt': 0, 'Sanborn': 1560, 'YearAlter1': 0, 'YCoord': 25023, 'SanitBoro': 6641, 'OtherArea': 0, 'ZoneDist1': 476, 'RetailArea': 0, 'HealthArea': 3516, 'AllZoning1': 476, 'Borough': 0, 'ZMCode': 843565, 'UnitsRes': 0, 'CB2010': 21384, 'GarageArea': 0, 'BldgFront': 0, 'OwnerName': 8594, 'UnitsTotal': 0, 'ExemptTot': 0, 'OfficeArea': 0, 'ProxCode': 519, 'TaxMap': 1560, 'ZoneMap': 368, 'ExemptLand': 0, 'LotType': 519, 'ZoneDist2': 833634, 'XCoord': 25023, 'OwnerType': 749804, 'APPBBL': 519, 'FactryArea': 0, 'AssessLand': 0, 'LtdHeight': 856135, 'SPDist1': 763555, 'BsmtCode': 519, 'AllZoning2': 833634, 'ResArea': 0, 'Ext': 508196, 'ZipCode': 4380, 'SPDist2': 859153, 'BldgArea': 0, 'YearAlter2': 0, 'Tract2010': 0, 'BoroCode': 0, 'CommFAR': 0, 'PolicePrct': 3203, 'AssessTot': 0, 'ResidFAR': 0, 'ComArea': 0, 'Landmark': 857871, 'LotArea': 0, 'FacilFAR': 0, 'SanitSub': 15396, 'Overlay1': 781160, 'CD': 0, 'Council': 3167, 'Lot': 0, 'StrgeArea': 0, 'BuiltFAR': 0, 'Easements': 0, 'FireComp': 3788, 'LandUse': 3125, 'IrrLotCode': 519, 'BldgDepth': 0, 'CT2010': 4291, 'PLUTOMapID': 0, 'SplitZone': 519, 'SchoolDist': 3094, 'BuiltCode': 262629, 'ZoneDist3': 858872, 'ZoneDist4': 859186}

In [5]:
pluto.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,MN,1,10,101,5.0,1018.0,2.0,1.0,10004.0,E007,...,190225.0,16a,Y,199 999,10101.0,NaN,0.0,NaN,1,16v1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,190636.0,16a,Y,199 999,10101.0,NaN,0.0,NaN,1,16v1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,193648.0,12b,NaN,199 999,10101.0,NaN,0.0,NaN,1,16v1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,12b,NaN,199 999,10101.0,NaN,0.0,NaN,4,16v1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,12b,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,16v1

In [6]:
len(pluto['CT2010'].unique())

1336

In [7]:
len(pluto['CB2010'].unique())

353

In [8]:
len(pluto['ZipCode'].unique())

197

In [9]:
len(pluto['HealthArea'].unique())

211

In [10]:
len(pluto['ZoneDist1'].unique())

162

In [11]:
len(pluto['AllZoning1'].unique())

874

In [12]:
len(pluto['Tract2010'].unique())

1331

In [15]:
pluto[["Borough", "Block", "Lot", "BBL"]].head(10)

  Borough  Block  Lot         BBL
0      MN      1   10  1000010010
1      MN      1  101  1000010101
2      MN      1  201  1000010201
3      MN      1  301  1000010301
4      MN      1  401  1000010401
5      MN      2    1  1000020001
6      MN      2    2  1000020002
7      MN      2    3  1000020003
8      MN      2   23  1000020023
9      MN      3    1  1000030001